In [2]:
# import libraries
import pandas as pd
import numpy as np
import pickle

In [3]:
!pip install xlrd

Collecting xlrd
  Using cached xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

In [5]:
dictNonChaebol = {}

# 2001

In [38]:
year = '2001'
df = pd.read_excel("../data/kftc/affilNumTtlAsset/affilNumTtlAsset01.xls", skiprows=[0, 1, 2], header=[0, 1])
df.iloc[:, 1] = df.iloc[:, 1].ffill()
df = df[df.iloc[:, 1] != '지정 제외 집단']
# print(df.iloc[:, 1].unique())
df = df.copy().iloc[:, [2, 3, 4, 10]]
df.columns = ['chaebol', '동일인', 'n_affil_2001', 'ttl_asset_2001']
lstNonChaebol = ['포항제철', '현대정유', '하나로통신', '대우전자', '고합']
dictNonChaebol[year] = lstNonChaebol
df = df.drop([0, 16, 24, 25, 29])
df = df.sort_values(['ttl_asset_2001'], ascending=False)
df['rank'] = df['ttl_asset_2001'].rank(ascending=False)
df.to_excel("../data/overview/affilNumTtlAsset/affilNumTtlAsset2001.xlsx", index=False)
df.tail(50)

   chaebol  동일인  n_affil_2001  ttl_asset_2001  rank
6       삼성  이건희          64.0         69873.0   1.0
14      현대  정몽헌          26.0         53632.0   2.0
9       엘지  구본무          43.0         51965.0   3.0
8     에스케이  최태원          54.0         47379.0   4.0
28   현대자동차  정몽구          16.0         36136.0   5.0
12      한진  조중훈          19.0         21307.0   6.0
5       롯데  신격호          31.0         16694.0   7.0
1       금호  박성용          17.0         11606.0   8.0
13      한화  김승연          25.0         11496.0   9.0
19      두산  박용곤          18.0         11192.0  10.0
7       쌍용  김석원          20.0          9039.0  11.0
11      한솔  이인희          19.0          6983.0  12.0
17      동부  김준기          19.0          5831.0  13.0
2       대림  이준용          17.0          5395.0  14.0
4       동양  현재현          30.0          5107.0  15.0
15      효성  조석래          15.0          4950.0  16.0
22    제일제당  이재현          30.0          4763.0  17.0
10     코오롱  이동찬          25.0          4640.0  18.0
3     동국제강  장세주           8.0          4342.0  19.0
27  현대산업개발  정세영           9.0          4070.0  20.0
20     신세계  이명희           9.0          3221.0  21.0
21      영풍  장병희          24.0          2897.0  22.0
26   현대백화점  정몽근          15.0          2858.0  23.0
18    동양화학  이회림          22.0          2826.0  24.0
23    태광산업  이식진          15.0          2598.0  25.0

# Loop

In [36]:
dictNonChaebol = {}
for yr in range(2001, 2023):
    year = str(yr)
    print("="*20+year+"="*20)
    df = pd.read_excel(f"../data/raw/kftc/affilNumTtlAsset/affilNumTtlAsset{year[2:]}.xls", skiprows=[0, 1, 2], header=[0, 1])
    df.iloc[:, 1] = df.iloc[:, 1].ffill()
    df.iloc[:, 2] = df.iloc[:, 2].ffill()
    df = df[df.iloc[:, 1] != '지정 제외 집단']
    df = df[df.iloc[:, 2] != '계']
    # print(df.iloc[:, 1].unique())
    df = df.copy().iloc[:, [2, 3, 4, 10]]
    df.columns = ['chaebol', f'the_same_person_{year}', f'n_affil_{year}', f'ttl_asset_{year}']
    rowsToDrop = list(df[df[f'the_same_person_{year}'].str.len() >= 4].index)
    rowsToDrop.extend(df[df[f'the_same_person_{year}'] == '포스코'].index)
    lstNonChaebol = list(df[df[f'the_same_person_{year}'].str.len() >= 4][f'the_same_person_{year}'])
    for grp in lstNonChaebol:
        if ('포스코' in grp) or ('포항제철' in grp):
            break
    else:
        lstNonChaebol.append('포스코')
    print(lstNonChaebol)
    dictNonChaebol[year] = lstNonChaebol
    df = df.drop(rowsToDrop)
    df = df.sort_values([f'ttl_asset_{year}'], ascending=False)
    df[f'rank_{year}'] = df[f'ttl_asset_{year}'].rank(ascending=False, method='min')
    df.to_excel(f"../data/overview/affilNumTtlAsset/affilNumTtlAsset{year}.xlsx", index=False)
    
    df['chaebol'].replace('에스케이\(주\)', '에스케이', regex=True, inplace=True)
    df['chaebol'].replace('DB', '동부', regex=True, inplace=True)
    df['chaebol'].replace('DL', '대림', regex=True, inplace=True)
    df['chaebol'].replace('KCC', '케이씨씨', regex=True, inplace=True)
    if year == '2001':
        dfMrgd = df
    else:
        dfMrgd = dfMrgd.merge(df, how='outer', on='chaebol')
    print(df.head(50))
    print("="*20+year+"="*20)

====================2001====================
['(주)고합', '대우전자(주)', '포항제철', '하나로통신', '현대정유(주)']
   chaebol the_same_person_2001  n_affil_2001  ttl_asset_2001  rank_2001
6       삼성                  이건희          64.0         69873.0        1.0
14      현대                  정몽헌          26.0         53632.0        2.0
9       엘지                  구본무          43.0         51965.0        3.0
8     에스케이                  최태원          54.0         47379.0        4.0
28   현대자동차                  정몽구          16.0         36136.0        5.0
12      한진                  조중훈          19.0         21307.0        6.0
5       롯데                  신격호          31.0         16694.0        7.0
1       금호                  박성용          17.0         11606.0        8.0
13      한화                  김승연          25.0         11496.0        9.0
19      두산                  박용곤          18.0         11192.0       10.0
7       쌍용                  김석원          20.0          9039.0       11.0
11      한솔                  이인희          19.0          6983.0       12.0
17      동부                  김준기          19.0          5831.0       13.0
2       대림                  이준용          17.0          5395.0       14.0
4       동양                  현재현          30.0          5107.0       15.0
15      효성                  조석래          15.0          4950.0       16.0
22    제일제당                  이재현          30.0          4763.0       17.0
10     코오롱                  이동찬          25.0          4640.0       18.0
3     동국제강                  장세주           8.0          4342.0       19.0
27  현대산업개발                  정세영           9.0          4070.0       20.0
20     신세계                  이명희           9.0          3221.0       21.0
21      영풍                  장병희          24.0          2897.0       22.0
26   현대백화점                  정몽근          15.0          2858.0       23.0
18    동양화학                  이회림          22.0          2826.0       24.0
23    태광산업                  이식진          15.0          2598.0       25.0
====================2001====================
====================2002====================
['포항제철', '하나로통신', '현대정유(주)', '한국통신', '농업기반공사', '담배인삼공사', '대한주택공사', '한국가스공사', '한국도로공사', '한국수자원공사', '한국전력공사', '한국토지공사']
   chaebol the_same_person_2002  n_affil_2002  ttl_asset_2002  rank_2002
8       삼성                  이건희          63.0         72351.0        1.0
11      엘지                  구본무          51.0         54484.0        2.0
10    에스케이                  최태원          62.0         46754.0        3.0
24   현대자동차                  정몽구          25.0         41266.0        4.0
19      한진                  조중훈          21.0         21596.0        5.0
7       롯데                  신격호          32.0         17964.0        6.0
21      현대                  정몽헌          12.0         11784.0        7.0
0       금호                  박성용          15.0         10608.0        8.0
42   현대중공업                  정몽준           5.0         10323.0        9.0
20      한화                  김승연          26.0          9892.0       10.0
6       두산                  박용곤          18.0          8988.0       11.0
3       동부                  김준기          21.0          6083.0       12.0
26      효성                  조석래          15.0          4987.0       13.0
1       대림                  이준용          15.0          4985.0       14.0
14     코오롱                  이동찬          29.0          4589.0       15.0
13    제일제당                  이재현          28.0          4316.0       16.0
2     동국제강                  장세주           6.0          4267.0       17.0
18      한솔                  이인희          12.0          4162.0       18.0
9      신세계                  이명희          10.0          3935.0       19.0
4       동양                  현재현          16.0          3845.0       20.0
22   현대백화점                  정몽근          10.0          3262.0       21.0
23  현대산업개발                  정세영          10.0          3033.0       22.0
12      영풍                  장병희          24.0          2831.0       23.0
31      대상                  임창욱          12.0          2364.0       24.0
34      동원                  김재철          17.0          2322.0       25.0
15    태광산업                  이식진          18.0          2315.0       26.0
27    케이씨씨                  정상영           6.0          2311.0       27.0
5     동양화학                  이회림          19.0          2293.0       28.0
32      대성                  김영대          32.0          2126.0       29.0
35      부영                  이남형           4.0          2102.0       30.0
40   한국타이어                  조양래           6.0          2102.0       30.0
====================2002====================
====================2003====================
['농업기반공사', '대한주택공사', '(주)케이티', '(주)케이티앤지', '(주)포스코', '하나로통신(주)', '한국가스공사', '한국도로공사', '한국수자원공사', '한국전력공사', '한국토지공사', '대우자동차', '대우조선해양(주)', '(주)문화방송']
   chaebol the_same_person_2003  n_affil_2003  ttl_asset_2003  rank_2003
14      삼성                  이건희          63.0         83492.0        1.0
18      엘지                  구본무          50.0         58571.0        2.0
17    에스케이                  최태원          60.0         47463.0        3.0
39   현대자동차                  정몽구          25.0         44060.0        4.0
34      한진                  조양호          23.0         21041.0        5.0
12      롯데                  신격호          35.0         20741.0        6.0
35      한화                  김승연          33.0         14311.0        7.0
40   현대중공업                  정몽준           6.0         12379.0        8.0
36      현대                  정몽헌          12.0         10160.0        9.0
0       금호                  박성용          15.0          9698.0       10.0
11      두산                  박용곤          22.0          8452.0       11.0
7       동부                  김준기          23.0          7332.0       12.0
41      효성                  조석래          15.0          4958.0       13.0
15     신세계                  이명희          12.0          4689.0       14.0
2       대림                  이준용          15.0          4603.0       15.0
16     씨제이                  이재현          33.0          4538.0       16.0
8       동양                  현재현          15.0          4515.0       17.0
23     코오롱                  이동찬          32.0          4380.0       18.0
6     동국제강                  장세주           7.0          4079.0       19.0
37   현대백화점                  정몽근          18.0          3847.0       20.0
33      한솔                  이인희          13.0          3772.0       21.0
38  현대산업개발                  정세영          11.0          2800.0       22.0
19      영풍                  장형진          23.0          2771.0       23.0
20    케이씨씨                  정상영           7.0          2672.0       24.0
45    대한전선                  설원량           9.0          2501.0       25.0
10      동원                  김재철          17.0          2388.0       26.0
13      부영                  이남형          11.0          2360.0       27.0
24    태광산업                  이식진          20.0          2326.0       28.0
9     동양화학                  이회림          19.0          2241.0       29.0
47   삼보컴퓨터                  이홍순          30.0          2238.0       30.0
48   하이트맥주                  박문덕           9.0          2132.0       31.0
4       대성                  김영대          32.0          2121.0       32.0
31   한국타이어                  조양래           7.0          2068.0       33.0
3       대상                  임창욱           9.0          2067.0       34.0
42      농심                  신춘호          10.0          2039.0       35.0
====================2003====================
====================2004====================
['농업기반공사', '대우자동차', '대우조선해양', '대한주택공사', '(주)문화방송', '(주)케이티', '케이티앤지', '하나로통신(주)', '한국가스공사', '한국도로공사', '한국전력공사', '한국토지공사', '(주)대우건설', '지엠대우', '포스코']
   chaebol the_same_person_2004  n_affil_2004  ttl_asset_2004  rank_2004
18      삼성                  이건희          63.0         91946.0        1.0
22      엘지                  구본무          46.0         61648.0        2.0
43   현대자동차                  정몽구          28.0         52345.0        3.0
21    에스케이                  최태원          59.0         47180.0        4.0
38      한진                  조양호          23.0         25413.0        5.0
15      롯데                  신격호          36.0         24620.0        6.0
39      한화                  김승연          31.0         15084.0        7.0
44   현대중공업                  정몽준           6.0         14211.0        8.0
0       금호                  박성용          16.0         10602.0        9.0
14      두산                  박용곤          22.0          9179.0       10.0
10      동부                  김준기          22.0          7469.0       11.0
40      현대                  현정은           7.0          6355.0       12.0
19     신세계                  이명희          12.0          5220.0       13.0
49    엘지전선                  구태회          12.0          5056.0       14.0
20     씨제이                  이재현          41.0          4935.0       15.0
11      동양                  현재현          16.0          4823.0       16.0
3       대림                  이준용          12.0          4811.0       17.0
45      효성                  조석래          16.0          4805.0       18.0
9     동국제강                  장세주           8.0          4736.0       19.0
27     코오롱                  이동찬          31.0          4605.0       20.0
41   현대백화점                  정몽근          17.0          3647.0       21.0
24    케이씨씨                  정상영          10.0          3422.0       22.0
37      한솔                  이인희          11.0          3396.0       23.0
13      동원                  김재철          17.0          3106.0       24.0
7     대한전선                  설원량          11.0          3072.0       25.0
48      세아                  이운형          28.0          2955.0       26.0
23      영풍                  장형진          20.0          2885.0       27.0
42  현대산업개발                  정세영          12.0          2786.0       28.0
28    태광산업                  이호진          38.0          2745.0       29.0
17      부영                  이남형           4.0          2449.0       30.0
1       농심                  신춘호          12.0          2369.0       31.0
31   하이트맥주                  박문덕          12.0          2329.0       32.0
4       대성                  김영대          40.0          2323.0       33.0
12    동양화학                  이회림          19.0          2287.0       34.0
35   한국타이어                  조양래           7.0          2095.0       35.0
47      삼양                  김 윤           7.0          2033.0       36.0
====================2004====================
====================2005====================
['농업기반공사', '(주)대우건설', '대우자동차', '대우조선해양', '대한주택공사', '(주)문화방송', '지엠대우', '(주)케이티', '케이티앤지', '하나로텔레콤(주)', '한국가스공사', '한국도로공사', '한국전력공사', '한국토지공사', '한국철도공사', '현대오일뱅크(주)', '포스코']
   chaebol the_same_person_2005  n_affil_2005  ttl_asset_2005  rank_2005
18      삼성                  이건희          62.0        107617.0        1.0
47   현대자동차                  정몽구          28.0         56039.0        2.0
25      엘지                  구본무          38.0         50880.0        3.0
23    에스케이                  최태원          50.0         47961.0        4.0
15      롯데                  신격호          41.0         30302.0        5.0
42      한진                  조양호          23.0         24523.0        6.0
52     지에스                  허창수          50.0         18719.0        7.0
43      한화                  김승연          30.0         16219.0        8.0
48   현대중공업                  정몽준           7.0         15173.0        9.0
0   금호아시아나                  박성용          18.0         11413.0       10.0
14      두산                  박용곤          18.0          9734.0       11.0
11      동부                  김준기          21.0          8171.0       12.0
44      현대                  현정은           7.0          6072.0       13.0
21     신세계                  이명희          13.0          6014.0       14.0
22     씨제이                  이재현          48.0          5905.0       15.0
24     엘에스                  구태회          17.0          5877.0       16.0
10    동국제강                  장세주           8.0          5795.0       17.0
3       대림                  이준용          12.0          5686.0       18.0
12      동양                  현재현          16.0          4856.0       19.0
49      효성                  조석래          16.0          4772.0       20.0
31     코오롱                  이동찬          28.0          4426.0       21.0
50   에스티엑스                  강덕수          14.0          4139.0       22.0
45   현대백화점                  정몽근          20.0          3781.0       23.0
28    케이씨씨                  정상영           7.0          3526.0       24.0
20      세아                  이운형          28.0          3366.0       25.0
46  현대산업개발                  정세영          12.0          3274.0       26.0
41      한솔                  이인희          10.0          3150.0       27.0
17      부영                  이남형           6.0          3053.0       28.0
32    태광산업                  이호진          44.0          3048.0       29.0
8     대한전선                  설윤석          12.0          2905.0       30.0
26      영풍                  장형진          19.0          2855.0       31.0
51     이랜드                  이랜드          12.0          2610.0       32.0
4       대성                  김영대          41.0          2579.0       33.0
1       농심                  신춘호          12.0          2543.0       34.0
13    동양화학                  이회림          18.0          2364.0       35.0
35   하이트맥주                  박문덕          11.0          2327.0       36.0
19      삼양                  김 윤          10.0          2288.0       37.0
39   한국타이어                  조양래           8.0          2155.0       38.0
====================2005====================
====================2006====================

['(주)대우건설', '대우조선해양(주)', '대한주택공사', '(주)문화방송', '지엠대우오토앤테크놀', '(주)케이티', '(주)케이티앤지', '하나로텔레콤(주)', '한국가스공사', '한국농촌공사', '한국도로공사', '한국전력공사', '한국철도공사', '한국토지공사', '현대오일뱅크(주)', '쌍용양회공업(주)', '하이닉스', '포스코']
   chaebol the_same_person_2006  n_affil_2006  ttl_asset_2006  rank_2006
16      삼성                  이건희          59.0        115924.0        1.0
51   현대자동차                  정몽구          40.0         62235.0        2.0
21    에스케이                  최태원          56.0         54808.0        3.0
24      엘지                  구본무          30.0         54432.0        4.0
13      롯데                  신격호          43.0         32961.0        5.0
27     지에스                  허창수          50.0         21827.0        6.0
45      한진                  조양호          22.0         20702.0        7.0
52   현대중공업                  정몽준           7.0         17267.0        8.0
46      한화                  김승연          31.0         16526.0        9.0
12      두산                  박용곤          18.0         13659.0       10.0
0   금호아시아나                  박삼구          23.0         12982.0       11.0
9       동부                  김준기          22.0          8651.0       12.0
47      현대                  현정은           9.0          7125.0       13.0
19     신세계                  이명희          14.0          7030.0       14.0
20     씨제이                  이재현          56.0          6797.0       15.0
23     엘에스                  구태회          19.0          6591.0       16.0
2       대림                  이준용          13.0          6527.0       17.0
36   하이트맥주                  박문덕          13.0          6027.0       18.0
8     동국제강                  장세주          12.0          5702.0       19.0
22   에스티엑스                  강덕수          10.0          4907.0       20.0
10      동양                  현재현          15.0          4611.0       21.0
53      효성                  조석래          17.0          4487.0       22.0
48   현대백화점                  정몽근          23.0          4404.0       23.0
32     코오롱                  이동찬          23.0          4380.0       24.0
49  현대산업개발                  정몽규          13.0          4117.0       25.0
29    케이씨씨                  정상영           7.0          4098.0       26.0
58   한진중공업                  조남호           3.0          3739.0       27.0
18      세아                  이운형          23.0          3670.0       28.0
25      영풍                  장형진          26.0          3612.0       29.0
33    태광산업                  이호진          52.0          3571.0       30.0
15      부영                  이남형           6.0          3462.0       31.0
6     대한전선                  설윤석          15.0          3239.0       32.0
44      한솔                  이인희          12.0          3092.0       33.0
1       농심                  신춘호          12.0          2801.0       34.0
3       대성                  김영대          38.0          2796.0       35.0
26     이랜드                  박성수          13.0          2794.0       36.0
11    동양화학                  이회림          19.0          2627.0       37.0
17      삼양                  김 윤          11.0          2418.0       38.0
56      태영                  윤세영          19.0          2335.0       39.0
42   한국타이어                  조양래           8.0          2218.0       40.0
55    중앙일보                  홍석현          73.0          2166.0       41.0
====================2006====================
====================2007====================
['대우조선해양(주)', '대한주택공사', '(주)문화방송', '쌍용양회공업(주)', '지엠대우', '(주)케이티', '(주)케이티앤지', '(주)포스코', '하나로텔레콤(주)', '(주)하이닉스반도체', '한국가스공사', '한국농촌공사', '한국도로공사', '한국전력공사', '한국철도공사', '한국토지공사', '현대오일뱅크(주)', '대우자동차판매', '현대건설']
   chaebol the_same_person_2007  n_affil_2007  ttl_asset_2007  rank_2007
15      삼성                  이건희          59.0        129078.0        1.0
54   현대자동차                  정몽구          36.0         66225.0        2.0
21    에스케이                  최태원          57.0         60376.0        3.0
24      엘지                  구본무          31.0         52371.0        4.0
12      롯데                  신격호          44.0         40208.0        5.0
27     지에스                  허창수          48.0         25136.0        6.0
0   금호아시아나                  박삼구          38.0         22873.0        7.0
47      한진                  조양호          25.0         22224.0        8.0
55   현대중공업                  정몽준           7.0         20573.0        9.0
49      한화                  김승연          34.0         18046.0       10.0
11      두산                  박용곤          20.0         14442.0       11.0
18     신세계                  이명희          15.0          9863.0       12.0
23     엘에스                  구태회          20.0          9852.0       13.0
50      현대                  현정은           9.0          8760.0       14.0
8       동부                  김준기          22.0          8748.0       15.0
20     씨제이                  이재현          64.0          8423.0       16.0
2       대림                  이준용          14.0          7515.0       17.0
22   에스티엑스                  강덕수          11.0          5878.0       18.0
7     동국제강                  장세주          11.0          5828.0       19.0
26     이랜드                  박성수          16.0          5383.0       20.0
51   현대백화점                  정지선          24.0          4939.0       21.0
32     코오롱                  이웅열          33.0          4927.0       22.0
9       동양                  현재현          21.0          4803.0       23.0
29    케이씨씨                  정상영           7.0          4777.0       24.0
38   하이트맥주                  박문덕          13.0          4772.0       25.0
48   한진중공업                  조남호           4.0          4764.0       26.0
56      효성                  조석래          23.0          4596.0       27.0
52  현대산업개발                  정몽규          16.0          4434.0       28.0
25      영풍                  장형진          22.0          4417.0       29.0
17      세아                  이운형          22.0          4007.0       30.0
14      부영                  이남형           6.0          3807.0       31.0
5     대한전선                  설윤석          18.0          3732.0       32.0
33    태광산업                  이호진          47.0          3535.0       33.0
10    동양화학                  이회림          18.0          3119.0       34.0
46      한솔                  이인희          12.0          3018.0       35.0
1       농심                  신춘호          15.0          2932.0       36.0
3       대성                  김영대          40.0          2854.0       37.0
60     태평양                  서경배           7.0          2690.0       38.0
34      태영                  윤세영          23.0          2676.0       39.0
16      삼양                  김 윤          13.0          2474.0       40.0
44   한국타이어                  조양래           9.0          2425.0       41.0
57  교보생명보험                  신창재          15.0          2261.0       42.0
59     오리온                  담철곤          22.0          2213.0       43.0
====================2007====================
====================2008====================
['대우자동차판매(주)', '대우조선해양(주)', '대한주택공사', '(주)문화방송', '쌍용양회공업(주)', '지엠대우오토앤테크놀로지(주)', '(주)케이티', '(주)케이티앤지', '(주)포스코', '하나로텔레콤(주)', '(주)하이닉스반도체', '한국가스공사', '한국농촌공사', '한국도로공사', '한국전력공사', '한국철도공사', '한국토지공사', '현대건설(주)', '광해방지사업단', '농업협동조합중앙회', '부산항만공사', '삼성테스코(주)', '인천항만공사', '한국지역난방공사']
   chaebol the_same_person_2008  n_affil_2008  ttl_asset_2008  rank_2008
17      삼성                  이건희          59.0        144449.0        1.0
58   현대자동차                  정몽구          36.0         73987.0        2.0
23    에스케이                  최태원          64.0         71998.0        3.0
26      엘지                  구본무          36.0         57136.0        4.0
14      롯데                  신격호          46.0         43679.0        5.0
30     지에스                  허창수          57.0         31051.0        6.0
59   현대중공업                  정몽준           9.0         30058.0        7.0
1   금호아시아나                  박삼구          52.0         26667.0        8.0
51      한진                  조양호          27.0         26299.0        9.0
53      한화                  김승연          40.0         20627.0       10.0
13      두산                  박용곤          21.0         17033.0       11.0
24   에스티엑스                  강덕수          15.0         10912.0       12.0
20     신세계                  이명희          15.0         10707.0       13.0
22     씨제이                  이재현          66.0         10258.0       14.0
25     엘에스                  구태회          24.0          9562.0       15.0
10      동부                  김준기          29.0          9503.0       16.0
3       대림                  이준용          14.0          9014.0       17.0
54      현대                  현정은           9.0          9007.0       18.0
32    케이씨씨                  정상영           7.0          8013.0       19.0
9     동국제강                  장세주          12.0          6523.0       20.0
60      효성                  조석래          30.0          5980.0       21.0
11      동양                  현재현          20.0          5851.0       22.0
52   한진중공업                  조남호           5.0          5719.0       23.0
7     대한전선                  설윤석          20.0          5620.0       24.0
56   현대백화점                  정지선          25.0          5582.0       25.0
27      영풍                  장형진          21.0          5218.0       26.0
29     이랜드                  박성수          19.0          5200.0       27.0
35     코오롱                  이웅열          34.0          5159.0       28.0
57  현대산업개발                  정몽규          15.0          4926.0       29.0
73      웅진                  윤석금          24.0          4920.0       30.0
42   하이트맥주                  박문덕          15.0          4805.0       31.0
16      부영                  이중근           6.0          4748.0       32.0
19      세아                  이운형          23.0          4420.0       33.0
12    동양화학                  이수영          15.0          4163.0       34.0
36      태광                  이호진          46.0          3802.0       35.0
66    미래에셋                  박현주          21.0          3378.0       36.0
4       대성                  김영대          47.0          3262.0       37.0
37      태영                  윤세영          26.0          3215.0       38.0
50      한솔                  이인희          16.0          3193.0       39.0
74      유진                  유경선          42.0          3079.0       40.0
2       농심                  신춘호          16.0          3023.0       41.0
38     태평양                  서경배           9.0          2993.0       42.0
72      애경                  장영신          29.0          2968.0       43.0
78      한라                  정몽원          12.0          2925.0       44.0
64    대주건설                  허재호          20.0          2850.0       45.0
48   한국타이어                  조양래           9.0          2673.0       46.0
76     프라임                  백종헌          43.0          2604.0       47.0
67      보광                  홍석규          62.0          2525.0       48.0
18      삼양                  김 윤          13.0          2511.0       49.0
28     오리온                  담철곤          20.0          2497.0       50.0
====================2008====================
====================2009====================
['대우조선해양(주)', '대한주택공사', '삼성테스코(주)', '지엠대우오토앤테크놀로지(주)', '(주)케이티', '(주)케이티앤지', '(주)포스코', '(주)하이닉스반도체', '한국가스공사', '한국농어촌공사', '한국도로공사', '한국전력공사', '한국철도공사', '한국토지공사', '현대건설(주)', '에쓰-오일(주)', '한국석유공사']
   chaebol the_same_person_2009  n_affil_2009  ttl_asset_2009  rank_2009
10      삼성                  이건희          63.0        174886.0        1.0
42   현대자동차                  정몽구          41.0         86945.0        2.0
15    에스케이                  최태원          77.0         85889.0        3.0
18      엘지                  구본무          52.0         68289.0        4.0
9       롯데                  신격호          54.0         48892.0        5.0
43   현대중공업                  정몽준          15.0         40882.0        6.0
21     지에스                  허창수          64.0         39044.0        7.0
0   금호아시아나                  박삼구          48.0         37558.0        8.0
35      한진                  조양호          33.0         29135.0        9.0
8       두산                  박용곤          26.0         27302.0       10.0
37      한화                  김승연          44.0         24467.0       11.0
16   에스티엑스                  강덕수          17.0         20687.0       12.0
17     엘에스                  구태회          32.0         12845.0       13.0
38      현대                  현정은          11.0         12574.0       14.0
14     씨제이                  이재현          61.0         12324.0       15.0
6       동부                  김준기          32.0         12271.0       16.0
13     신세계                  이명희          14.0         11956.0       17.0
1       대림                  이준용          16.0         11060.0       18.0
3     대한전선                  설윤석          32.0          8571.0       19.0
44      효성                  조석래          41.0          8424.0       20.0
19    오씨아이                  이수영          18.0          8214.0       21.0
5     동국제강                  장세주          13.0          8092.0       22.0
36   한진중공업                  조남호           6.0          7904.0       23.0
23    케이씨씨                  정상영          10.0          6649.0       24.0
26     코오롱                  이웅열          38.0          5881.0       25.0
40   현대백화점                  정지선          22.0          5868.0       26.0
20      웅진                  윤석금          29.0          5867.0       27.0
41  현대산업개발                  정몽규          16.0          5736.0       28.0
7       동양                  현재현          22.0          5641.0       29.0
12      세아                  이운형          23.0          5400.0       30.0
47  한국투자금융                  김남구          14.0          5351.0       31.0
====================2009====================
====================2010====================
['대우조선해양(주)', '삼성테스코(주)', '에쓰-오일(주)', '지엠대우오토앤테크놀로지(주)', '(주)케이티', '(주)케이티앤지', '(주)포스코', '(주)하이닉스반도체', '한국가스공사', '한국도로공사', '한국전력공사', '한국철도공사', '현대건설(주)', '서울특별시도시철도공사', '인천광역시도시개발공사', '인천국제공항공사', '한국토지주택공사', '현대오일뱅크(주)']

   chaebol the_same_person_2010  n_affil_2010  ttl_asset_2010  rank_2010
9       삼성                  이건희          67.0        192850.0        1.0
41   현대자동차                  정몽구          42.0        100775.0        2.0
14    에스케이                  최태원          75.0         87522.0        3.0
18      엘지                  구본무          53.0         78918.0        4.0
8       롯데                  신격호          60.0         67265.0        5.0
21     지에스                  허창수          69.0         43084.0        6.0
42   현대중공업                  정몽준          16.0         40189.0        7.0
0   금호아시아나                  박삼구          45.0         34942.0        8.0
34      한진                  조양호          37.0         30387.0        9.0
7       두산                  박용곤          29.0         26788.0       10.0
36      한화                  김승연          48.0         26391.0       11.0
15   에스티엑스                  강덕수          16.0         20901.0       12.0
17     엘에스                  구태회          44.0         16179.0       13.0
13     씨제이                  이재현          54.0         13023.0       14.0
1       대림                  이준용          16.0         12992.0       15.0
5       동부                  김준기          31.0         12487.0       16.0
37      현대                  현정은          12.0         12472.0       17.0
12     신세계                  이명희          12.0         12438.0       18.0
45      부영                  이중근          15.0          9161.0       19.0
43      효성                  조석래          40.0          9124.0       20.0
4     동국제강                  장세주          12.0          9107.0       21.0
23    케이씨씨                  정상영          10.0          8701.0       22.0
35   한진중공업                  조남호           7.0          8630.0       23.0
3     대한전선                  설윤석          26.0          7954.0       24.0
19    오씨아이                  이수영          18.0          7769.0       25.0
20      웅진                  윤석금          24.0          6874.0       26.0
39   현대백화점                  정지선          29.0          6857.0       27.0
26     코오롱                  이웅열          37.0          6829.0       28.0
40  현대산업개발                  정몽규          15.0          6693.0       29.0
50   하이트맥주                  박문덕          16.0          6254.0       30.0
6       동양                  현재현          24.0          5951.0       31.0
47      영풍                  장형진          23.0          5790.0       32.0
44    미래에셋                  박현주          26.0          5753.0       33.0
11      세아                  이운형          19.0          5147.0       34.0
33  한국투자금융                  김남구          18.0          5039.0       35.0
====================2010====================
====================2011====================
['대우조선해양(주)', '서울특별시도시철도공사', '에쓰-오일(주)', '인천국제공항공사', '(주)케이티', '(주)케이티앤지', '(주)포스코', '(주)하이닉스반도체', '한국가스공사', '한국도로공사', '한국전력공사', '한국지엠(주)', '한국철도공사', '한국토지주택공사', '홈플러스(주)', '(주)대우건설', '한국석유공사']
   chaebol the_same_person_2011  n_affil_2011  ttl_asset_2011  rank_2011
11      삼성                  이건희          78.0        230928.0        1.0
46   현대자동차                  정몽구          63.0        126689.0        2.0
16    에스케이                  최태원          86.0         97042.0        3.0
20      엘지                  구본무          59.0         90592.0        4.0
8       롯데                  신격호          78.0         77349.0        5.0
47   현대중공업                  정몽준          21.0         54406.0        6.0
25     지에스                  허창수          76.0         46720.0        7.0
40      한진                  조양호          40.0         33469.0        8.0
42      한화                  김승연          55.0         31731.0        9.0
7       두산                  박용곤          25.0         26966.0       10.0
0   금호아시아나                  박삼구          36.0         24507.0       11.0
17   에스티엑스                  강덕수          21.0         21969.0       12.0
19     엘에스                  구태회          47.0         18043.0       13.0
15     씨제이                  이재현          65.0         16323.0       14.0
14     신세계                  이명희          13.0         16040.0       15.0
5       동부                  김준기          38.0         14263.0       16.0
43      현대                  현정은          14.0         13705.0       17.0
1       대림                  이준용          19.0         13465.0       18.0
10      부영                  이중근          16.0         11428.0       19.0
26    케이씨씨                  정상영           9.0         10176.0       20.0
4     동국제강                  장세주          13.0         10128.0       21.0
49      효성                  조석래          39.0          9719.0       22.0
22    오씨아이                  이수영          17.0          9645.0       23.0
44   현대백화점                  정지선          26.0          8399.0       24.0
41   한진중공업                  조남호           8.0          8158.0       25.0
23      웅진                  윤석금          31.0          8071.0       26.0
29     코오롱                  이웅열          39.0          8050.0       27.0
21      영풍                  장형진          24.0          7170.0       28.0
45  현대산업개발                  정몽규          15.0          7106.0       29.0
6       동양                  현재현          31.0          6906.0       30.0
3     대한전선                  설윤석          23.0          6764.0       31.0
9     미래에셋                  박현주          29.0          6620.0       32.0
32   하이트진로                  박문덕          15.0          6071.0       33.0
50      대성                  김영대          73.0          5758.0       34.0
13      세아                  이운형          21.0          5733.0       35.0
39  한국투자금융                  김남구          18.0          5571.0       36.0
53      태광                  이호진          50.0          5479.0       37.0
52      유진                  유경선          33.0          5158.0       38.0
====================2011====================
====================2012====================
['(주)대우건설', '대우조선해양(주)', '서울특별시도시철도공사', '에쓰-오일(주)', '인천국제공항공사', '(주)케이티', '(주)케이티앤지', '(주)포스코', '한국가스공사', '한국도로공사', '한국석유공사', '한국전력공사', '한국지엠(주)', '한국철도공사', '한국토지주택공사', '홈플러스(주)', '농업협동조합중앙회', '부산항만공사', '인천도시공사', '한국수자원공사']
   chaebol the_same_person_2012  n_affil_2012  ttl_asset_2012  rank_2012
13      삼성                  이건희          81.0        255704.0        1.0
50   현대자동차                  정몽구          56.0        154659.0        2.0
18    에스케이                  최태원          94.0        136474.0        3.0
22      엘지                  구본무          63.0        100777.0        4.0
10      롯데                  신격호          79.0         83305.0        5.0
51   현대중공업                  정몽준          24.0         55771.0        6.0
28     지에스                  허창수          73.0         51388.0        7.0
44      한진                  조양호          45.0         37494.0        8.0
46      한화                  김승연          53.0         34263.0        9.0
9       두산                  박용곤          24.0         29915.0       10.0
19   에스티엑스                  강덕수          26.0         24321.0       11.0
17     씨제이                  이재현          84.0         22922.0       12.0
21     엘에스                  구태회          50.0         19316.0       13.0
0   금호아시아나                  박삼구          25.0         19099.0       14.0
16     신세계                  이명희          19.0         17532.0       15.0
7       동부                  김준기          56.0         15684.0       16.0
1       대림                  이준용          17.0         14761.0       17.0
47      현대                  현정은          20.0         13948.0       18.0
12      부영                  이중근          17.0         12533.0       19.0
24    오씨아이                  이수영          19.0         11773.0       20.0
53      효성                  조석래          45.0         11654.0       21.0
6     동국제강                  장세주          16.0         10827.0       22.0
48   현대백화점                  정지선          35.0         10457.0       23.0
32     코오롱                  이웅열          40.0          9378.0       24.0
25      웅진                  윤석금          29.0          9335.0       25.0
29    케이씨씨                  정상영           9.0          9182.0       26.0
23      영풍                  장형진          23.0          8726.0       27.0
11    미래에셋                  박현주          30.0          8364.0       28.0
45   한진중공업                  조남호           8.0          8147.0       29.0
8       동양                  현재현          34.0          7776.0       30.0
49  현대산업개발                  정몽규          15.0          7470.0       31.0
2       대성                  김영대          85.0          6922.0       32.0
15      세아                  이운형          24.0          6914.0       33.0
33      태광                  이호진          44.0          6561.0       34.0
35   하이트진로                  박문덕          15.0          6041.0       35.0
62      한라                  정몽원          23.0          5779.0       36.0
54  교보생명보험                  신창재          13.0          5708.0       37.0
43  한국투자금융                  김남구          15.0          5473.0       38.0
59      태영                  윤세영          40.0          5443.0       39.0
5     대한전선                  설윤석          24.0          5309.0       40.0
61   한국타이어                  조양래          15.0          5245.0       41.0
57     이랜드                  박성수          30.0          5242.0       42.0
26      유진                  유경선          28.0          5139.0       43.0
====================2012====================
====================2013====================
['농업협동조합중앙회', '(주)대우건설', '대우조선해양(주)', '부산항만공사', '서울특별시도시철도공사', '에쓰-오일(주)', '인천국제공항공사', '인천도시공사', '(주)케이티', '(주)케이티앤지', '(주)포스코', '한국가스공사', '한국도로공사', '한국수자원공사', '한국전력공사', '한국지엠(주)', '한국철도공사', '한국토지주택공사', '홈플러스(주)']
   chaebol the_same_person_2013  n_affil_2013  ttl_asset_2013  rank_2013
15      삼성                  이건희          76.0        306092.0        1.0
56   현대자동차                  정몽구          57.0        166694.0        2.0
20    에스케이                  최태원          81.0        140621.0        3.0
24      엘지                  구본무          61.0        102360.0        4.0
11      롯데                  신격호          77.0         87523.0        5.0
57   현대중공업                  정몽준          26.0         56451.0        6.0
31     지에스                  허창수          79.0         55246.0        7.0
50      한진                  조양호          45.0         37987.0        8.0
52      한화                  김승연          49.0         35944.0        9.0
10      두산                  박용곤          25.0         29425.0       10.0
21   에스티엑스                  강덕수          21.0         24328.0       11.0
19     씨제이                  이재현          82.0         24143.0       12.0
18     신세계                  이명희          27.0         22881.0       13.0
23     엘에스                  구태회          49.0         20075.0       14.0
8       동부                  김준기          61.0         17110.0       15.0
1   금호아시아나                  박삼구          24.0         17037.0       16.0
3       대림                  이준용          19.0         16112.0       17.0
53      현대                  현정은          20.0         14965.0       18.0
14      부영                  이중근          16.0         14131.0       19.0
26    오씨아이                  이수영          22.0         12159.0       20.0
54   현대백화점                  정지선          35.0         11517.0       21.0
59      효성                  조석래          48.0         11442.0       22.0
7     동국제강                  장세주          15.0          9972.0       23.0
25      영풍                  장형진          23.0          9921.0       24.0
35     코오롱                  이웅열          38.0          9620.0       25.0
51   한진중공업                  조남호           9.0          8772.0       26.0
12    미래에셋                  박현주          28.0          8632.0       27.0
32    케이씨씨                  정몽진           9.0          8507.0       28.0
4       대성                  김영대          83.0          7830.0       29.0
9       동양                  현재현          30.0          7588.0       30.0
49      한라                  정몽원          23.0          7541.0       31.0
55  현대산업개발                  정몽규          15.0          7388.0       32.0
17      세아                  이순형          23.0          7061.0       33.0
36      태광                  이호진          44.0          6984.0       34.0
0   교보생명보험                  신창재          12.0          6296.0       35.0
48  한국투자금융                  김남구          13.0          6129.0       36.0
46   한국타이어                  조양래          16.0          6053.0       37.0
39   하이트진로                  박문덕          14.0          6043.0       38.0
37      태영                  윤세영          40.0          5912.0       39.0
27      웅진                  윤석금          25.0          5895.0       40.0
28     이랜드                  박성수          27.0          5542.0       41.0
61      한솔                  이인희          22.0          5211.0       42.0
60  아모레퍼시픽                  서경배          10.0          5105.0       43.0
====================2013====================
====================2014====================
['농업협동조합중앙회', '(주)대우건설', '대우조선해양(주)', '부산항만공사', '서울특별시도시철도공사', '에쓰-오일(주)', '인천국제공항공사', '인천도시공사', '(주)케이티', '(주)케이티앤지', '(주)포스코', '한국가스공사', '한국도로공사', '한국수자원공사', '한국전력공사', '한국지엠(주)', '한국철도공사', '한국토지주택공사', '홈플러스(주)', '서울메트로', '코닝정밀소재', '한국석유공사', '한국지역난방공사']
   chaebol the_same_person_2014  n_affil_2014  ttl_asset_2014  rank_2014
14      삼성                  이건희          74.0        331444.0        1.0
54   현대자동차                  정몽구          57.0        180945.0        2.0
20    에스케이                  최태원          80.0        145171.0        3.0
23      엘지                  구본무          61.0        102060.0        4.0
10      롯데                  신격호          74.0         91666.0        5.0
55   현대중공업                  정몽준          26.0         58395.0        6.0
29     지에스                  허창수          80.0         58087.0        7.0
48      한진                  조양호          48.0         39522.0        8.0
50      한화                  김승연          51.0         37063.0        9.0
9       두산                  박용곤          22.0         30021.0       10.0
17     신세계                  이명희          29.0         25243.0       11.0
18     씨제이                  이재현          73.0         24121.0       12.0
22     엘에스                  구태회          51.0         20367.0       13.0
1   금호아시아나                  박삼구          26.0         18261.0       14.0
8       동부                  김준기          64.0         17789.0       15.0
3       대림                  이준용          22.0         16258.0       16.0
13      부영                  이중근          14.0         15665.0       17.0
51      현대                  현정은          20.0         14113.0       18.0
25    오씨아이                  이수영          26.0         12131.0       19.0
52   현대백화점                  정지선          35.0         11960.0       20.0
57      효성                  조석래          44.0         11211.0       21.0
7     동국제강                  장세주          16.0         10073.0       22.0
24      영풍                  장형진          22.0          9944.0       23.0
11    미래에셋                  박현주          30.0          9718.0       24.0
33     코오롱                  이웅열          37.0          9400.0       25.0
49   한진중공업                  조남호          10.0          9025.0       26.0
30    케이씨씨                  정몽진           9.0          8653.0       27.0
46      한라                  정몽원          21.0          8506.0       28.0
44   한국타이어                  조양래          16.0          7782.0       29.0
34      태광                  이호진          34.0          7380.0       30.0
4       대성                  김영대          76.0          7299.0       31.0
53  현대산업개발                  정몽규          15.0          7248.0       32.0
0   교보생명보험                  신창재          13.0          7124.0       33.0
16      세아                  이순형          22.0          6661.0       34.0
26     이랜드                  박성수          24.0          6375.0       35.0
35      태영                  윤세영          42.0          6208.0       36.0
37   하이트진로                  박문덕          12.0          5850.0       37.0
19  아모레퍼시픽                  서경배          10.0          5458.0       38.0
58     삼천리                  이만득          14.0          5440.0       39.0
47      한솔                  이인희          20.0          5261.0       40.0
====================2014====================
====================2015====================
['농업협동조합중앙회', '(주)대우건설', '대우조선해양(주)', '부산항만공사', '서울메트로', '서울특별시도시철도공사', '에쓰-오일(주)', '인천도시공사', '(주)케이티', '(주)케이티앤지', '(주)포스코', '한국가스공사', '한국도로공사', '한국석유공사', '한국수자원공사', '한국전력공사', '한국지엠(주)', '한국철도공사', '한국토지주택공사', '홈플러스(주)']

   chaebol the_same_person_2015  n_affil_2015  ttl_asset_2015  rank_2015
14      삼성                  이건희          67.0        351533.0        1.0
56   현대자동차                  정몽구          51.0        194093.0        2.0
22    에스케이                  최태원          82.0        152388.0        3.0
25      엘지                  구본무          63.0        105519.0        4.0
10      롯데                  신격호          80.0         93407.0        5.0
30     지에스                  허창수          79.0         58506.0        6.0
57   현대중공업                  정몽준          27.0         57472.0        7.0
50      한진                  조양호          46.0         38382.0        8.0
52      한화                  김승연          52.0         37954.0        9.0
9       두산                  박용곤          22.0         33073.0       10.0
19     신세계                  이명희          29.0         27010.0       11.0
20     씨제이                  이재현          65.0         24608.0       12.0
24     엘에스                  구태회          48.0         20975.0       13.0
1   금호아시아나                  박삼구          26.0         18828.0       14.0
3       대림                  이준용          24.0         17293.0       15.0
13      부영                  이중근          15.0         16805.0       16.0
8       동부                  김준기          53.0         14627.0       17.0
53      현대                  현정은          20.0         12566.0       18.0
54   현대백화점                  정지선          32.0         12151.0       19.0
27    오씨아이                  이수영          26.0         12007.0       20.0
59      효성                  조석래          45.0         11190.0       21.0
26      영풍                  장형진          22.0         10311.0       22.0
31    케이씨씨                  정몽진           9.0         10185.0       23.0
11    미래에셋                  박현주          31.0          9991.0       24.0
7     동국제강                  장세주          14.0          9780.0       25.0
34     코오롱                  이웅열          43.0          9032.0       26.0
51   한진중공업                  조남호           9.0          8908.0       27.0
48      한라                  정몽원          23.0          8554.0       28.0
46   한국타이어                  조양래          16.0          8450.0       29.0
0   교보생명보험                  신창재          13.0          7919.0       30.0
35      태광                  이호진          32.0          7329.0       31.0
18      세아                  이순형          21.0          6801.0       32.0
55  현대산업개발                  정몽규          16.0          6686.0       33.0
28     이랜드                  박성수          25.0          6657.0       34.0
36      태영                  윤세영          44.0          6379.0       35.0
15     삼천리                  이만득          15.0          6014.0       36.0
21  아모레퍼시픽                  서경배          12.0          5959.0       37.0
4       대성                  김영대          73.0          5918.0       38.0
38   하이트진로                  박문덕          12.0          5718.0       39.0
60    중흥건설                  정창선          43.0          5565.0       40.0
49      한솔                  이인희          21.0          5269.0       41.0
====================2015====================
====================2016====================
['농업협동조합중앙회', '(주)대우건설', '대우조선해양(주)', '부산항만공사', '서울메트로', '서울특별시도시철도공사', '에쓰-오일(주)', '인천도시공사', '(주)케이티', '(주)케이티앤지', '(주)포스코', '한국가스공사', '한국도로공사', '한국석유공사', '한국수자원공사', '한국전력공사', '한국지엠(주)', '한국철도공사', '한국토지주택공사', '에스에이치공사']
   chaebol the_same_person_2016  n_affil_2016  ttl_asset_2016  rank_2016
13      삼성                  이건희          59.0        348226.0        1.0
56   현대자동차                  정몽구          51.0        209694.0        2.0
21    에스케이                  최태원          86.0        160848.0        3.0
24      엘지                  구본무          67.0        105849.0        4.0
9       롯데                  신격호          93.0        103284.0        5.0
30     지에스                  허창수          69.0         60294.0        6.0
52      한화                  김승연          57.0         54697.0        7.0
57   현대중공업                  정몽준          26.0         53497.0        8.0
50      한진                  조양호          38.0         37025.0        9.0
8       두산                  박용곤          25.0         32383.0       10.0
18     신세계                  이명희          34.0         29165.0       11.0
19     씨제이                  이재현          62.0         24763.0       12.0
12      부영                  이중근          18.0         20434.0       13.0
23     엘에스                  구태회          45.0         20230.0       14.0
3       대림                  이준용          28.0         18829.0       15.0
1   금호아시아나                  박삼구          24.0         15246.0       16.0
54   현대백화점                  정지선          35.0         12777.0       17.0
53      현대                  현정은          21.0         12282.0       18.0
26    오씨아이                  이수영          22.0         11590.0       19.0
58      효성                  조석래          45.0         11546.0       20.0
10    미래에셋                  박현주          28.0         10944.0       21.0
25      영풍                  장형진          23.0         10561.0       22.0
63      하림                  김홍국          58.0          9910.0       23.0
31    케이씨씨                  정몽진           7.0          9806.0       24.0
46   한국타이어                  조양래          14.0          9403.0       25.0
34     코오롱                  이웅열          43.0          9126.0       26.0
0   교보생명보험                  신창재          13.0          8518.0       27.0
64  한국투자금융                  김남구          24.0          8331.0       28.0
7       동부                  김준기          25.0          8194.0       29.0
48      한라                  정몽원          22.0          8122.0       30.0
6     동국제강                  장세주          15.0          7875.0       31.0
51   한진중공업                  조남호           9.0          7797.0       32.0
17      세아                  이순형          22.0          7785.0       33.0
29    중흥건설                  정창선          49.0          7603.0       34.0
27     이랜드                  박성수          29.0          7531.0       35.0
35      태광                  이호진          26.0          7118.0       36.0
36      태영                  윤세영          43.0          6841.0       37.0
20  아모레퍼시픽                  서경배          12.0          6567.0       38.0
55  현대산업개발                  정몽규          17.0          6424.0       39.0
60    셀트리온                  서정진           8.0          5855.0       40.0
38   하이트진로                  박문덕          13.0          5755.0       41.0
14     삼천리                  이만득          16.0          5707.0       42.0
49      한솔                  이인희          20.0          5353.0       43.0
59  금호석유화학                  박찬구          10.0          5140.0       44.0
62     카카오                  김범수          45.0          5083.0       45.0
====================2016====================
====================2017====================
['농업협동조합중앙회', '(주)대우건설', '대우조선해양(주)', '에쓰-오일(주)', '(주)케이티', '(주)케이티앤지', '(주)포스코']
   chaebol the_same_person_2017  n_affil_2017  ttl_asset_2017  rank_2017
9       삼성                  이건희          62.0        363218.0        1.0
28   현대자동차                  정몽구          53.0        218625.0        2.0
12    에스케이                  최태원          96.0        170697.0        3.0
15      엘지                  구본무          68.0        112326.0        4.0
6       롯데                  신격호          90.0        110820.0        5.0
18     지에스                  허창수          69.0         62005.0        6.0
26      한화                  김승연          61.0         58539.0        7.0
29   현대중공업                  정몽준          29.0         54347.0        8.0
10     신세계                  이명희          37.0         32294.0        9.0
5       두산                  박용곤          26.0         30442.0       10.0
25      한진                  조양호          34.0         29114.0       11.0
11     씨제이                  이재현          70.0         27794.0       12.0
8       부영                  이중근          22.0         21713.0       13.0
14     엘에스                  구태회          45.0         20683.0       14.0
2       대림                  이준용          26.0         18401.0       15.0
0   금호아시아나                  박삼구          28.0         15615.0       16.0
7     미래에셋                  박현주          41.0         15182.0       17.0
27   현대백화점                  정지선          29.0         13371.0       18.0
17    오씨아이                  이수영          22.0         11803.0       19.0
30      효성                  조석래          46.0         11475.0       20.0
16      영풍                  장형진          23.0         10963.0       21.0
24  한국투자금융                  김남구          28.0         10736.0       22.0
23      하림                  김홍국          58.0         10505.0       23.0
19    케이씨씨                  정몽진           7.0         10466.0       24.0
====================2017====================
====================2018====================
['한국지엠(주)', '농업협동조합중앙회', '(주)대우건설', '대우조선해양(주)', '에쓰-오일(주)', '(주)케이티', '(주)케이티앤지', '(주)포스코']
   chaebol the_same_person_2018  n_affil_2018  ttl_asset_2018  rank_2018
37      삼성                  이재용          62.0        399479.0        1.0
57   현대자동차                  정몽구          56.0        222654.0        2.0
40    에스케이                  최태원         101.0        189531.0        3.0
43      엘지                  구본무          70.0        123135.0        4.0
33      롯데                  신동빈         107.0        116239.0        5.0
47     지에스                  허창수          71.0         65036.0        6.0
55      한화                  김승연          76.0         61319.0        7.0
58   현대중공업                  정몽준          28.0         56055.0        8.0
38     신세계                  이명희          39.0         34090.0        9.0
32      두산                  박용곤          26.0         30518.0       10.0
54      한진                  조양호          28.0         30307.0       11.0
39     씨제이                  이재현          80.0         28310.0       12.0
36      부영                  이중근          24.0         22440.0       13.0
42     엘에스                  구자홍          48.0         21048.0       14.0
29      대림                  이준용          27.0         18644.0       15.0
35    미래에셋                  박현주          38.0         14996.0       16.0
56   현대백화점                  정지선          28.0         14315.0       17.0
44      영풍                  장형진          24.0         12259.0       18.0
53  한국투자금융                  김남구          30.0         11963.0       19.0
26  금호아시아나                  박삼구          26.0         11885.0       20.0
59      효성                  조석래          52.0         11656.0       21.0
45    오씨아이                  이우현          21.0         11323.0       22.0
48    케이씨씨                  정몽진          17.0         10969.0       23.0
2   교보생명보험                  신창재          14.0         10901.0       24.0
15     코오롱                  이웅열          39.0         10841.0       25.0
52      하림                  김홍국          58.0         10515.0       26.0
13    중흥건설                  정창선          61.0          9598.0       27.0
20   한국타이어                  조양래          17.0          9139.0       28.0
16      태광                  이호진          25.0          8691.0       29.0
1       SM                  우오현          65.0          8616.0       30.0
10    셀트리온                  서정진           9.0          8572.0       31.0
14     카카오                  김범수          72.0          8540.0       32.0
9       세아                  이순형          21.0          8469.0       33.0
21      한라                  정몽원          19.0          8293.0       34.0
12     이랜드                  박성수          30.0          8250.0       35.0
0       동부                  김준기          20.0          8010.0       36.0
25    호반건설                  김상열          42.0          7988.0       37.0
7       동원                  김재철          22.0          7982.0       38.0
24  현대산업개발                  정몽규          23.0          7981.0       39.0
17      태영                  윤세영          48.0          7869.0       40.0
11  아모레퍼시픽                  서경배          12.0          7725.0       41.0
4      네이버                  이해진          45.0          7144.0       42.0
6     동국제강                  장세주          10.0          6963.0       43.0
34   메리츠금융                  조정호           8.0          6932.0       44.0
5       넥슨                  김정주          22.0          6721.0       45.0
8      삼천리                  이만득          17.0          6471.0       46.0
3   금호석유화학                  박찬구          11.0          5756.0       47.0
23   한진중공업                  조남호           7.0          5705.0       48.0
27     넷마블                  방준혁          26.0          5662.0       49.0
18   하이트진로                  박문덕          12.0          5639.0       50.0
====================2018====================
====================2019====================
['농업협동조합중앙회', '(주)대우건설', '대우조선해양(주)', '에쓰-오일(주)', '(주)케이티', '(주)케이티앤지', '(주)포스코', '한국지엠(주)']

   chaebol the_same_person_2019  n_affil_2019  ttl_asset_2019  rank_2019
18      삼성                  이재용          62.0        414547.0        1.0
53   현대자동차                  정몽구          53.0        223493.0        2.0
25    에스케이                  최태원         111.0        218013.0        3.0
29      엘지                  구광모          75.0        129616.0        4.0
15      롯데                  신동빈          95.0        115339.0        5.0
51      한화                  김승연          75.0         65636.0        6.0
35     지에스                  허창수          64.0         62913.0        7.0
54   현대중공업                  정몽준          31.0         54808.0        8.0
22     신세계                  이명희          40.0         36374.0        9.0
50      한진                  조원태          32.0         31730.0       10.0
23     씨제이                  이재현          75.0         31136.0       11.0
14      두산                  박정원          23.0         28456.0       12.0
17      부영                  이중근          24.0         22848.0       13.0
28     엘에스                  구자홍          53.0         22644.0       14.0
9       대림                  이준용          26.0         17991.0       15.0
16    미래에셋                  박현주          38.0         16890.0       16.0
52   현대백화점                  정지선          28.0         15305.0       17.0
56      효성                  조석래          57.0         13472.0       18.0
48  한국투자금융                  김남구          30.0         13322.0       19.0
30      영풍                  장형진          24.0         11975.0       20.0
44      하림                  김홍국          53.0         11850.0       21.0
2   교보생명보험                  신창재          14.0         11663.0       22.0
4   금호아시아나                  박삼구          27.0         11435.0       23.0
40     코오롱                  이웅열          41.0         10710.0       24.0
31    오씨아이                  이우현          19.0         10655.0       25.0
36     카카오                  김범수          71.0         10603.0       26.0
27   에이치디씨                  정몽규          24.0         10597.0       27.0
37    케이씨씨                  정몽진          15.0         10425.0       28.0
1       SM                  우오현          65.0          9829.0       29.0
34    중흥건설                  정창선          34.0          9525.0       30.0
47   한국타이어                  조양래          25.0          9508.0       31.0
20      세아                  이순형          24.0          9418.0       32.0
41      태광                  이호진          23.0          9298.0       33.0
33     이랜드                  박성수          29.0          9280.0       34.0
21    셀트리온                  서정진          10.0          8833.0       35.0
0       동부                  김준기          20.0          8663.0       36.0
55    호반건설                  김상열          33.0          8472.0       37.0
5      네이버                  이해진          42.0          8266.0       38.0
42      태영                  윤세영          53.0          8256.0       39.0
6       넥슨                  김정주          21.0          7900.0       40.0
13      동원                  김재철          24.0          7815.0       41.0
49      한라                  정몽원          15.0          7681.0       42.0
24  아모레퍼시픽                  서경배          13.0          7647.0       43.0
19     삼천리                  이만득          20.0          6785.0       44.0
12    동국제강                  장세주          12.0          6524.0       45.0
32      유진                  유경선          54.0          6323.0       46.0
3   금호석유화학                  박찬구          11.0          5832.0       47.0
45   하이트진로                  박문덕          17.0          5603.0       48.0
7      넷마블                  방준혁          23.0          5500.0       49.0
58      애경                  장영신          40.0          5160.0       50.0
====================2019====================
====================2020====================
['농업협동조합중앙회', '(주)대우건설', '대우조선해양(주)', '에쓰-오일(주)', '(주)케이티', '(주)케이티앤지', '(주)포스코', '한국지엠(주)', '에이치엠엠(주)']
      chaebol the_same_person_2020  n_affil_2020  ttl_asset_2020  rank_2020
19         삼성                  이재용          59.0        424848.0        1.0
55      현대자동차                  정몽구          54.0        234706.0        2.0
27       에스케이                  최태원         125.0        225526.0        3.0
31         엘지                  구광모          70.0        136967.0        4.0
16         롯데                  신동빈          86.0        121524.0        5.0
53         한화                  김승연          86.0         71686.0        6.0
37        지에스                  허창수          69.0         66753.0        7.0
56      현대중공업                  정몽준          30.0         62863.0        8.0
23        신세계                  이명희          41.0         44088.0        9.0
24        씨제이                  이재현          77.0         34537.0       10.0
52         한진                  조원태          31.0         33549.0       11.0
15         두산                  박정원          25.0         29251.0       12.0
30        엘에스                  구자홍          54.0         23717.0       13.0
18         부영                  이중근          23.0         23284.0       14.0
10         대림                  이준용          32.0         18695.0       15.0
17       미래에셋                  박현주          38.0         18554.0       16.0
4      금호아시아나                  박삼구          27.0         17579.0       17.0
54      현대백화점                  정지선          25.0         16027.0       18.0
38        카카오                  김범수          97.0         14243.0       19.0
50     한국투자금융                  김남구          28.0         14001.0       20.0
2      교보생명보험                  신창재          13.0         13580.0       21.0
58         효성                  조석래          54.0         13472.0       22.0
46         하림                  김홍국          52.0         12478.0       23.0
32         영풍                  장형진          26.0         12445.0       24.0
29      에이치디씨                  정몽규          27.0         11708.0       25.0
39       케이씨씨                  정몽진          16.0         10977.0       26.0
42        코오롱                  이웅열          37.0         10428.0       27.0
33       오씨아이                  이우현          18.0          9930.0       28.0
35        이랜드                  박성수          31.0          9873.0       29.0
44         태영                  윤세영          61.0          9720.0       30.0
1          SM                  우오현          53.0          9695.0       31.0
0          동부                  김준기          20.0          9628.0       32.0
21         세아                  이순형          29.0          9590.0       33.0
5         네이버                  이해진          43.0          9491.0       34.0
6          넥슨                  김정주          18.0          9465.0       35.0
49      한국타이어                  조양래          24.0          9385.0       36.0
57       호반건설                  김상열          36.0          9146.0       37.0
22       셀트리온                  서정진           9.0          8838.0       38.0
36       중흥건설                  정창선          35.0          8420.0       39.0
7         넷마블                  방준혁          25.0          8315.0       40.0
25     아모레퍼시픽                  서경배          15.0          8289.0       41.0
43         태광                  이호진          19.0          8146.0       42.0
14         동원                  김재철          25.0          7874.0       43.0
51         한라                  정몽원          14.0          7679.0       44.0
20        삼천리                  이만득          27.0          7143.0       45.0
63       장금상선                  정태순          17.0          6388.0       46.0
59  IMM인베스트먼트                  지성배          79.0          6313.0       47.0
13       동국제강                  장세주          12.0          6059.0       48.0
9        다우키움                  김익래          48.0          5722.0       49.0
3      금호석유화학                  박찬구          12.0          5710.0       50.0
====================2020====================
====================2021====================
['농업협동조합중앙회', '(주)대우건설', '대우조선해양(주)', '에쓰-오일(주)', '에이치엠엠(주)', '(주)케이티', '(주)케이티앤지', '쿠팡(주)', '(주)포스코', '한국지엠(주)', '한국항공우주산업(주)']
      chaebol the_same_person_2021  n_affil_2021  ttl_asset_2021  rank_2021
22         삼성                  이재용          59.0        457305.0        1.0
66      현대자동차                  정의선          53.0        246084.0        2.0
32       에스케이                  최태원         148.0        239530.0        3.0
37         엘지                  구광모          70.0        151322.0        4.0
18         롯데                  신동빈          86.0        117781.0        5.0
64         한화                  김승연          83.0         72898.0        6.0
46        지에스                  허창수          80.0         67677.0        7.0
67      현대중공업                  정몽준          33.0         63803.0        8.0
27        신세계                  이명희          45.0         46409.0        9.0
28        씨제이                  이재현          79.0         34676.0       10.0
63         한진                  조원태          31.0         33600.0       11.0
17         두산                  박정원          22.0         29659.0       12.0
36        엘에스                  구자홍          58.0         25243.0       13.0
21         부영                  이중근          23.0         23321.0       14.0
47        카카오                  김범수         118.0         19952.0       15.0
1          대림                  이준용          36.0         19627.0       16.0
19       미래에셋                  박현주          38.0         19333.0       17.0
65      현대백화점                  정지선          25.0         18313.0       18.0
6      금호아시아나                  박삼구          27.0         17442.0       19.0
26       셀트리온                  서정진           8.0         14855.0       20.0
60     한국투자금융                  김남구          30.0         14649.0       21.0
4      교보생명보험                  신창재          12.0         14413.0       22.0
7         네이버                  이해진          45.0         13584.0       23.0
34      에이치디씨                  정몽규          29.0         13549.0       24.0
70         효성                  조현준          50.0         13281.0       25.0
39         영풍                  장형진          27.0         13170.0       26.0
56         하림                  김홍국          55.0         13044.0       27.0
48       케이씨씨                  정몽진          18.0         12277.0       28.0
8          넥슨                  김정주          18.0         11998.0       29.0
9         넷마블                  방준혁          23.0         10703.0       30.0
69       호반건설                  김상열          42.0         10698.0       31.0
3          SM                  우오현          58.0         10450.0       32.0
0          동부                  김준기          21.0         10366.0       33.0
51        코오롱                  이웅열          36.0         10299.0       34.0
59      한국타이어                  조양래          21.0          9849.0       35.0
40       오씨아이                  이우현          18.0          9815.0       36.0
54         태영                  윤세영          63.0          9800.0       37.0
42        이랜드                  박성수          33.0          9509.0       38.0
25         세아                  이순형          29.0          9470.0       39.0
45       중흥건설                  정창선          37.0          9207.0       40.0
53         태광                  이호진          19.0          8767.0       41.0
16         동원                  김재철          26.0          8458.0       42.0
62         한라                  정몽원          15.0          8104.0       43.0
29     아모레퍼시픽                  서경배          14.0          8009.0       44.0
2   IMM인베스트먼트                  지성배          94.0          7895.0       45.0
24        삼천리                  이만득          42.0          7841.0       46.0
5      금호석유화학                  박찬구          15.0          6665.0       47.0
11       다우키움                  김익래          45.0          6593.0       48.0
43       장금상선                  정태순          19.0          6263.0       49.0
15       동국제강                  장세주          11.0          5956.0       50.0
====================2021====================
====================2022====================
['농업협동조합중앙회', '대우조선해양(주)', '에쓰-오일(주)', '에이치엠엠(주)', '(주)케이티', '(주)케이티앤지', '쿠팡(주)', '포스코홀딩스(주)', '한국지엠(주)', '한국항공우주산업(주)']
   chaebol the_same_person_2022  n_affil_2022  ttl_asset_2022  rank_2022
20      삼성                  이재용          60.0        483919.0        1.0
30    에스케이                  최태원         186.0        291969.0        2.0
63   현대자동차                  정의선          57.0        257845.0        3.0
35      엘지                  구광모          73.0        167501.0        4.0
16      롯데                  신동빈          85.0        121589.0        5.0
61      한화                  김승연          91.0         80388.0        6.0
44     지에스                  허창수          93.0         76804.0        7.0
64   현대중공업                  정몽준          36.0         75302.0        8.0
25     신세계                  이명희          53.0         61055.0        9.0
26     씨제이                  이재현          85.0         36925.0       10.0
60      한진                  조원태          33.0         35238.0       11.0
45     카카오                  김범수         136.0         32216.0       12.0
15      두산                  박정원          21.0         26334.0       13.0
34     엘에스                  구자은          58.0         26270.0       14.0
1       대림                  이준용          42.0         24766.0       15.0
19      부영                  이중근          22.0         21736.0       16.0
43    중흥건설                  정창선          55.0         20292.0       17.0
17    미래에셋                  박현주          40.0         20231.0       18.0
6      네이버                  이해진          54.0         19220.0       19.0
62   현대백화점                  정지선          23.0         18230.0       20.0
5   금호아시아나                  박삼구          32.0         17627.0       21.0
54      하림                  김홍국          55.0         15433.0       22.0
32   에이치디씨                  정몽규          34.0         15122.0       23.0
67      효성                  조현준          53.0         14799.0       24.0
37      영풍                  장형진          26.0         14632.0       25.0
24    셀트리온                  서정진           7.0         14576.0       26.0
3   교보생명보험                  신창재          14.0         13817.0       27.0
66    호반건설                  김상열          43.0         13784.0       28.0
2       SM                  우오현          63.0         13663.0       29.0
8      넷마블                  방준혁          30.0         13303.0       30.0
46    케이씨씨                  정몽진          14.0         12632.0       31.0
7       넥슨                  유정현          18.0         11261.0       32.0
0       동부                  김준기          20.0         11260.0       33.0
52      태영                  윤세영          76.0         11202.0       34.0
49     코오롱                  이웅열          41.0         11018.0       35.0
38    오씨아이                  이우현          22.0         10948.0       36.0
70     두나무                  송치형          14.0         10822.0       37.0
23      세아                  이순형          26.0         10791.0       38.0
57   한국타이어                  조양래          23.0         10150.0       39.0
40     이랜드                  박성수          31.0         10034.0       40.0
51      태광                  이호진          19.0          9793.0       41.0
4   금호석유화학                  박찬구          13.0          9608.0       42.0
41    장금상선                  정태순          30.0          9334.0       43.0
14      동원                  김재철          26.0          9281.0       44.0
59      한라                  정몽원          15.0          9146.0       45.0
22     삼천리                  이만득          44.0          8551.0       46.0
10    다우키움                  김익래          48.0          8505.0       47.0
27  아모레퍼시픽                  서경배          13.0          8388.0       48.0
36     엠디엠                  문주현          16.0          6795.0       49.0
13    동국제강                  장세주          11.0          6711.0       50.0
====================2022====================

In [37]:
print(dictNonChaebol)

{'2001': ['(주)고합', '대우전자(주)', '포항제철', '하나로통신', '현대정유(주)'], '2002': ['포항제철', '하나로통신', '현대정유(주)', '한국통신', '농업기반공사', '담배인삼공사', '대한주택공사', '한국가스공사', '한국도로공사', '한국수자원공사', '한국전력공사', '한국토지공사'], '2003': ['농업기반공사', '대한주택공사', '(주)케이티', '(주)케이티앤지', '(주)포스코', '하나로통신(주)', '한국가스공사', '한국도로공사', '한국수자원공사', '한국전력공사', '한국토지공사', '대우자동차', '대우조선해양(주)', '(주)문화방송'], '2004': ['농업기반공사', '대우자동차', '대우조선해양', '대한주택공사', '(주)문화방송', '(주)케이티', '케이티앤지', '하나로통신(주)', '한국가스공사', '한국도로공사', '한국전력공사', '한국토지공사', '(주)대우건설', '지엠대우', '포스코'], '2005': ['농업기반공사', '(주)대우건설', '대우자동차', '대우조선해양', '대한주택공사', '(주)문화방송', '지엠대우', '(주)케이티', '케이티앤지', '하나로텔레콤(주)', '한국가스공사', '한국도로공사', '한국전력공사', '한국토지공사', '한국철도공사', '현대오일뱅크(주)', '포스코'], '2006': ['(주)대우건설', '대우조선해양(주)', '대한주택공사', '(주)문화방송', '지엠대우오토앤테크놀', '(주)케이티', '(주)케이티앤지', '하나로텔레콤(주)', '한국가스공사', '한국농촌공사', '한국도로공사', '한국전력공사', '한국철도공사', '한국토지공사', '현대오일뱅크(주)', '쌍용양회공업(주)', '하이닉스', '포스코'], '2007': ['대우조선해양(주)', '대한주택공사', '(주)문화방송', '쌍용양회공업(주)', '지엠대우', '(주)케이티', '(주)케이티앤지', '(주)포스코', '하나로텔레콤(주)', '(주)하이닉스반도체', '한국가스공사', '한국농촌공사', '한국도로공사', '한국전력공사', '한국철도공사', '한국토지공사', '현대오일뱅크(주)', '대우자동차판매', '현대건설'], '2008': ['대우자동차판매(주)', '대우조선해양(주)', '대한주택공사', '(주)문화방송', '쌍용양회공업(주)', '지엠대우오토앤테크놀로지(주)', '(주)케이티', '(주)케이티앤지', '(주)포스코', '하나로텔레콤(주)', '(주)하이닉스반도체', '한국가스공사', '한국농촌공사', '한국도로공사', '한국전력공사', '한국철도공사', '한국토지공사', '현대건설(주)', '광해방지사업단', '농업협동조합중앙회', '부산항만공사', '삼성테스코(주)', '인천항만공사', '한국지역난방공사'], '2009': ['대우조선해양(주)', '대한주택공사', '삼성테스코(주)', '지엠대우오토앤테크놀로지(주)', '(주)케이티', '(주)케이티앤지', '(주)포스코', '(주)하이닉스반도체', '한국가스공사', '한국농어촌공사', '한국도로공사', '한국전력공사', '한국철도공사', '한국토지공사', '현대건설(주)', '에쓰-오일(주)', '한국석유공사'], '2010': ['대우조선해양(주)', '삼성테스코(주)', '에쓰-오일(주)', '지엠대우오토앤테크놀로지(주)', '(주)케이티', '(주)케이티앤지', '(주)포스코', '(주)하이닉스반도체', '한국가스공사', '한국도로공사', '한국전력공사', '한국철도공사', '현대건설(주)', '서울특별시도시철도공사', '인천광역시도시개발공사', '인천국제공항공사', '한국토지주택공사', '현대오일뱅크(주)'], '2011': ['대우조선해양(주)', '서울특별시도시철도공사', '에쓰-오일(주)', '인천국제공항공사', '(주)케이티', '(주)케이티앤지', '(주)포스코', '(주)하이닉스반도체', '한국가스공사', '한국도로공사', '한국전력공사', '한국지엠(주)', '한국철도공사', '한국토지주택공사', '홈플러스(주)', '(주)대우건설', '한국석유공사'], '2012': ['(주)대우건설', '대우조선해양(주)', '서울특별시도시철도공사', '에쓰-오일(주)', '인천국제공항공사', '(주)케이티', '(주)케이티앤지', '(주)포스코', '한국가스공사', '한국도로공사', '한국석유공사', '한국전력공사', '한국지엠(주)', '한국철도공사', '한국토지주택공사', '홈플러스(주)', '농업협동조합중앙회', '부산항만공사', '인천도시공사', '한국수자원공사'], '2013': ['농업협동조합중앙회', '(주)대우건설', '대우조선해양(주)', '부산항만공사', '서울특별시도시철도공사', '에쓰-오일(주)', '인천국제공항공사', '인천도시공사', '(주)케이티', '(주)케이티앤지', '(주)포스코', '한국가스공사', '한국도로공사', '한국수자원공사', '한국전력공사', '한국지엠(주)', '한국철도공사', '한국토지주택공사', '홈플러스(주)'], '2014': ['농업협동조합중앙회', '(주)대우건설', '대우조선해양(주)', '부산항만공사', '서울특별시도시철도공사', '에쓰-오일(주)', '인천국제공항공사', '인천도시공사', '(주)케이티', '(주)케이티앤지', '(주)포스코', '한국가스공사', '한국도로공사', '한국수자원공사', '한국전력공사', '한국지엠(주)', '한국철도공사', '한국토지주택공사', '홈플러스(주)', '서울메트로', '코닝정밀소재', '한국석유공사', '한국지역난방공사'], '2015': ['농업협동조합중앙회', '(주)대우건설', '대우조선해양(주)', '부산항만공사', '서울메트로', '서울특별시도시철도공사', '에쓰-오일(주)', '인천도시공사', '(주)케이티', '(주)케이티앤지', '(주)포스코', '한국가스공사', '한국도로공사', '한국석유공사', '한국수자원공사', '한국전력공사', '한국지엠(주)', '한국철도공사', '한국토지주택공사', '홈플러스(주)'], '2016': ['농업협동조합중앙회', '(주)대우건설', '대우조선해양(주)', '부산항만공사', '서울메트로', '서울특별시도시철도공사', '에쓰-오일(주)', '인천도시공사', '(주)케이티', '(주)케이티앤지', '(주)포스코', '한국가스공사', '한국도로공사', '한국석유공사', '한국수자원공사', '한국전력공사', '한국지엠(주)', '한국철도공사', '한국토지주택공사', '에스에이치공사'], '2017': ['농업협동조합중앙회', '(주)대우건설', '대우조선해양(주)', '에쓰-오일(주)', '(주)케이티', '(주)케이티앤지', '(주)포스코'], '2018': ['한국지엠(주)', '농업협동조합중앙회', '(주)대우건설', '대우조선해양(주)', '에쓰-오일(주)', '(주)케이티', '(주)케이티앤지', '(주)포스코'], '2019': ['농업협동조합중앙회', '(주)대우건설', '대우조선해양(주)', '에쓰-오일(주)', '(주)케이티', '(주)케이티앤지', '(주)포스코', '한국지엠(주)'], '2020': ['농업협동조합중앙회', '(주)대우건설', '대우조선해양(주)', '에쓰-오일(주)', '(주)케이티', '(주)케이티앤지', '(주)포스코', '한국지엠(주)', '에이치엠엠(주)'], '2021': ['농업협동조합중앙회', '(주)대우건설', '대우조선해양(주)', '에쓰-오일(주)', '에이치엠엠(주)', '(주)케이티', '(주)케이티앤지', '쿠팡(주)', '(주)포스코', '한국지엠(주)', '한국항공우주산업(주)'], '2022': ['농업협동조합중앙회', '대우조선해양(주)', '에쓰-오일(주)', '에이치엠엠(주)', '(주)케이티', '(주)케이티앤지', '쿠팡(주)', '포스코홀딩스(주)', '한국지엠(주)', '한국항공우주산업(주)']}

In [38]:
# Save nonchaebol dictionary
with open('../data/overview/dictNonChaebol.pkl', 'wb') as f:
    pickle.dump(dictNonChaebol, f)

In [39]:
dfMrgd.head(50)

,chaebol,the_same_person_2001,n_affil_2001,ttl_asset_2001,rank_2001,the_same_person_2002,n_affil_2002,ttl_asset_2002,rank_2002,the_same_person_2003,...,ttl_asset_2020,rank_2020,the_same_person_2021,n_affil_2021,ttl_asset_2021,rank_2021,the_same_person_2022,n_affil_2022,ttl_asset_2022,rank_2022
0,삼성,이건희,64.0,69873.0,1.0,이건희,63.0,72351.0,1.0,이건희,...,424848.0,1.0,이재용,59.0,457305.0,1.0,이재용,60.0,483919.0,1.0
1,현대,정몽헌,26.0,53632.0,2.0,정몽헌,12.0,11784.0,7.0,정몽헌,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,엘지,구본무,43.0,51965.0,3.0,구본무,51.0,54484.0,2.0,구본무,...,136967.0,4.0,구광모,70.0,151322.0,4.0,구광모,73.0,167501.0,4.0
3,에스케이,최태원,54.0,47379.0,4.0,최태원,62.0,46754.0,3.0,최태원,...,225526.0,3.0,최태원,148.0,239530.0,3.0,최태원,186.0,291969.0,2.0
4,현대자동차,정몽구,16.0,36136.0,5.0,정몽구,25.0,41266.0,4.0,정몽구,...,234706.0,2.0,정의선,53.0,246084.0,2.0,정의선,57.0,257845.0,3.0
5,한진,조중훈,19.0,21307.0,6.0,조중훈,21.0,21596.0,5.0,조양호,...,33549.0,11.0,조원태,31.0,33600.0,11.0,조원태,33.0,35238.0,11.0
6,롯데,신격호,31.0,16694.0,7.0,신격호,32.0,17964.0,6.0,신격호,...,121524.0,5.0,신동빈,86.0,117781.0,5.0,신동빈,85.0,121589.0,5.0
7,금호,박성용,17.0,11606.0,8.0,박성용,15.0,10608.0,8.0,박성용,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,한화,김승연,25.0,11496.0,9.0,김승연,26.0,9892.0,10.0,김승연,...,71686.0,6.0,김승연,83.0,72898.0,6.0,김승연,91.0,80388.0,6.0
9,두산,박용곤,18.0,11192.0,10.0,박용곤,18.0,8988.0,11.0,박용곤,...,29251.0,12.0,박정원,22.0,29659.0,12.0,박정원,21.0,26334.0,13.0
10,쌍용,김석원,20.0,9039.0,11.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,한솔,이인희,19.0,6983.0,12.0,이인희,12.0,4162.0,18.0,이인희,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,동부,김준기,19.0,5831.0,13.0,김준기,21.0,6083.0,12.0,김준기,...,9628.0,32.0,김준기,21.0,10366.0,33.0,김준기,20.0,11260.0,33.0
13,대림,이준용,17.0,5395.0,14.0,이준용,15.0,4985.0,14.0,이준용,...,18695.0,15.0,이준용,36.0,19627.0,16.0,이준용,42.0,24766.0,15.0
14,동양,현재현,30.0,5107.0,15.0,현재현,16.0,3845.0,20.0,현재현,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,효성,조석래,15.0,4950.0,16.0,조석래,15.0,4987.0,13.0,조석래,...,13472.0,22.0,조현준,50.0,13281.0,25.0,조현준,53.0,14799.0,24.0
16,제일제당,이재현,30.0,4763.0,17.0,이재현,28.0,4316.0,16.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,코오롱,이동찬,25.0,4640.0,18.0,이동찬,29.0,4589.0,15.0,이동찬,...,10428.0,27.0,이웅열,36.0,10299.0,34.0,이웅열,41.0,11018.0,35.0
18,동국제강,장세주,8.0,4342.0,19.0,장세주,6.0,4267.0,17.0,장세주,...,6059.0,48.0,장세주,11.0,5956.0,50.0,장세주,11.0,6711.0,50.0
19,현대산업개발,정세영,9.0,4070.0,20.0,정세영,10.0,3033.0,22.0,정세영,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,신세계,이명희,9.0,3221.0,21.0,이명희,10.0,3935.0,19.0,이명희,...,44088.0,9.0,이명희,45.0,46409.0,9.0,이명희,53.0,61055.0,9.0
21,영풍,장병희,24.0,2897.0,22.0,장병희,24.0,2831.0,23.0,장형진,...,12445.0,24.0,장형진,27.0,13170.0,26.0,장형진,26.0,14632.0,25.0
22,현대백화점,정몽근,15.0,2858.0,23.0,정몽근,10.0,3262.0,21.0,정몽근,...,16027.0,18.0,정지선,25.0,18313.0,18.0,정지선,23.0,18230.0,20.0
23,동양화학,이회림,22.0,2826.0,24.0,이회림,19.0,2293.0,28.0,이회림,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,태광산업,이식진,15.0,2598.0,25.0,이식진,18.0,2315.0,26.0,이식진,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,현대중공업,NaN,NaN,NaN,NaN,정몽준,5.0,10323.0,9.0,정몽준,...,62863.0,8.0,정몽준,33.0,63803.0,8.0,정몽준,36.0,75302.0,8.0
26,대상,NaN,NaN,NaN,NaN,임창욱,12.0,2364.0,24.0,임창욱,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,동원,NaN,NaN,NaN,NaN,김재철,17.0,2322.0,25.0,김재철,...,7874.0,43.0,김재철,26.0,8458.0,42.0,김재철,26.0,9281.0,44.0
28,케이씨씨,NaN,NaN,NaN,NaN,정상영,6.0,2311.0,27.0,정상영,...,10977.0,26.0,정몽진,18.0,12277.0,28.0,정몽진,14.0,12632.0,31.0
29,대성,NaN,NaN,NaN,NaN,김영대,32.0,2126.0,29.0,김영대,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,부영,NaN,NaN,NaN,NaN,이남형,4.0,2102.0,30.0,이남형,...,23284.0,14.0,이중근,23.0,23321.0,14.0,이중근,22.0,21736.0,16.0
31,한국타이어,NaN,NaN,NaN,NaN,조양래,6.0,2102.0,30.0,조양래,...,9385.0,36.0,조양래,21.0,9849.0,35.0,조양래,23.0,10150.0,39.0
32,씨제이,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,이재현,...,34537.0,10.0,이재현,79.0,34676.0,10.0,이재현,85.0,36925.0,10.0
33,대한전선,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,설원량,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,삼보컴퓨터,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,이홍순,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,하이트맥주,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,박문덕,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,농심,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,신춘호,...,NaN,NaN,NaN,NaN,NaN,NaN,신동원,24.0,5050.0,66.0
37,엘지전선,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,세아,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9590.0,33.0,이순형,29.0,9470.0,39.0,이순형,26.0,10791.0,38.0
39,삼양,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5125.0,55.0,김윤,11.0,5412.0,55.0,김윤,12.0,6247.0,52.0
40,지에스,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,66753.0,7.0,허창수,80.0,67677.0,7.0,허창수,93.0,76804.0,7.0
41,금호아시아나,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17579.0,17.0,박삼구,27.0,17442.0,19.0,박삼구,32.0,17627.0,21.0
42,엘에스,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23717.0,13.0,구자홍,58.0,25243.0,13.0,구자은,58.0,26270.0,14.0
43,에스티엑스,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,이랜드,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9873.0,29.0,박성수,33.0,9509.0,38.0,박성수,31.0,10034.0,40.0
45,한진중공업,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,태영,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9720.0,30.0,윤세영,63.0,9800.0,37.0,윤세영,76.0,11202.0,34.0
47,중앙일보,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,태평양,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,교보생명보험,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13580.0,21.0,신창재,12.0,14413.0,22.0,신창재,14.0,13817.0,27.0

In [40]:
dfMrgd['chaebol'].sort_values().unique()

array(['IMM인베스트먼트', 'KG', 'SM', '교보생명보험', '금호', '금호석유화학', '금호아시아나', '네이버',
       '넥슨', '넷마블', '농심', '다우키움', '대교', '대림', '대방건설', '대상', '대성', '대주건설',
       '대한전선', '대한해운', '동국제강', '동부', '동양', '동양화학', '동원', '두나무', '두산',
       '롯데', '메리츠금융', '미래에셋', '반도홀딩스', '보광', '보성', '부영', '삼보컴퓨터', '삼성',
       '삼양', '삼천리', '선명', '세아', '셀트리온', '신세계', '신영', '쌍용', '씨앤', '씨제이',
       '아모레퍼시픽', '아이에스지주', '애경', '에스케이', '에스티엑스', '에이치디씨', '엘에스', '엘지',
       '엘지전선', '엠디엠', '영풍', '오리온', '오씨아이', '오케이금융그룹', '웅진', '유진', '이랜드',
       '일진', '장금상선', '제일제당', '중앙', '중앙일보', '중흥건설', '지에스', '카카오', '케이씨씨',
       '코오롱', '크래프톤', '태광', '태광산업', '태영', '태평양', '프라임', '하림', '하이트맥주',
       '하이트진로', '한국타이어', '한국투자금융', '한라', '한솔', '한진', '한진중공업', '한화', '현대',
       '현대백화점', '현대산업개발', '현대자동차', '현대중공업', '현대해상화재보험', '호반건설', '효성'],
      dtype=object)

In [41]:
dfMrgd.tail(50)

,chaebol,the_same_person_2001,n_affil_2001,ttl_asset_2001,rank_2001,the_same_person_2002,n_affil_2002,ttl_asset_2002,rank_2002,the_same_person_2003,...,ttl_asset_2020,rank_2020,the_same_person_2021,n_affil_2021,ttl_asset_2021,rank_2021,the_same_person_2022,n_affil_2022,ttl_asset_2022,rank_2022
47,중앙일보,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,태평양,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,교보생명보험,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13580.0,21.0,신창재,12.0,14413.0,22.0,신창재,14.0,13817.0,27.0
50,오리온,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,웅진,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,태광,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8146.0,42.0,이호진,19.0,8767.0,41.0,이호진,19.0,9793.0,41.0
53,미래에셋,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18554.0,16.0,박현주,38.0,19333.0,17.0,박현주,40.0,20231.0,18.0
54,유진,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5435.0,53.0,유경선,52.0,5528.0,53.0,유경선,57.0,5429.0,59.0
55,애경,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5631.0,51.0,장영신,37.0,5589.0,51.0,장영신,35.0,6198.0,53.0
56,한라,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7679.0,44.0,정몽원,15.0,8104.0,43.0,정몽원,15.0,9146.0,45.0
57,대주건설,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,프라임,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,보광,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,씨앤,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,대한해운,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,선명,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,대교,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,오씨아이,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9930.0,28.0,이우현,18.0,9815.0,36.0,이우현,22.0,10948.0,36.0
65,한국투자금융,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14001.0,20.0,김남구,30.0,14649.0,21.0,NaN,NaN,NaN,NaN
66,하이트진로,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5443.0,52.0,박문덕,18.0,5448.0,54.0,박문덕,15.0,5790.0,56.0
67,아모레퍼시픽,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8289.0,41.0,서경배,14.0,8009.0,44.0,서경배,13.0,8388.0,48.0
68,삼천리,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7143.0,45.0,이만득,42.0,7841.0,46.0,이만득,44.0,8551.0,46.0
69,중흥건설,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8420.0,39.0,정창선,37.0,9207.0,40.0,정창선,55.0,20292.0,17.0
70,하림,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12478.0,23.0,김홍국,55.0,13044.0,27.0,김홍국,55.0,15433.0,22.0
71,셀트리온,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8838.0,38.0,서정진,8.0,14855.0,20.0,서정진,7.0,14576.0,26.0
72,금호석유화학,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5710.0,50.0,박찬구,15.0,6665.0,47.0,박찬구,13.0,9608.0,42.0
73,카카오,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14243.0,19.0,김범수,118.0,19952.0,15.0,김범수,136.0,32216.0,12.0
74,SM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9695.0,31.0,우오현,58.0,10450.0,32.0,우오현,63.0,13663.0,29.0
75,호반건설,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9146.0,37.0,김상열,42.0,10698.0,31.0,김상열,43.0,13784.0,28.0
76,네이버,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9491.0,34.0,이해진,45.0,13584.0,23.0,이해진,54.0,19220.0,19.0
77,메리츠금융,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,넥슨,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9465.0,35.0,김정주,18.0,11998.0,29.0,유정현,18.0,11261.0,32.0
79,넷마블,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8315.0,40.0,방준혁,23.0,10703.0,30.0,방준혁,30.0,13303.0,30.0
80,에이치디씨,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11708.0,25.0,정몽규,29.0,13549.0,24.0,정몽규,34.0,15122.0,23.0
81,다우키움,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5722.0,49.0,김익래,45.0,6593.0,48.0,김익래,48.0,8505.0,47.0
82,장금상선,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6388.0,46.0,정태순,19.0,6263.0,49.0,정태순,30.0,9334.0,43.0
83,IMM인베스트먼트,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6313.0,47.0,지성배,94.0,7895.0,45.0,NaN,NaN,NaN,NaN
84,KG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5256.0,54.0,NaN,NaN,NaN,NaN,곽재선,23.0,5346.0,61.0
85,반도홀딩스,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,권홍사,28.0,5585.0,52.0,권홍사,25.0,5679.0,57.0
86,대방건설,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,구교운,43.0,5326.0,56.0,구교운,45.0,6184.0,54.0
87,현대해상화재보험,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,정몽윤,21.0,5322.0,57.0,정몽윤,14.0,5500.0,58.0
88,엠디엠,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,문주현,22.0,5256.0,58.0,문주현,16.0,6795.0,49.0
89,아이에스지주,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,권혁운,46.0,5190.0,59.0,권혁운,53.0,5343.0,62.0
90,중앙,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,홍석현,56.0,5014.0,60.0,홍석현,55.0,5968.0,55.0
91,두나무,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,송치형,14.0,10822.0,37.0
92,크래프톤,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,장병규,10.0,6292.0,51.0
93,보성,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,이기승,67.0,5405.0,60.0
94,일진,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,허진규,38.0,5271.0,63.0
95,오케이금융그룹,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,최윤,19.0,5226.0,64.0
96,신영,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,정춘보,34.0,5080.0,65.0

In [42]:
dfMrgd.to_excel("../data/overview/affilNumTtlAsset/affilNumTtlAsset2001-2022.xlsx", index=False)