In [1]:
import requests
import numpy as np
import pandas as pd
import xml.etree.ElementTree as ET
import pickle

# Public Year Month

## Mockup

In [2]:
year = '2018'

In [3]:
apiKey = 'R/Tc95/XWkozetyTxFacnZ+YoC7U4O+ZMbPIVc9EJTYH3m3lm/n75YMNLbozV1gLHzF/vAxZzrURxwIB+Dz7dg=='
url = 'http://apis.data.go.kr/1130000/publicYmList/publicYmListApi'
params ={'serviceKey' : apiKey, 'pageNo' : '1', 'numOfRows' : '100', 'jobSeCode' : '0001', \
         'presentnYear' : year}

out = '../data/raw/api/publicYmListApi.xml'

In [4]:
response = requests.get(url, params=params)
print(response.content)
with open(out, 'wb') as outFile:
    outFile.write(response.content)

b'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><publicYmList><numOfRows>100</numOfRows><pageNo>1</pageNo><resultCode>00</resultCode><resultMsg>SUCCESS</resultMsg><totalCount>1</totalCount><publicYm><othbcYm>201805</othbcYm><jobSeCode>0001</jobSeCode></publicYm></publicYmList>'

In [7]:
tree = ET.parse(out)
root = tree.getroot()
for ym in root.iter('othbcYm'):
    print(ym.text)

201805

## Loop

In [18]:
apiKey = 'R/Tc95/XWkozetyTxFacnZ+YoC7U4O+ZMbPIVc9EJTYH3m3lm/n75YMNLbozV1gLHzF/vAxZzrURxwIB+Dz7dg=='
url = 'http://apis.data.go.kr/1130000/publicYmList/publicYmListApi'
dictPublicYm = {}

for year in range(2001, 2023):
    params ={'serviceKey' : apiKey, 'pageNo' : '1', 'numOfRows' : '100', 'jobSeCode' : '0001', \
             'presentnYear' : str(year)}

    out = f'../data/raw/api/publicYmListApi{year}.xml'
    response = requests.get(url, params=params)
    # check response
    # print(response.content)
    with open(out, 'wb') as outFile:
        outFile.write(response.content)
    tree = ET.parse(out)
    root = tree.getroot()
    for ym in root.iter('othbcYm'):
        print(ym.text)
    dictPublicYm[str(year)] = ym.text

b'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><publicYmList><numOfRows>100</numOfRows><pageNo>1</pageNo><resultCode>00</resultCode><resultMsg>SUCCESS</resultMsg><totalCount>1</totalCount><publicYm><othbcYm>2001</othbcYm><jobSeCode>0001</jobSeCode></publicYm></publicYmList>'
2001
b'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><publicYmList><numOfRows>100</numOfRows><pageNo>1</pageNo><resultCode>00</resultCode><resultMsg>SUCCESS</resultMsg><totalCount>1</totalCount><publicYm><othbcYm>2002</othbcYm><jobSeCode>0001</jobSeCode></publicYm></publicYmList>'
2002
b'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><publicYmList><numOfRows>100</numOfRows><pageNo>1</pageNo><resultCode>00</resultCode><resultMsg>SUCCESS</resultMsg><totalCount>1</totalCount><publicYm><othbcYm>2003</othbcYm><jobSeCode>0001</jobSeCode></publicYm></publicYmList>'
2003
b'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><publicYmList><numOfRows>100</numOfRows><pageNo>1</pageNo><resultCode>00</resultCode><resultMsg>SUCCESS</resultMsg><totalCount>1</totalCount><publicYm><othbcYm>2004</othbcYm><jobSeCode>0001</jobSeCode></publicYm></publicYmList>'
2004
b'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><publicYmList><numOfRows>100</numOfRows><pageNo>1</pageNo><resultCode>00</resultCode><resultMsg>SUCCESS</resultMsg><totalCount>1</totalCount><publicYm><othbcYm>2005</othbcYm><jobSeCode>0001</jobSeCode></publicYm></publicYmList>'
2005
b'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><publicYmList><numOfRows>100</numOfRows><pageNo>1</pageNo><resultCode>00</resultCode><resultMsg>SUCCESS</resultMsg><totalCount>1</totalCount><publicYm><othbcYm>2006</othbcYm><jobSeCode>0001</jobSeCode></publicYm></publicYmList>'
2006
b'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><publicYmList><numOfRows>100</numOfRows><pageNo>1</pageNo><resultCode>00</resultCode><resultMsg>SUCCESS</resultMsg><totalCount>1</totalCount><publicYm><othbcYm>2007</othbcYm><jobSeCode>0001</jobSeCode></publicYm></publicYmList>'
2007
b'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><publicYmList><numOfRows>100</numOfRows><pageNo>1</pageNo><resultCode>00</resultCode><resultMsg>SUCCESS</resultMsg><totalCount>1</totalCount><publicYm><othbcYm>2008</othbcYm><jobSeCode>0001</jobSeCode></publicYm></publicYmList>'
2008
b'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><publicYmList><numOfRows>100</numOfRows><pageNo>1</pageNo><resultCode>00</resultCode><resultMsg>SUCCESS</resultMsg><totalCount>1</totalCount><publicYm><othbcYm>200904</othbcYm><jobSeCode>0001</jobSeCode></publicYm></publicYmList>'
200904
b'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><publicYmList><numOfRows>100</numOfRows><pageNo>1</pageNo><resultCode>00</resultCode><resultMsg>SUCCESS</resultMsg><totalCount>1</totalCount><publicYm><othbcYm>201004</othbcYm><jobSeCode>0001</jobSeCode></publicYm></publicYmList>'
201004
b'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><publicYmList><numOfRows>100</numOfRows><pageNo>1</pageNo><resultCode>00</resultCode><resultMsg>SUCCESS</resultMsg><totalCount>1</totalCount><publicYm><othbcYm>201104</othbcYm><jobSeCode>0001</jobSeCode></publicYm></publicYmList>'
201104
b'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><publicYmList><numOfRows>100</numOfRows><pageNo>1</pageNo><resultCode>00</resultCode><resultMsg>SUCCESS</resultMsg><totalCount>1</totalCount><publicYm><othbcYm>201204</othbcYm><jobSeCode>0001</jobSeCode></publicYm></publicYmList>'
201204
b'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><publicYmList><numOfRows>100</numOfRows><pageNo>1</pageNo><resultCode>00</resultCode><resultMsg>SUCCESS</resultMsg><totalCount>1</totalCount><publicYm><othbcYm>201304</othbcYm><jobSeCode>0001</jobSeCode></publicYm></publicYmList>'
201304
b'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><publicYmList><numOfRows>100</numOfRows><pageNo>1</pageNo><resultCode>00</resultCode><resultMsg>SUCCESS</resultMsg><totalCount>1</totalCount><publicYm><othbcYm>201404</othbcYm><jobSeCode>0001</jobSeCode></publicYm></publicYmList>'
201404
b'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><publicYmList><numOfRows>100</numOfRows><pageNo>1</pageNo><resultCode>00</resultCode><resultMsg>SUCCESS</resultMsg><totalCount>1</totalCount><publicYm><othbcYm>201504</othbcYm><jobSeCode>0001</jobSeCode></publicYm></publicYmList>'
201504
b'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><publicYmList><numOfRows>100</numOfRows><pageNo>1</pageNo><resultCode>00</resultCode><resultMsg>SUCCESS</resultMsg><totalCount>1</totalCount><publicYm><othbcYm>201604</othbcYm><jobSeCode>0001</jobSeCode></publicYm></publicYmList>'
201604
b'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><publicYmList><numOfRows>100</numOfRows><pageNo>1</pageNo><resultCode>00</resultCode><resultMsg>SUCCESS</resultMsg><totalCount>2</totalCount><publicYm><othbcYm>201709</othbcYm><jobSeCode>0001</jobSeCode></publicYm><publicYm><othbcYm>201705</othbcYm><jobSeCode>0001</jobSeCode></publicYm></publicYmList>'
201709
201705
b'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><publicYmList><numOfRows>100</numOfRows><pageNo>1</pageNo><resultCode>00</resultCode><resultMsg>SUCCESS</resultMsg><totalCount>1</totalCount><publicYm><othbcYm>201805</othbcYm><jobSeCode>0001</jobSeCode></publicYm></publicYmList>'
201805
b'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><publicYmList><numOfRows>100</numOfRows><pageNo>1</pageNo><resultCode>00</resultCode><resultMsg>SUCCESS</resultMsg><totalCount>1</totalCount><publicYm><othbcYm>201905</othbcYm><jobSeCode>0001</jobSeCode></publicYm></publicYmList>'
201905
b'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><publicYmList><numOfRows>100</numOfRows><pageNo>1</pageNo><resultCode>00</resultCode><resultMsg>SUCCESS</resultMsg><totalCount>1</totalCount><publicYm><othbcYm>202005</othbcYm><jobSeCode>0001</jobSeCode></publicYm></publicYmList>'
202005
b'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><publicYmList><numOfRows>100</numOfRows><pageNo>1</pageNo><resultCode>00</resultCode><resultMsg>SUCCESS</resultMsg><totalCount>1</totalCount><publicYm><othbcYm>202105</othbcYm><jobSeCode>0001</jobSeCode></publicYm></publicYmList>'
202105
b'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><publicYmList><numOfRows>100</numOfRows><pageNo>1</pageNo><resultCode>00</resultCode><resultMsg>SUCCESS</resultMsg><totalCount>1</totalCount><publicYm><othbcYm>202205</othbcYm><jobSeCode>0001</jobSeCode></publicYm></publicYmList>'
202205

In [19]:
dictPublicYm

{'2001': '2001',
 '2002': '2002',
 '2003': '2003',
 '2004': '2004',
 '2005': '2005',
 '2006': '2006',
 '2007': '2007',
 '2008': '2008',
 '2009': '200904',
 '2010': '201004',
 '2011': '201104',
 '2012': '201204',
 '2013': '201304',
 '2014': '201404',
 '2015': '201504',
 '2016': '201604',
 '2017': '201705',
 '2018': '201805',
 '2019': '201905',
 '2020': '202005',
 '2021': '202105',
 '2022': '202205'}

In [20]:
dfYm = pd.DataFrame.from_dict(dictPublicYm, orient='index', columns=['publicYm'])
dfYm

     publicYm
2001     2001
2002     2002
2003     2003
2004     2004
2005     2005
2006     2006
2007     2007
2008     2008
2009   200904
2010   201004
2011   201104
2012   201204
2013   201304
2014   201404
2015   201504
2016   201604
2017   201705
2018   201805
2019   201905
2020   202005
2021   202105
2022   202205

In [24]:
with open('../data/lrgBsnsGrps/publicYm/publicYm.pkl', 'wb') as dump:
    pickle.dump(dictPublicYm, dump)

# 지정된 대규모기업집단 조회 서비스

## Mockup

In [ ]:
url = 'http://apis.data.go.kr/1130000/appnGroupSttusList/appnGroupSttusListApi'
apiKey = "R/Tc95/XWkozetyTxFacnZ+YoC7U4O+ZMbPIVc9EJTYH3m3lm/n75YMNLbozV1gLHzF/vAxZzrURxwIB+Dz7dg=="
params ={'serviceKey' : apiKey, 'pageNo' : '1', 'numOfRows' : '100', 'presentnYear' : '202105' }
response = requests.get(url, params=params)

with open('../data/raw/api/appnGroupSttusListApi.xml', 'wb') as outFile:
    outFile.write(response.content)

print(response.ok)

In [4]:
df = pd.read_xml('../data/raw/api/appnGroupSttusListApi.xml')
df = df.iloc[5:, 5:]
df.head(50)

,unityGrupNm,unityGrupCode,smerNm,repreCmpny,sumCmpnyCo,invstmntLmtt,entrprsCl
5,삼성,K1000032,이재용,삼성전자(주),59.0,상호출자제한집단,일반
6,현대자동차,K3000027,정의선,현대자동차(주),53.0,상호출자제한집단,일반
7,에스케이,K1000050,최태원,에스케이(주),148.0,상호출자제한집단,일반
8,엘지,K1000051,구광모,(주)엘지,70.0,상호출자제한집단,일반
9,롯데,K1000027,신동빈,롯데지주(주),86.0,상호출자제한집단,일반
10,포스코,K1000064,(주)포스코,포스코홀딩스(주),33.0,상호출자제한집단,일반
11,한화,K1000082,김승연,(주)한화,83.0,상호출자제한집단,일반
12,지에스,K3000076,허창수,(주)지에스,80.0,상호출자제한집단,일반
13,현대중공업,K3000052,정몽준,한국조선해양(주),33.0,상호출자제한집단,일반
14,농협,K3000091,농업협동조합중앙회,농업협동조합중앙회,58.0,상호출자제한집단,일반
15,신세계,K1000042,이명희,(주)신세계,45.0,상호출자제한집단,일반
16,케이티,K1000070,(주)케이티,(주)케이티,48.0,상호출자제한집단,일반
17,씨제이,K1000055,이재현,씨제이(주),79.0,상호출자제한집단,일반
18,한진,K1000081,조원태,(주)한진칼,31.0,상호출자제한집단,일반
19,두산,K1000026,박정원,(주)두산,22.0,상호출자제한집단,일반
20,엘에스,K3000062,구자홍,(주)엘에스,58.0,상호출자제한집단,일반
21,부영,K2000060,이중근,(주)부영,23.0,상호출자제한집단,일반
22,카카오,K3000137,김범수,(주)카카오,118.0,상호출자제한집단,일반
23,DL,K1000011,이준용,디엘(주),36.0,상호출자제한집단,일반
24,미래에셋,K3000093,박현주,미래에셋캐피탈(주),38.0,상호출자제한집단,일반
25,현대백화점,K1000087,정지선,(주)현대백화점,25.0,상호출자제한집단,일반
26,금호아시아나,K1000008,박삼구,금호건설(주),27.0,상호출자제한집단,일반
27,에쓰-오일,K2000059,에쓰-오일(주),에쓰-오일(주),2.0,상호출자제한집단,일반
28,셀트리온,K3000135,서정진,(주)셀트리온홀딩스,8.0,상호출자제한집단,일반
29,한국투자금융,K3000110,김남구,한국투자금융지주(주),30.0,상호출자제한집단,일반
30,교보생명보험,K3000065,신창재,교보생명보험(주),12.0,상호출자제한집단,일반
31,네이버,K3000138,이해진,네이버(주),45.0,상호출자제한집단,일반
32,에이치디씨,K2000057,정몽규,에이치디씨(주),29.0,상호출자제한집단,일반
33,효성,K1000086,조현준,(주)효성,50.0,상호출자제한집단,일반
34,영풍,K1000052,장형진,(주)영풍,27.0,상호출자제한집단,일반
35,하림,K3000121,김홍국,(주)하림지주,55.0,상호출자제한집단,일반
36,케이티앤지,K1000010,(주)케이티앤지,(주)케이티앤지,10.0,상호출자제한집단,일반
37,케이씨씨,K1000001,정몽진,(주)케이씨씨,18.0,상호출자제한집단,일반
38,넥슨,K3000119,김정주,(주)엔엑스씨,18.0,상호출자제한집단,일반
39,대우조선해양,K3000033,대우조선해양(주),대우조선해양(주),5.0,상호출자제한집단,일반
40,넷마블,K3000162,방준혁,넷마블(주),23.0,상호출자제한집단,일반
41,호반건설,K3000145,김상열,(주)호반건설,42.0,상호출자제한집단,일반
42,SM,K3000134,우오현,(주)티케이케미칼,58.0,상호출자제한집단,일반
43,DB,K1000021,김준기,(주)디비아이엔씨,21.0,상호출자제한집단,일반
44,코오롱,K1000059,이웅열,(주)코오롱,36.0,상호출자제한집단,일반
45,한국타이어,K1000074,조양래,한국앤컴퍼니(주),21.0,공시대상기업집단,일반
46,대우건설,K3000030,(주)대우건설,(주)대우건설,15.0,공시대상기업집단,일반
47,오씨아이,K1000024,이우현,오씨아이(주),18.0,공시대상기업집단,일반
48,태영,K2000045,윤세영,(주)티와이홀딩스,63.0,공시대상기업집단,일반
49,이랜드,K2000038,박성수,(주)이랜드월드,33.0,공시대상기업집단,일반
50,세아,K1000041,이순형,(주)세아홀딩스,29.0,공시대상기업집단,일반
51,중흥건설,K3000139,정창선,중흥건설(주),37.0,공시대상기업집단,일반
52,에이치엠엠,K3000159,에이치엠엠(주),에이치엠엠(주),4.0,공시대상기업집단,일반
53,태광,K1000060,이호진,태광산업(주),19.0,공시대상기업집단,일반
54,동원,K1000025,김재철,(주)동원엔터프라이즈,26.0,공시대상기업집단,일반

## Loop

In [5]:
with open('../data/lrgBsnsGrps/publicYm/publicYm.pkl', 'rb') as f:
    dictPublicYm = pickle.load(f)

In [7]:
dictPublicYm

{'2001': '2001',
 '2002': '2002',
 '2003': '2003',
 '2004': '2004',
 '2005': '2005',
 '2006': '2006',
 '2007': '2007',
 '2008': '2008',
 '2009': '200904',
 '2010': '201004',
 '2011': '201104',
 '2012': '201204',
 '2013': '201304',
 '2014': '201404',
 '2015': '201504',
 '2016': '201604',
 '2017': '201705',
 '2018': '201805',
 '2019': '201905',
 '2020': '202005',
 '2021': '202105',
 '2022': '202205'}

In [10]:
url = 'http://apis.data.go.kr/1130000/appnGroupSttusList/appnGroupSttusListApi'
apiKey = "R/Tc95/XWkozetyTxFacnZ+YoC7U4O+ZMbPIVc9EJTYH3m3lm/n75YMNLbozV1gLHzF/vAxZzrURxwIB+Dz7dg=="
for year in range(2001, 2023):
    ym = dictPublicYm[str(year)]
    params ={'serviceKey' : apiKey, 'pageNo' : '1', 'numOfRows' : '100', 'presentnYear' : ym}
    response = requests.get(url, params=params)

    with open(f'../data/raw/api/appnGroupSttus/appnGroupSttus{year}.xml', 'wb') as outFile:
        outFile.write(response.content)
    if not response.ok:
        print(response.content)
    df = pd.read_xml(f'../data/raw/api/appnGroupSttus/appnGroupSttus{year}.xml')
    df = df.iloc[5:, 5:]
    df.to_excel(f'../data/lrgBsnsGrps/appnGroupSttus/appnGroupSttus{year}.xlsx', index=False)