In [1]:
import sys
sys.path.append('../scripts')

import requests
import zipfile
import xml.etree.ElementTree as ET
import os
import pickle
from utils import download, cleanseTransWide, convColNm, cleanSalesData, cleanCmpnyNm, catOwn, catOwn2
from selenium import webdriver
import chromedriver_autoinstaller
import numpy as np
import pandas as pd

In [2]:
chromedriver_autoinstaller.install(path="../utils/")

'/Users/choidamian/Chaebol/utils/101/chromedriver'

# Download Company Code File

In [317]:
class Api:
    
    def __init__(self, apiKey):
        
        self.apiKey = apiKey
        self.corpCode = None

    def getCorpCode(self, path):

        url = "https://opendart.fss.or.kr/api/corpCode.xml?crtfc_key=" + self.apiKey
        download(url, path)

        with zipfile.ZipFile(path, 'r') as zipObj:
            fileList = zipObj.namelist()
            target = fileList[0]
        
        loc = os.path.normpath(path)
        loc = loc.split(os.sep)
        loc = '/'.join(loc[:-1])
        
        with zipfile.ZipFile(path, 'r') as zipRef:
            zipRef.extractall(loc)

        self.corpCode = loc + '/' + target
        print(f'Corporation Code File downloaded to {self.corpCode}')

    def findCorpCode(self, corpNm):
        
        if not self.corpCode:
            print('No corporation code file found. Downloading the code file...')
            self.getCorpCode('../data/raw/opendart/corpCode/CORPCODE.zip')

        xml = ET.parse(self.corpCode)
        root = xml.getroot()

        lists = root.findall('list')

        codeList = []
        for list in lists:
            if (list.find('corp_name').text == corpNm):
                codeList.append(list.find('corp_code').text)
                
        return codeList

    def findCorpCode(self, corpNm):
        
        if not self.corpCode:
            print('No corporation code file found. Downloading the code file...')
            self.getCorpCode('../data/raw/opendart/corpCode/CORPCODE.zip')

        xml = ET.parse(self.corpCode)
        root = xml.getroot()

        lists = root.findall('list')

        codeList = []
        for list in lists:
            if (list.find('corp_name').text == corpNm):
                codeList.append(list.find('corp_code').text)
        return codeList

    def findRceptNum(self, corpNm, year):

        codeList = self.findCorpCode(corpNm)
        pblntfTy = 'j'
        pblntfDetailTy = "J004"
        pgCnt = "50"
        bgnDe = str(year) + '0501'
        endDe = str(year+1) + '0430'

        # find the firm that submitted reports to FTC whose name is <firmname>
        for corpCode in codeList:
            url = "https://opendart.fss.or.kr/api/list.json?corp_code=" + corpCode + "&crtfc_key=" + self.apiKey \
            + "&bgn_de=" + bgnDe + "&end_de=" + endDe + "&last_reprt_at=Y" + "&pblntf_ty=" + pblntfTy + \
            "&pblntf_detail_ty=" + pblntfDetailTy + "&page_count=" + pgCnt
            res = requests.get(url)
            content = res.json()
            if 'list' in content:
                break
        
        else:
            raise ValueError(f"{corpNm}: no report found for {bgnDe} ~ {endDe}")


        # find all the reports whose names contain the string '대규모기업집단현황공시[연1회공시및1/4분기용' and save as a list
        # and return rcept_no of the last report in the list
        receptNums = [report['rcept_no'] for report in content['list'] if ('대규모기업집단현황공시[연1회공시및1/4분기용(대표회사)]' \
                        in report['report_nm'])]
        
        if (corpNm in ['아모레퍼시픽그룹', '아이엠엠인베스트먼트'] and year == 2021):
            receptNums = [receptNums[0]] # select the last report received
        
        assert len(receptNums) >= 1, f'{corpNm}: no 대규모기업집단현황공시[연1회공시및1/4분기용(대표회사)] found for {bgnDe} ~ {endDe}'
        assert len(receptNums) <= 1, f'{corpNm}: Too many 대규모기업집단현황공시[연1회공시및1/4분기용(대표회사)] report found'

        return receptNums[0]

    def getSharesURL(self, corpNm, year):

        rceptNum = self.findRceptNum(corpNm, year)
        driver = webdriver.Chrome()
        driver.implicitly_wait(3)
        url = "http://dart.fss.or.kr/dsaf001/main.do?rcpNo=" + rceptNum
        driver.get(url)

        # In the navigation menu click the link that contains the string '소유지분현황'
        driver.find_element_by_partial_link_text('소유지분현황').click()

        # get the url of the '소유지분현황' page and return it
        sharesURL = driver.find_element_by_id('ifrm').get_attribute('src')
        
        # quit
        driver.quit()

        return sharesURL

    def getSharesTable(self, corpNm, year):
        
        # get shares url
        url = self.getSharesURL(corpNm, year)
        
        # parse html tables which includes string data '동일인'(the same person in Korean) with thousands delimiter ',' 
        tables = pd.read_html(url, match='동일인', thousands=',')
        
        # convert column names
        for table in tables:
            if len(table.columns) != 12:
                print(table.head())
                
            if len(table.columns) == 11 and corpNm == '미래에셋캐피탈' and year == 2021:
                table.insert(4, '금융회사', np.nan)
            elif len(table.columns) == 10 and corpNm == '미래에셋캐피탈' and year == 2021:
                table.insert(2, '동일인과의관계', '동일인측')
                table.insert(4, '동일인과의관계3', '계열회사(국내+해외)')
            elif len(table.columns) == 9 and corpNm == '미래에셋캐피탈' and year == 2021:
                table.insert(4, '금융회사', np.nan)
                table.insert(8, '우선주주식수', np.nan)
                table.insert(9, '우선주지분율', np.nan)
                
            table.columns = ['금융회사', '소속회사명', '동일인과의관계', '동일인과의관계2', '동일인과의관계3', '성명', \
                             '보통주주식수', '보통주지분율', '우선주주식수', '우선주지분율', '합계주식수', '합계지분율']
            
        # concat tables
        df = pd.concat(tables)
        df.reset_index(inplace=True)
        df.drop(columns=['index'], inplace=True)
        df = df[df['소속회사명'] != '소속회사명']
        
        # data cleaning
        clean(df['소속회사명'])
        clean(df['성명'])
        df[['동일인과의관계', '동일인과의관계2', '동일인과의관계3']] = df[['동일인과의관계', '동일인과의관계2', '동일인과의관계3']].replace(' ', '', regex=True)
        df[['동일인과의관계', '동일인과의관계2', '동일인과의관계3']] = df[['동일인과의관계', '동일인과의관계2', '동일인과의관계3']].replace('⑧', '', regex=True)
        df[['동일인과의관계', '동일인과의관계2', '동일인과의관계3']] = df[['동일인과의관계', '동일인과의관계2', '동일인과의관계3']].replace('⑨', '', regex=True)
        df['합계주식수'].replace('^-$', '', regex=True, inplace=True)
        df['합계주식수'] = df['합계주식수'].copy().replace('', np.nan,regex=True)
        df['합계주식수'] = df['합계주식수'].copy().astype(float)

        # save the data in the after_cleansing folder
        if not os.path.exists(f'../data/ownership-status/raw/{year}'):
            os.makedirs(f'../data/ownership-status/raw/{year}')
        df.to_excel(f'../data/ownership-status/raw/{year}/{corpNm}.xlsx', index=False)

        return df
    
    def getSharesTableAll(self, year):
        
        dfAppnGroupSttus = pd.read_excel(f'../data/grpSumry/appnGroupSttus/appnGroupSttus{year}.xlsx')
        dfAppnGroupSttus['repreCmpny'].replace('에스케이', 'SK', regex=True, inplace=True)
        dfAppnGroupSttus['repreCmpny'].replace('엘지', 'LG', regex=True, inplace=True)
        dfAppnGroupSttus['repreCmpny'].replace('지에스', 'GS', regex=True, inplace=True)
        dfAppnGroupSttus['repreCmpny'].replace('한진칼', '대한항공', regex=True, inplace=True)
        dfAppnGroupSttus['repreCmpny'].replace('씨제이', 'CJ', regex=True, inplace=True)
        dfAppnGroupSttus['repreCmpny'].replace('엘에스', 'LS', regex=True, inplace=True)
        dfAppnGroupSttus['repreCmpny'].replace('네이버', 'NAVER', regex=True, inplace=True)
        dfAppnGroupSttus['repreCmpny'].replace('에이치디씨', 'HDC', regex=True, inplace=True)
        dfAppnGroupSttus['repreCmpny'].replace('디엘', 'DL', regex=True, inplace=True)
        dfAppnGroupSttus['repreCmpny'].replace('에쓰-오일', 'S-Oil', regex=True, inplace=True)
        dfAppnGroupSttus['repreCmpny'].replace('오씨아이', 'OCI', regex=True, inplace=True)
        dfAppnGroupSttus['repreCmpny'].replace('한국투자금융지주', '한국금융지주', regex=True, inplace=True)
        dfAppnGroupSttus['repreCmpny'].replace('디비아이엔씨', 'DB', regex=True, inplace=True)
        dfAppnGroupSttus['repreCmpny'].replace('에이케이홀딩스', 'AK홀딩스', regex=True, inplace=True)
        dfAppnGroupSttus['repreCmpny'].replace('현대해상화재보험', '현대해상', regex=True, inplace=True)
        clean(dfAppnGroupSttus)
        
        with open(f'../data/utils/gNonChaebol{year}.pkl', 'rb') as f:
            gNonChaebol = pickle.load(f)
        
        for cmpny in dfAppnGroupSttus['repreCmpny']:
            if cmpny in gNonChaebol['cmpny']:
                continue
            dfShares = api.getSharesTable(cmpny, year)
            print("="* 15 + cmpny + "=" * 15)
            print(dfShares.head())
            print(dfShares.tail())
            print(dfShares['동일인과의관계'].unique())
            print(dfShares['동일인과의관계2'].unique())
            print(dfShares['동일인과의관계3'].unique())
            print("="* 15 + cmpny + "=" * 15)

In [323]:
dfAppnGroupSttus21 = pd.read_excel('../data/grpSumry/appnGroupSttus/appnGroupSttus2021.xlsx')
dfAppnGroupSttus21['repreCmpny'].replace('에스케이', 'SK', regex=True, inplace=True)
dfAppnGroupSttus21['repreCmpny'].replace('엘지', 'LG', regex=True, inplace=True)
dfAppnGroupSttus21['repreCmpny'].replace('지에스', 'GS', regex=True, inplace=True)
dfAppnGroupSttus21['repreCmpny'].replace('한진칼', '대한항공', regex=True, inplace=True)
dfAppnGroupSttus21['repreCmpny'].replace('씨제이', 'CJ', regex=True, inplace=True)
dfAppnGroupSttus21['repreCmpny'].replace('엘에스', 'LS', regex=True, inplace=True)
dfAppnGroupSttus21['repreCmpny'].replace('네이버', 'NAVER', regex=True, inplace=True)
dfAppnGroupSttus21['repreCmpny'].replace('에이치디씨', 'HDC', regex=True, inplace=True)
dfAppnGroupSttus21['repreCmpny'].replace('디엘', 'DL', regex=True, inplace=True)
dfAppnGroupSttus21['repreCmpny'].replace('에쓰-오일', 'S-Oil', regex=True, inplace=True)
dfAppnGroupSttus21['repreCmpny'].replace('오씨아이', 'OCI', regex=True, inplace=True)
dfAppnGroupSttus21['repreCmpny'].replace('한국투자금융지주', '한국금융지주', regex=True, inplace=True)
dfAppnGroupSttus21['repreCmpny'].replace('디비아이엔씨', 'DB', regex=True, inplace=True)
dfAppnGroupSttus21['repreCmpny'].replace('에이케이홀딩스', 'AK홀딩스', regex=True, inplace=True)
dfAppnGroupSttus21['repreCmpny'].replace('현대해상화재보험', '현대해상', regex=True, inplace=True)
dfAppnGroupSttus21['repreCmpny'].replace('에이치엠엠', 'HMM', regex=True, inplace=True)
clean(dfAppnGroupSttus21)
dfAppnGroupSttus21.head(50)

,unityGrupNm,unityGrupCode,smerNm,repreCmpny,sumCmpnyCo,invstmntLmtt,entrprsCl
0,삼성,K1000032,이재용,삼성전자,59,상호출자제한집단,일반
1,현대자동차,K3000027,정의선,현대자동차,53,상호출자제한집단,일반
2,에스케이,K1000050,최태원,SK,148,상호출자제한집단,일반
3,엘지,K1000051,구광모,LG,70,상호출자제한집단,일반
4,롯데,K1000027,신동빈,롯데지주,86,상호출자제한집단,일반
5,포스코,K1000064,포스코,포스코홀딩스,33,상호출자제한집단,일반
6,한화,K1000082,김승연,한화,83,상호출자제한집단,일반
7,지에스,K3000076,허창수,GS,80,상호출자제한집단,일반
8,현대중공업,K3000052,정몽준,한국조선해양,33,상호출자제한집단,일반
9,농협,K3000091,농업협동조합중앙회,농업협동조합중앙회,58,상호출자제한집단,일반
10,신세계,K1000042,이명희,신세계,45,상호출자제한집단,일반
11,케이티,K1000070,케이티,케이티,48,상호출자제한집단,일반
12,씨제이,K1000055,이재현,CJ,79,상호출자제한집단,일반
13,한진,K1000081,조원태,대한항공,31,상호출자제한집단,일반
14,두산,K1000026,박정원,두산,22,상호출자제한집단,일반
15,엘에스,K3000062,구자홍,LS,58,상호출자제한집단,일반
16,부영,K2000060,이중근,부영,23,상호출자제한집단,일반
17,카카오,K3000137,김범수,카카오,118,상호출자제한집단,일반
18,DL,K1000011,이준용,DL,36,상호출자제한집단,일반
19,미래에셋,K3000093,박현주,미래에셋캐피탈,38,상호출자제한집단,일반
20,현대백화점,K1000087,정지선,현대백화점,25,상호출자제한집단,일반
21,금호아시아나,K1000008,박삼구,금호건설,27,상호출자제한집단,일반
22,에쓰-오일,K2000059,에쓰-오일,S-Oil,2,상호출자제한집단,일반
23,셀트리온,K3000135,서정진,셀트리온홀딩스,8,상호출자제한집단,일반
24,한국투자금융,K3000110,김남구,한국금융지주,30,상호출자제한집단,일반
25,교보생명보험,K3000065,신창재,교보생명보험,12,상호출자제한집단,일반
26,네이버,K3000138,이해진,NAVER,45,상호출자제한집단,일반
27,에이치디씨,K2000057,정몽규,HDC,29,상호출자제한집단,일반
28,효성,K1000086,조현준,효성,50,상호출자제한집단,일반
29,영풍,K1000052,장형진,영풍,27,상호출자제한집단,일반
30,하림,K3000121,김홍국,하림지주,55,상호출자제한집단,일반
31,케이티앤지,K1000010,케이티앤지,케이티앤지,10,상호출자제한집단,일반
32,케이씨씨,K1000001,정몽진,케이씨씨,18,상호출자제한집단,일반
33,넥슨,K3000119,김정주,엔엑스씨,18,상호출자제한집단,일반
34,대우조선해양,K3000033,대우조선해양,대우조선해양,5,상호출자제한집단,일반
35,넷마블,K3000162,방준혁,넷마블,23,상호출자제한집단,일반
36,호반건설,K3000145,김상열,호반건설,42,상호출자제한집단,일반
37,SM,K3000134,우오현,티케이케미칼,58,상호출자제한집단,일반
38,DB,K1000021,김준기,DB,21,상호출자제한집단,일반
39,코오롱,K1000059,이웅열,코오롱,36,상호출자제한집단,일반
40,한국타이어,K1000074,조양래,한국앤컴퍼니,21,공시대상기업집단,일반
41,대우건설,K3000030,대우건설,대우건설,15,공시대상기업집단,일반
42,오씨아이,K1000024,이우현,OCI,18,공시대상기업집단,일반
43,태영,K2000045,윤세영,티와이홀딩스,63,공시대상기업집단,일반
44,이랜드,K2000038,박성수,이랜드월드,33,공시대상기업집단,일반
45,세아,K1000041,이순형,세아홀딩스,29,공시대상기업집단,일반
46,중흥건설,K3000139,정창선,중흥건설,37,공시대상기업집단,일반
47,에이치엠엠,K3000159,에이치엠엠,HMM,4,공시대상기업집단,일반
48,태광,K1000060,이호진,태광산업,19,공시대상기업집단,일반
49,동원,K1000025,김재철,동원엔터프라이즈,26,공시대상기업집단,일반

In [324]:
gNonChaebol21 = {'grp': ['포스코', '농협', '케이티', '에쓰-오일', '대우조선해양', \
                         '케이티앤지', '대우건설', '에이치엠엠', '한국지엠', '쿠팡', '한국항공우주산업'],
                 'cmpny': ['포스코홀딩스', '농업협동조합중앙회', '케이티', 'S-Oil', '대우조선해양', \
                           '케이티앤지', '대우건설', 'HMM', '한국지엠', '쿠팡', '한국항공우주산업']}

In [320]:
with open('../data/utils/gNonChaebol21.pkl', 'wb') as f:
    pickle.dump(gNonChaebol21, f)

In [325]:
apiKey = "7946dcde119af7656afc01157071c0ab9488b9ad"
api = Api(apiKey)
for cmpny in dfAppnGroupSttus21['repreCmpny'][47:]:
    if cmpny in gNonChaebol21['cmpny']:
        continue
    df = api.getSharesTable(cmpny, 2021)
    print("="* 15 + cmpny + "=" * 15)
    print(df.head())
    print(df.tail())
    print(df['동일인과의관계'].unique())
    print(df['동일인과의관계2'].unique())
    print(df['동일인과의관계3'].unique())
    print("="* 15 + cmpny + "=" * 15)

No corporation code file found. Downloading the code file...
Corporation Code File downloaded to ../data/raw/opendart/corpCode/CORPCODE.xml
===============태광산업===============
    금융회사 소속회사명 동일인과의관계 동일인과의관계2 동일인과의관계3   성명    보통주주식수  보통주지분율 우선주주식수 우선주지분율  \
0  비금융회사  태광산업    동일인측      동일인      동일인  이호진  328189.0   29.48    NaN    NaN
1  비금융회사  태광산업    동일인측       친족   혈족2~4촌  이원준   83370.0    7.49    NaN    NaN
2  비금융회사  태광산업    동일인측       친족   혈족2~4촌  이동준    8918.0    0.80    NaN    NaN
3  비금융회사  태광산업    동일인측       친족   혈족2~4촌  이태준    8982.0    0.81    NaN    NaN
4  비금융회사  태광산업    동일인측       친족   혈족5~6촌  NaN       NaN     NaN    NaN    NaN

      합계주식수  합계지분율
0  328189.0  29.48
1   83370.0   7.49
2    8918.0   0.80
3    8982.0   0.81
4       NaN    NaN
     금융회사    소속회사명 동일인과의관계     동일인과의관계2     동일인과의관계3      성명     보통주주식수  \
291  금융회사  예가람저축은행    동일인측         계열회사         계열회사  흥국생명보험   553018.0
292  금융회사  예가람저축은행    동일인측       동일인측합계       동일인측합계     NaN  4409000.0
293  금융회사  예가람저축은행    기타주주  동일인측이아닌최다주주  동일인측이아닌최다주주     NaN        NaN
294  금융회사  예가람저축은행    기타주주           기타           기타     NaN        NaN
295  금융회사  예가람저축은행      총계           총계           총계     NaN  4409000.0

     보통주지분율 우선주주식수 우선주지분율      합계주식수   합계지분율
291   12.54    NaN    NaN   553018.0   12.54
292  100.00    NaN    NaN  4409000.0  100.00
293     NaN    NaN    NaN        NaN     NaN
294     NaN    NaN    NaN        NaN     NaN
295  100.00    NaN    NaN  4409000.0  100.00
['동일인측' '기타주주' '총계']
['동일인' '친족' '비영리법인' '등기된임원' '자기주식' '계열회사' '동일인측합계' '동일인측이아닌최다주주' '기타' '총계']
['동일인' '혈족2~4촌' '혈족5~6촌' '인척4촌이내' '친족합계' '비영리법인' '등기된임원' '자기주식' '계열회사'
 '동일인측합계' '동일인측이아닌최다주주' '기타' '총계' '배우자/혈족1촌']
===============태광산업===============
===============동원엔터프라이즈===============
    금융회사     소속회사명 동일인과의관계 동일인과의관계2  동일인과의관계3   성명   보통주주식수 보통주지분율 우선주주식수  \
0  비금융회사  동원엔터프라이즈    동일인측      동일인       동일인  김재철  2864925   24.5      -
1  비금융회사  동원엔터프라이즈    동일인측       친족  배우자/혈족1촌  김남정  7981904  68.27      -
2  비금융회사  동원엔터프라이즈    동일인측       친족    혈족2~4촌  김재국   113712   0.97      -
3  비금융회사  동원엔터프라이즈    동일인측       친족    혈족2~4촌  김재운    67707   0.58      -
4  비금융회사  동원엔터프라이즈    동일인측       친족    혈족2~4촌  김재종    27744   0.24      -

  우선주지분율    합계주식수  합계지분율
0      -  2864925   24.5
1      -  7981904  68.27
2      -   113712   0.97
3      -    67707   0.58
4      -    27744   0.24
      금융회사 소속회사명 동일인과의관계     동일인과의관계2     동일인과의관계3      성명 보통주주식수 보통주지분율  \
154  비금융회사  엠케이씨    동일인측  계열회사(국내+해외)  계열회사(국내+해외)  동원시스템즈  50000    100
155  비금융회사  엠케이씨    동일인측       동일인측합계       동일인측합계       /  50000    100
156  비금융회사  엠케이씨      기타  동일인측이아닌최다주주  동일인측이아닌최다주주       -      -      -
157  비금융회사  엠케이씨      기타           기타           기타       /      -      -
158  비금융회사  엠케이씨      총계           총계           총계       /  50000    100

    우선주주식수 우선주지분율  합계주식수 합계지분율
154      -      -  50000   100
155      -      -  50000   100
156      -      -      -     -
157      -      -      -     -
158      -      -  50000   100
['동일인측' '기타주주' '총계' '기타']
['동일인' '친족' '비영리법인' '자기주식' '동일인측합계' '기타' '총계' '등기된임원' '계열회사(국내+해외)' '친족합계'
 '기타주주' '기타동일인관련자' '동일인측이아닌최다주주']
['동일인' '배우자/혈족1촌' '혈족2~4촌' '친족합계' '비영리법인' '자기주식' '동일인측합계' '기타' '총계'
 '등기된임원' '계열회사(국내+해외)' '기타주주' '기타동일인관련자' '동일인측이아닌최다주주']
===============동원엔터프라이즈===============
===============한라홀딩스===============
    금융회사  소속회사명 동일인과의관계 동일인과의관계2  동일인과의관계3   성명   보통주주식수 보통주지분율 우선주주식수 우선주지분율  \
0  비금융회사  한라홀딩스    동일인측      동일인       동일인  정몽원  2545433  24.31      -      -
1  비금융회사  한라홀딩스    동일인측       친족  배우자/혈족1촌  홍인화     1389   0.01      -      -
2  비금융회사  한라홀딩스    동일인측       친족  배우자/혈족1촌  정지연      845   0.01      -      -
3  비금융회사  한라홀딩스    동일인측       친족  배우자/혈족1촌  정지수     1672   0.02      -      -
4  비금융회사  한라홀딩스    동일인측       친족      친족합계    /     3906   0.04      -      -

     합계주식수  합계지분율
0  2545433  24.31
1     1389   0.01
2      845   0.01
3     1672   0.02
4     3906   0.04
    금융회사       소속회사명 동일인과의관계 동일인과의관계2  동일인과의관계3   성명  보통주주식수   보통주지분율 우선주주식수  \
81  금융회사  로터스프라이빗에쿼티    동일인측       친족  배우자/혈족1촌  정지연   50000   50.00%      -
82  금융회사  로터스프라이빗에쿼티    동일인측       친족  배우자/혈족1촌  정지수   50000   50.00%      -
83  금융회사  로터스프라이빗에쿼티    동일인측       친족      친족합계    /  100000  100.00%      -
84  금융회사  로터스프라이빗에쿼티    동일인측   동일인측합계    동일인측합계    /  100000  100.00%      -
85  금융회사  로터스프라이빗에쿼티      총계       총계        총계    /  100000  100.00%      -

   우선주지분율   합계주식수    합계지분율
81      -   50000   50.00%
82      -   50000   50.00%
83      -  100000  100.00%
84      -  100000  100.00%
85      -  100000  100.00%
['동일인측' '기타주주' '총계']
['동일인' '친족' '등기된임원' '자기주식' '동일인측합계' '기타' '총계' '계열회사(국내+해외)' '비영리법인'
 '동일인측이아닌최다주주']
['동일인' '배우자/혈족1촌' '친족합계' '등기된임원' '자기주식' '동일인측합계' '기타' '총계' '계열회사(국내+해외)'
 '인척4촌이내' '비영리법인' '동일인측이아닌최다주주']
===============한라홀딩스===============
===============아모레퍼시픽그룹===============
    금융회사     소속회사명 동일인과의관계 동일인과의관계2  동일인과의관계3   성명    보통주주식수 보통주지분율   우선주주식수  \
0  비금융회사  아모레퍼시픽그룹    동일인측      동일인       동일인  서경배  44243620  53.66  3555121
1  비금융회사  아모레퍼시픽그룹    동일인측       친족  배우자/혈족1촌  서민정   2412710   2.93   141000
2  비금융회사  아모레퍼시픽그룹    동일인측       친족  배우자/혈족1촌  서호정    100000   0.12        -
3  비금융회사  아모레퍼시픽그룹    동일인측       친족    혈족2~4촌  서송숙    101140   0.12     8331
4  비금융회사  아모레퍼시픽그룹    동일인측       친족    혈족5~6촌    -         -      -        -

  우선주지분율     합계주식수  합계지분율
0  26.26  47798741  49.79
1   1.04   2553710   2.66
2      -    100000   0.11
3   0.06    109471   0.11
4      -         -      -
      금융회사   소속회사명 동일인과의관계     동일인과의관계2     동일인과의관계3 성명  보통주주식수  보통주지분율  \
211  비금융회사  그린파트너즈    동일인측     기타동일인관련자     기타동일인관련자  -       -       -
212  비금융회사  그린파트너즈    동일인측       동일인측합계       동일인측합계  /  160000  100.00
213  비금융회사  그린파트너즈    기타주주  동일인측이아닌최다주주  동일인측이아닌최다주주  -       -       -
214  비금융회사  그린파트너즈    기타주주           기타           기타  -       -       -
215  비금융회사  그린파트너즈      총계           총계           총계  /  160000  100.00

    우선주주식수 우선주지분율   합계주식수   합계지분율
211      -      -       -       -
212      -      -  160000   10000
213      -      -       -       -
214      -      -       -       -
215      -      -  160000  100.00
['동일인측' '기타주주' '총계']
['동일인' '친족' '비영리법인' '등기된임원' '자기주식' '계열회사(국내+해외)' '기타동일인관련자' '동일인측합계'
 '동일인측이아닌최다주주' '기타' '총계']
['동일인' '배우자/혈족1촌' '혈족2~4촌' '혈족5~6촌' '인척4촌이내' '친족합계' '비영리법인' '등기된임원' '자기주식'
 '계열회사(국내+해외)' '기타동일인관련자' '동일인측합계' '동일인측이아닌최다주주' '기타' '총계']
===============아모레퍼시픽그룹===============
===============아이엠엠인베스트먼트===============
   금융회사       소속회사명 동일인과의관계 동일인과의관계2  동일인과의관계3   성명  보통주주식수 보통주지분율 우선주주식수  \
0  금융회사  아이엠엠인베스트먼트    동일인측      동일인       동일인    -       -      -      -
1  금융회사  아이엠엠인베스트먼트    동일인측       친족  배우자/혈족1촌    -       -      -      -
2  금융회사  아이엠엠인베스트먼트    동일인측       친족  배우자/혈족1촌    -       -      -      -
3  금융회사  아이엠엠인베스트먼트    동일인측       친족    혈족2~4촌  정구용  109461  2.93%      -
4  금융회사  아이엠엠인베스트먼트    동일인측       친족    혈족2~4촌  정지원   27000  0.72%      -

  우선주지분율   합계주식수  합계지분율
0      -       -      -
1      -       -      -
2      -       -      -
3      -  109461  2.93%
4      -   27000  0.72%
       금융회사  소속회사명 동일인과의관계     동일인과의관계2     동일인과의관계3 성명 보통주주식수   보통주지분율  \
2016  비금융회사  미래원엘름    동일인측     기타동일인관련자     기타동일인관련자  -      -        -
2017  비금융회사  미래원엘름    동일인측       동일인측합계       동일인측합계  /  22500   60.00%
2018  비금융회사  미래원엘름    기타주주  동일인측이아닌최다주주  동일인측이아닌최다주주  -      -        -
2019  비금융회사  미래원엘름    기타주주           기타           기타  /  15000   40.00%
2020  비금융회사  미래원엘름      총계           총계           총계  /  37500  100.00%

     우선주주식수 우선주지분율  합계주식수    합계지분율
2016      -      -      -        -
2017      -      -  22500   60.00%
2018      -      -      -        -
2019      -      -  15000   40.00%
2020      -      -  37500  100.00%
['동일인측' '기타주주' '총계' nan]
['동일인' '친족' '비영리법인' '등기된임원' '자기주식' '계열회사(국내+해외)' '기타동일인관련자' '동일인측합계'
 '동일인측이아닌최다주주' '기타' '총계']
['동일인' '배우자/혈족1촌' '혈족2~4촌' '혈족5~6촌' '인척4촌이내' '친족합계' '비영리법인' '등기된임원' '자기주식'
 '계열회사(국내+해외)' '기타동일인관련자' '동일인측합계' '동일인측이아닌최다주주' '기타' '총계']
===============아이엠엠인베스트먼트===============

===============삼천리===============
    금융회사 소속회사명 동일인과의관계 동일인과의관계2  동일인과의관계3           성명  보통주주식수 보통주지분율 우선주주식수  \
0  비금융회사   삼천리    동일인측      동일인       동일인          이만득  338390   8.34      -
1  비금융회사   삼천리    동일인측       친족  배우자/혈족1촌          이은희   27045   0.67      -
2  비금융회사   삼천리    동일인측       친족  배우자/혈족1촌          이은남   27045   0.67      -
3  비금융회사   삼천리    동일인측       친족  배우자/혈족1촌  이은선YiEunSun   27045   0.67    NaN
4  비금융회사   삼천리    동일인측       친족    혈족2~4촌          이은백  372070   9.18      -

  우선주지분율   합계주식수 합계지분율
0      -  338390  8.34
1      -   27045  0.67
2      -   27045  0.67
3      -   27045  0.67
4      -  372070  9.18
     금융회사    소속회사명 동일인과의관계     동일인과의관계2     동일인과의관계3           성명     보통주주식수  \
634  금융회사  아네모이제2호     동일인     기타동일인관련자     기타동일인관련자            -          -
635  금융회사  아네모이제2호     동일인       동일인측합계       동일인측합계          NaN  465851647
636  금융회사  아네모이제2호    기타주주  동일인측이아닌최다주주  동일인측이아닌최다주주            -          -
637  금융회사  아네모이제2호    기타주주           기타           기타            -          -
638  금융회사  아네모이제2호      총계           총계           총계  비티에스제1호사모투자  465851647

     보통주지분율 우선주주식수 우선주지분율      합계주식수   합계지분율
634       -      -      -          -       -
635  100.00      -      -  465851647  100.00
636       -      -      -          -       -
637       -      -      -          -       -
638  100.00      -      -  465851647  100.00
['동일인측' '기타주주' '총계' '동일인']
['동일인' '친족' '비영리법인' '등기된임원' '자기주식' '계열회사(국내+해외)' '기타동일인관련자' '동일인측합계'
 '동일인측이아닌최다주주' '기타' '총계']
['동일인' '배우자/혈족1촌' '혈족2~4촌' '혈족5~6촌' '인척4촌이내' '친족합계' '비영리법인' '등기된임원' '자기주식'
 '계열회사(국내+해외)' '기타동일인관련자' '동일인측합계' '동일인측이아닌최다주주' '기타' '총계']
===============삼천리===============
===============금호석유화학===============
    금융회사   소속회사명 동일인과의관계 동일인과의관계2  동일인과의관계3   성명   보통주주식수  보통주지분율 우선주주식수  \
0  비금융회사  금호석유화학    동일인측      동일인       동일인  박찬구  2039629   6.69%      -
1  비금융회사  금호석유화학    동일인측       친족  배우자/혈족1촌  박준경  2183120   7.17%      -
2  비금융회사  금호석유화학    동일인측       친족  배우자/혈족1촌  박주형   297515   0.98%      -
3  비금융회사  금호석유화학    동일인측       친족    혈족2~4촌  박철완  3056332  10.03%      -
4  비금융회사  금호석유화학    동일인측       친족    인척4촌이내  김형일    25875   0.08%      -

  우선주지분율    합계주식수  합계지분율
0      -  2039629  6.09%
1      -  2183120  6.52%
2      -   297515  0.89%
3      -  3056332  9.13%
4      -    25875  0.08%
     금융회사 소속회사명 동일인과의관계 동일인과의관계2 동일인과의관계3   성명 보통주주식수   보통주지분율 우선주주식수 우선주지분율  \
82  비금융회사  지노무역    동일인측       친족   인척4촌이내  정천희   1000   10.00%      -      -
83  비금융회사  지노무역    동일인측       친족     친족합계    -  10000  100.00%      -      -
84  비금융회사  지노무역    동일인측   동일인측합계   동일인측합계    -  10000  100.00%      -      -
85  비금융회사  지노무역      총계       총계       총계    -  10000  100.00%      -      -
86   금융회사     -       -        -        -    -      -        -      -      -

    합계주식수    합계지분율
82   1000   10.00%
83  10000  100.00%
84  10000  100.00%
85  10000  100.00%
86      -        -
['동일인측' '기타주주' '총계' '-']
['동일인' '친족' '등기된임원' '자기주식' '동일인측합계' '동일인측이아닌최다주주' '기타' '총계' '계열회사(국내+해외)'
 '-']
['동일인' '배우자/혈족1촌' '혈족2~4촌' '인척4촌이내' '친족합계' '등기된임원' '자기주식' '동일인측합계'
 '동일인측이아닌최다주주' '기타' '총계' '계열회사(국내+해외)' '-']
===============금호석유화학===============
===============키움증권===============
   금융회사 소속회사명 동일인과의관계 동일인과의관계2  동일인과의관계3 성명 보통주주식수 보통주지분율 우선주주식수 우선주지분율 합계주식수  \
0  금융회사  키움증권    동일인측      동일인       동일인  -      -      -      -      -     -
1  금융회사  키움증권    동일인측       친족  배우자/혈족1촌  -      -      -      -      -     -
2  금융회사  키움증권    동일인측       친족  배우자/혈족1촌  -      -      -      -      -     -
3  금융회사  키움증권    동일인측       친족    혈족2~4촌  -      -      -      -      -     -
4  금융회사  키움증권    동일인측       친족    혈족2~4촌  -      -      -      -      -     -

  합계지분율
0     -
1     -
2     -
3     -
4     -
       금융회사   소속회사명 동일인과의관계     동일인과의관계2     동일인과의관계3 성명    보통주주식수   보통주지분율  \
1005  비금융회사  한국정보인증    동일인측     기타동일인관련자     기타동일인관련자  -         -        -
1006  비금융회사  한국정보인증    동일인측       동일인측합계       동일인측합계  /  11679052   37.47%
1007  비금융회사  한국정보인증    기타주주  동일인측이아닌최다주주  동일인측이아닌최다주주  -         -        -
1008  비금융회사  한국정보인증    기타주주           기타           기타  -  19485948   62.53%
1009  비금융회사  한국정보인증      총계           총계           총계  /  31165000  100.00%

     우선주주식수 우선주지분율     합계주식수    합계지분율
1005      -      -         -        -
1006      -      -  11679052   37.47%
1007      -      -         -        -
1008      -      -  19485948   62.53%
1009      -      -  31165000  100.00%
['동일인측' '기타주주' '총계']
['동일인' '친족' '비영리법인' '등기된임원' '자기주식' '계열회사(국내+해외)' '기타동일인관련자' '동일인측합계'
 '동일인측이아닌최다주주' '기타' '총계']
['동일인' '배우자/혈족1촌' '혈족2~4촌' '혈족5~6촌' '인척4촌이내' '친족합계' '비영리법인' '등기된임원' '자기주식'
 '계열회사(국내+해외)' '기타동일인관련자' '동일인측합계' '동일인측이아닌최다주주' '기타' '총계']
===============키움증권===============
===============장금상선===============
    금융회사 소속회사명 동일인과의관계 동일인과의관계2 동일인과의관계3   성명 보통주주식수  보통주지분율 우선주주식수 우선주지분율  \
0  비금융회사  장금상선    동일인측      동일인      동일인  정태순  62000  16.85%      -      -
1  비금융회사  장금상선    동일인측       친족     배우자/    -      -       -      -      -
2  비금융회사  장금상선    동일인측       친족     혈족1촌    -      -       -      -      -
3  비금융회사  장금상선    동일인측       친족   혈족2~4촌    -      -       -      -      -
4  비금융회사  장금상선    동일인측       친족   혈족2~4촌    -      -       -      -      -

   합계주식수   합계지분율
0  62000  16.85%
1      -       -
2      -       -
3      -       -
4      -       -
      금융회사 소속회사명 동일인과의관계     동일인과의관계2     동일인과의관계3 성명    보통주주식수   보통주지분율  \
414  비금융회사  흥아라인    동일인측     기타동일인관련자     기타동일인관련자  -         -        -
415  비금융회사  흥아라인    동일인측       동일인측합계       동일인측합계  /  48100000  100.00%
416  비금융회사  흥아라인    기타주주  동일인측이아닌최다주주  동일인측이아닌최다주주  -         -        -
417  비금융회사  흥아라인    기타주주           기타           기타  /         -        -
418  비금융회사  흥아라인      총계           총계           총계  /  48100000  100.00%

    우선주주식수 우선주지분율     합계주식수    합계지분율
414      -      -         -        -
415      -  0.00%  48100000  100.00%
416      -      -         -        -
417      -      -         -        -
418      -  0.00%  48100000  100.00%
['동일인측' '기타주주' '총계']
['동일인' '친족' '비영리법인' '등기된임원' '자기주식' '계열회사(국내+해외)' '기타동일인관련자' '동일인측합계'
 '동일인측이아닌최다주주' '기타' '총계' '계열회사' '(국내+해외)']
['동일인' '배우자/' '혈족1촌' '혈족2~4촌' '혈족5~6촌' '인척4촌이내' '친족합계' '비영리법인' '등기된임원'
 '자기주식' '계열회사(국내+해외)' '기타동일인관련자' '동일인측합계' '동일인측이아닌최다주주' '기타' '총계' '계열회사'
 '(국내+해외)']
===============장금상선===============
===============동국제강===============
    금융회사 소속회사명 동일인과의관계 동일인과의관계2  동일인과의관계3   성명    보통주주식수 보통주지분율 우선주주식수 우선주지분율  \
0  비금융회사  동국제강    동일인측      동일인       동일인  장세주  13300000  13.94      -      -
1  비금융회사  동국제강    동일인측       친족  배우자/혈족1촌  남희정    243943   0.26      -      -
2  비금융회사  동국제강    동일인측       친족  배우자/혈족1촌  김숙자    135000   0.14      -      -
3  비금융회사  동국제강    동일인측       친족  배우자/혈족1촌  장선익    790703   0.83      -      -
4  비금융회사  동국제강    동일인측       친족  배우자/혈족1촌  장승익    260570   0.27      -      -

      합계주식수  합계지분율
0  13300000  13.94
1    243943   0.26
2    135000   0.14
3    790703   0.83
4    260570   0.27
     금융회사              소속회사명 동일인과의관계     동일인과의관계2     동일인과의관계3    성명   보통주주식수  \
81  비금융회사              가온에스티      총계           총계           총계     /    63515
82  비금융회사  제이비당진페럼빌전문투자형사모투자    동일인측  계열회사(국내+해외)  계열회사(국내+해외)  동국제강  1040000
83  비금융회사  제이비당진페럼빌전문투자형사모투자    동일인측       동일인측합계       동일인측합계     /  1040000
84  비금융회사  제이비당진페럼빌전문투자형사모투자    기타주주           기타           기타     /   230000
85  비금융회사  제이비당진페럼빌전문투자형사모투자      총계           총계           총계     /  1270000

   보통주지분율 우선주주식수 우선주지분율    합계주식수  합계지분율
81    100      -      -    63515    100
82  81.89      -      -  1040000  81.89
83  81.89      -      -  1040000  81.89
84  18.11      -      -   230000  18.11
85    100      -      -  1270000    100
['동일인측' '기타주주' '총계']
['동일인' '친족' '비영리법인' '등기된임원' '자기주식' '동일인측합계' '기타' '총계' '계열회사(국내+해외)'
 '기타동일인관련자' '동일인측이아닌최다주주']
['동일인' '배우자/혈족1촌' '혈족2~4촌' '친족합계' '비영리법인' '등기된임원' '자기주식' '동일인측합계' '기타'
 '총계' '혈족5~6촌' '인척4촌이내' '계열회사(국내+해외)' '기타동일인관련자' '동일인측이아닌최다주주']
===============동국제강===============
===============AK홀딩스===============
    금융회사    소속회사명 동일인과의관계 동일인과의관계2  동일인과의관계3   성명   보통주주식수 보통주지분율 우선주주식수  \
0  비금융회사  에이케이홀딩스    동일인측      동일인       동일인  장영신   984198   7.43      0
1  비금융회사  에이케이홀딩스    동일인측       친족  배우자/혈족1촌  채형석  1888251  14.25      0
2  비금융회사  에이케이홀딩스    동일인측       친족  배우자/혈족1촌  채동석   997433   7.53      0
3  비금융회사  에이케이홀딩스    동일인측       친족  배우자/혈족1촌  채승석  1099583   8.30      0
4  비금융회사  에이케이홀딩스    동일인측       친족  배우자/혈족1촌  채은정   510672   3.85      0

  우선주지분율    합계주식수  합계지분율
0   0.00   984198   7.43
1   0.00  1888251  14.25
2   0.00   997433   7.53
3   0.00  1099583   8.30
4   0.00   510672   3.85
      금융회사 소속회사명 동일인과의관계     동일인과의관계2     동일인과의관계3 성명 보통주주식수  보통주지분율 우선주주식수  \
870  비금융회사    인셋    동일인측     기타동일인관련자     기타동일인관련자  -      -       -      -
871  비금융회사    인셋    동일인측       동일인측합계       동일인측합계  /   9000  100.00      0
872  비금융회사    인셋    기타주주  동일인측이아닌최다주주  동일인측이아닌최다주주  -      -       -      -
873  비금융회사    인셋    기타주주           기타           기타  /      -       -      -
874  비금융회사    인셋      총계           총계           총계  /   9000  100.00      0

    우선주지분율 합계주식수   합계지분율
870      -     -       -
871   0.00  9000  100.00
872      -     -       -
873      -     -       -
874   0.00  9000  100.00
['동일인측' '기타주주' '총계' '기타' nan]
['동일인' '친족' '비영리법인' '등기된임원' '자기주식' '계열회사(국내+해외)' '기타동일인관련자' '동일인측합계'
 '동일인측이아닌최다주주' '기타' '총계' '기타주주' '/' nan]
['동일인' '배우자/혈족1촌' '혈족2~4촌' '혈족5~6촌' '인척4촌이내' '친족합계' '비영리법인' '등기된임원' '자기주식'
 '계열회사(국내+해외)' '기타동일인관련자' '동일인측합계' '동일인측이아닌최다주주' '기타' '총계' '기타주주' '/' nan
 '혈족2촌~4촌' '혈족5촌~6촌']
===============AK홀딩스===============

===============반도홀딩스===============
    금융회사  소속회사명 동일인과의관계 동일인과의관계2  동일인과의관계3   성명   보통주주식수  보통주지분율 우선주주식수  \
0  비금융회사  반도홀딩스    동일인측      동일인       동일인  권홍사  1621395  69.61%      -
1  비금융회사  반도홀딩스    동일인측       친족  배우자/혈족1촌  권재현   700000  30.06%      -
2  비금융회사  반도홀딩스    동일인측       친족  배우자/혈족1촌  유성애     5869   0.25%      -
3  비금융회사  반도홀딩스    동일인측       친족  배우자/혈족1촌  권보라     1761   0.08%      -
4  비금융회사  반도홀딩스    동일인측       친족    혈족2~4촌    -        -       -      -

  우선주지분율    합계주식수   합계지분율
0      -  1621395  69.61%
1      -   700000  30.06%
2      -     5869   0.25%
3      -     1761   0.08%
4      -        -       -
      금융회사   소속회사명 동일인과의관계     동일인과의관계2     동일인과의관계3 성명 보통주주식수   보통주지분율  \
641  비금융회사  더스타아시아    동일인측       동일인측합계       동일인측합계  -  30000   75.00%
642  비금융회사  더스타아시아    기타주주  동일인측이아닌최다주주  동일인측이아닌최다주주  -      -        -
643  비금융회사  더스타아시아    기타주주           기타           기타  /  10000   25.00%
644  비금융회사  더스타아시아      총계           총계           총계  /  40000  100.00%
645   금융회사  해당사항없음       -            -            -  -      -        -

    우선주주식수 우선주지분율  합계주식수    합계지분율
641      -      -  30000   75.00%
642      -      -      -        -
643      -      -  10000   25.00%
644      -      -  40000  100.00%
645      -      -      -        -
['동일인측' '기타주주' '총계' '-']
['동일인' '친족' '비영리법인' '등기된임원' '자기주식' '계열회사(국내+해외)' '기타동일인관련자' '동일인측합계'
 '동일인측이아닌최다주주' '기타' '총계' '-']
['동일인' '배우자/혈족1촌' '혈족2~4촌' '혈족5~6촌' '인척4촌이내' '친족합계' '비영리법인' '등기된임원' '자기주식'
 '계열회사(국내+해외)' '기타동일인관련자' '동일인측합계' '동일인측이아닌최다주주' '기타' '총계' '-']
===============반도홀딩스===============
===============유진기업===============
    금융회사 소속회사명 동일인과의관계 동일인과의관계2  동일인과의관계3   성명   보통주주식수 보통주지분율 우선주주식수 우선주지분율  \
0  비금융회사  유진기업    동일인측      동일인       동일인  유경선  8919594  11.54      -      -
1  비금융회사  유진기업    동일인측       친족  배우자/혈족1촌  유재필  1919916   2.48      -      -
2  비금융회사  유진기업    동일인측       친족  배우자/혈족1촌  유석훈  2365259   3.06      -      -
3  비금융회사  유진기업    동일인측       친족  배우자/혈족1촌  구금숙  1839456   2.38      -      -
4  비금융회사  유진기업    동일인측       친족  배우자/혈족1촌  유정윤   120152   0.16      -      -

     합계주식수  합계지분율
0  8919594  11.54
1  1919916   2.48
2  2365259   3.06
3  1839456   2.38
4   120152   0.16
     금융회사 소속회사명 동일인과의관계     동일인과의관계2     동일인과의관계3 성명    보통주주식수  보통주지분율 우선주주식수  \
816  금융회사  토탈클린    동일인측     기타동일인관련자     기타동일인관련자  -         -       -      -
817  금융회사  토탈클린    동일인측       동일인측합계       동일인측합계  /  23465000  100.00      -
818  금융회사  토탈클린    기타주주  동일인측이아닌최다주주  동일인측이아닌최다주주  -         -       -      -
819  금융회사  토탈클린    기타주주           기타           기타  -         -       -      -
820  금융회사  토탈클린      총계           총계           총계  /  23465000  100.00      -

    우선주지분율     합계주식수   합계지분율
816      -         -       -
817      -  23465000  100.00
818      -         -       -
819      -         -       -
820      -  23465000  100.00
['동일인측' '기타주주' '총계']
['동일인' '친족' '비영리법인' '등기된임원' '자기주식' '계열회사(국내+해외)' '기타동일인관련자' '동일인측합계'
 '동일인측이아닌최다주주' '기타' '총계']
['동일인' '배우자/혈족1촌' '혈족2~4촌' '혈족5~6촌' '인척4촌이내' '친족합계' '비영리법인' '등기된임원' '자기주식'
 '계열회사(국내+해외)' '기타동일인관련자' '동일인측합계' '동일인측이아닌최다주주' '기타' '총계']
===============유진기업===============
===============하이트진로홀딩스===============
     금융회사     소속회사명  동일인과의관계 동일인과의관계2  동일인과의관계3   성명   보통주주식수 보통주지분율 우선주주식수  \
0  소속 회사명     소속회사명  동일인과의관계  동일인과의관계   동일인과의관계   성명      보통주    보통주    우선주
1  소속 회사명     소속회사명  동일인과의관계  동일인과의관계   동일인과의관계   성명      주식수    지분율    주식수
2   비금융회사  하이트진로홀딩스     동일인측      동일인       동일인  박문덕  6843432  29.49     74
3   비금융회사  하이트진로홀딩스     동일인측       친족  배우자/혈족1촌  김미정      869   0.00      0
4   비금융회사  하이트진로홀딩스     동일인측       친족  배우자/혈족1촌  김수희     1884   0.01   3602

  우선주지분율    합계주식수  합계지분율
0    우선주       합계     합계
1    지분율      주식수    지분율
2   0.02  6843506  28.90
3   0.00      869   0.00
4   0.77     5486   0.02
      금융회사  소속회사명 동일인과의관계     동일인과의관계2     동일인과의관계3 성명 보통주주식수  보통주지분율 우선주주식수  \
284  비금융회사  대우컴바인    기타주주  동일인측이아닌최다주주  동일인측이아닌최다주주  -      -       -      -
285  비금융회사  대우컴바인    기타주주           기타           기타  /      -       -      -
286  비금융회사  대우컴바인      총계           총계           총계  /  10000  100.00      -
287   금융회사      -       -            -            -  -      -       -      -
288   금융회사      -       -            -            -  -      -       -      -

    우선주지분율  합계주식수   합계지분율
284      -      -       -
285      -      -       -
286      -  10000  100.00
287      -      -       -
288      -      -       -
['동일인과의관계' '동일인측' '기타주주' '총계' '-']
['동일인과의관계' '동일인' '친족' '비영리법인' '등기된임원' '자기주식' '계열회사(국내+해외)' '기타동일인관련자'
 '동일인측합계' '동일인측이아닌최다주주' '기타' '총계' '-']
['동일인과의관계' '동일인' '배우자/혈족1촌' '혈족2~4촌' '혈족5~6촌' '인척4촌이내' '친족합계' '비영리법인'
 '등기된임원' '자기주식' '계열회사(국내+해외)' '기타동일인관련자' '동일인측합계' '동일인측이아닌최다주주' '기타' '총계'
 '-']
===============하이트진로홀딩스===============
===============삼양홀딩스===============
    금융회사  소속회사명 동일인과의관계 동일인과의관계2  동일인과의관계3   성명  보통주주식수 보통주지분율 우선주주식수 우선주지분율  \
0  비금융회사  삼양홀딩스    동일인측      동일인       동일인   김윤  412390   4.82      0   0.00
1  비금융회사  삼양홀딩스    동일인측       친족  배우자/혈족1촌  김유희   26244   0.31      0   0.00
2  비금융회사  삼양홀딩스    동일인측       친족  배우자/혈족1촌  김건호  191080   2.23      0   0.00
3  비금융회사  삼양홀딩스    동일인측       친족  배우자/혈족1촌  김남호  127993   1.49      0   0.00
4  비금융회사  삼양홀딩스    동일인측       친족    혈족2~4촌   김량  325350   3.80      0   0.00

    합계주식수 합계지분율
0  412390  4.65
1   26244  0.30
2  191080  2.15
3  127993  1.44
4  325350  3.67
      금융회사 소속회사명 동일인과의관계     동일인과의관계2     동일인과의관계3 성명   보통주주식수  보통주지분율 우선주주식수  \
187  비금융회사    우리    동일인측     기타동일인관련자     기타동일인관련자  -        -       -      -
188  비금융회사    우리    동일인측       동일인측합계       동일인측합계  /  2235514  100.00      -
189  비금융회사    우리    기타주주  동일인측이아닌최다주주  동일인측이아닌최다주주  -        -       -      -
190  비금융회사    우리    기타주주           기타           기타  /        -       -      -
191  비금융회사    우리      총계           총계           총계  /  2235514  100.00      -

    우선주지분율    합계주식수   합계지분율
187      -        -       -
188      -  2235514  100.00
189      -        -       -
190      -        -       -
191      -  2235514  100.00
['동일인측' '기타주주' '총계']
['동일인' '친족' '비영리법인' '등기된임원' '자기주식' '기타동일인관련자' '동일인측합계' '동일인측이아닌최다주주' '기타'
 '총계' '계열회사(국내+해외)']
['동일인' '배우자/혈족1촌' '혈족2~4촌' '혈족5~6촌' '인척4촌이내' '친족합계' '비영리법인' '등기된임원' '자기주식'
 '기타동일인관련자' '동일인측합계' '동일인측이아닌최다주주' '기타' '총계' '계열회사(국내+해외)']
===============삼양홀딩스===============
===============대방건설===============
    금융회사 소속회사명 동일인과의관계 동일인과의관계2  동일인과의관계3   성명  보통주주식수   보통주지분율 우선주주식수 우선주지분율  \
0  비금융회사  대방건설    동일인측       친족  배우자/혈족1촌  구찬우  277042   71.00%      -  0.00%
1  비금융회사  대방건설    동일인측       친족    인척4촌이내  윤대인  113158   29.00%      -  0.00%
2  비금융회사  대방건설    동일인측       친족      친족합계    /  390200  100.00%      -  0.00%
3  비금융회사  대방건설    동일인측   동일인측합계    동일인측합계    /  390200  100.00%      -  0.00%
4  비금융회사  대방건설      총계       총계        총계    /  390200  100.00%      -  0.00%

    합계주식수    합계지분율
0  277042   71.00%
1  113158   29.00%
2  390200  100.00%
3  390200  100.00%
4  390200  100.00%
     금융회사  소속회사명 동일인과의관계 동일인과의관계2 동일인과의관계3   성명 보통주주식수   보통주지분율 우선주주식수 우선주지분율  \
140  금융회사   디비일산    동일인측   동일인측합계   동일인측합계    /      1  100.00%      -  0.00%
141  금융회사   디비일산      총계       총계       총계    /      1  100.00%      -  0.00%
142  금융회사  디케이일산    동일인측    등기된임원    등기된임원  박정윤      1  100.00%      -  0.00%
143  금융회사  디케이일산    동일인측   동일인측합계   동일인측합계    /      1  100.00%      -  0.00%
144  금융회사  디케이일산      총계       총계       총계    /      1  100.00%      -  0.00%

     합계주식수    합계지분율
140      1  100.00%
141      1  100.00%
142      1  100.00%
143      1  100.00%
144      1  100.00%
['동일인측' '총계' '기타주주']
['친족' '동일인측합계' '총계' '계열회사(국내+해외)' '기타' '자기주식' '등기된임원']
['배우자/혈족1촌' '인척4촌이내' '친족합계' '동일인측합계' '총계' '계열회사(국내+해외)' '기타' '자기주식'
 '혈족2~4촌' '등기된임원']
===============대방건설===============
===============현대해상===============
   금융회사     소속회사명 동일인과의관계 동일인과의관계2  동일인과의관계3   성명    보통주주식수 보통주지분율 우선주주식수  \
0  금융회사  현대해상화재보험    동일인측      동일인       동일인  정몽윤  19578600  21.90      -
1  금융회사  현대해상화재보험    동일인측       친족  배우자/혈족1촌  정경선    406600   0.45      -
2  금융회사  현대해상화재보험    동일인측       친족  배우자/혈족1촌  정정이    249800   0.28      -
3  금융회사  현대해상화재보험    동일인측       친족    혈족2~4촌    -         -      -      -
4  금융회사  현대해상화재보험    동일인측       친족    혈족2~4촌    -         -      -      -

  우선주지분율     합계주식수  합계지분율
0      -  19578600  21.90
1      -    406600   0.45
2      -    249800   0.28
3      -         -      -
4      -         -      -
      금융회사     소속회사명 동일인과의관계     동일인과의관계2     동일인과의관계3 성명  보통주주식수  보통주지분율  \
470  비금융회사  현대에이치디에스    동일인측     기타동일인관련자     기타동일인관련자  -       -       -
471  비금융회사  현대에이치디에스    동일인측       동일인측합계       동일인측합계  /  400000  100.00
472  비금융회사  현대에이치디에스    기타주주  동일인측이아닌최다주주  동일인측이아닌최다주주  -       -       -
473  비금융회사  현대에이치디에스    기타주주           기타           기타  /       -       -
474  비금융회사  현대에이치디에스      총계           총계           총계  /  400000  100.00

    우선주주식수 우선주지분율   합계주식수   합계지분율
470      -      -       -       -
471      -      -  400000  100.00
472      -      -       -       -
473      -      -       -       -
474      -      -  400000  100.00
['동일인측' '기타주주' '총계']
['동일인' '친족' '비영리법인' '등기된임원' '자기주식' '계열회사(국내+해외)' '기타동일인관련자' '동일인측합계'
 '동일인측이아닌최다주주' '기타' '총계']
['동일인' '배우자/혈족1촌' '혈족2~4촌' '혈족5~6촌' '인척4촌이내' '친족합계' '비영리법인' '등기된임원' '자기주식'
 '계열회사(국내+해외)' '기타동일인관련자' '동일인측합계' '동일인측이아닌최다주주' '기타' '총계']
===============현대해상===============

===============엠디엠===============
    금융회사 소속회사명 동일인과의관계 동일인과의관계2  동일인과의관계3   성명  보통주주식수  보통주지분율 우선주주식수 우선주지분율  \
0  비금융회사   엠디엠    동일인측      동일인       동일인  문주현  190000  95.00%      -      -
1  비금융회사   엠디엠    동일인측       친족  배우자/혈족1촌  민혜정   10000   5.00%      -      -
2  비금융회사   엠디엠    동일인측       친족    혈족2~4촌    -       -       -      -      -
3  비금융회사   엠디엠    동일인측       친족    혈족5~6촌    -       -       -      -      -
4  비금융회사   엠디엠    동일인측       친족    인척4촌이내    -       -       -      -      -

    합계주식수   합계지분율
0  190000  95.00%
1   10000   5.00%
2       -       -
3       -       -
4       -       -
     금융회사    소속회사명 동일인과의관계     동일인과의관계2     동일인과의관계3 성명    보통주주식수 보통주지분율  \
290  금융회사  한국자산캐피탈    동일인측     기타동일인관련자     기타동일인관련자  -         -      -
291  금융회사  한국자산캐피탈    동일인측       동일인측합계       동일인측합계  /  20000000   100%
292  금융회사  한국자산캐피탈    기타주주  동일인측이아닌최다주주  동일인측이아닌최다주주  -         -      -
293  금융회사  한국자산캐피탈    기타주주           기타           기타  /         -      -
294  금융회사  한국자산캐피탈      총계           총계           총계  /  20000000   100%

    우선주주식수 우선주지분율     합계주식수 합계지분율
290      -      -         -     -
291      -      -  20000000  100%
292      -      -         -     -
293      -      -         -     -
294      -      -  20000000  100%
['동일인측' '기타주주' '총계']
['동일인' '친족' '비영리법인' '등기된임원' '자기주식' '계열회사(국내+해외)' '기타동일인관련자' '동일인측합계'
 '동일인측이아닌최다주주' '기타' '총계']
['동일인' '배우자/혈족1촌' '혈족2~4촌' '혈족5~6촌' '인척4촌이내' '친족합계' '비영리법인' '등기된임원' '자기주식'
 '계열회사(국내+해외)' '기타동일인관련자' '동일인측합계' '동일인측이아닌최다주주' '기타' '총계']
===============엠디엠===============
===============아이에스지주===============
    금융회사   소속회사명 동일인과의관계 동일인과의관계2  동일인과의관계3   성명   보통주주식수  보통주지분율 우선주주식수  \
0  비금융회사  아이에스지주    동일인측      동일인       동일인  권혁운  1677063  56.33%      -
1  비금융회사  아이에스지주    동일인측       친족  배우자/혈족1촌  권민석   910104  30.57%      -
2  비금융회사  아이에스지주    동일인측       친족  배우자/혈족1촌  권지혜   390044  13.10%      -
3  비금융회사  아이에스지주    동일인측       친족    혈족2~4촌    -        -       -      -
4  비금융회사  아이에스지주    동일인측       친족    혈족2~4촌    -        -       -      -

  우선주지분율    합계주식수   합계지분율
0      -  1677063  56.33%
1      -   910104  30.57%
2      -   390044  13.10%
3      -        -       -
4      -        -       -
      금융회사     소속회사명 동일인과의관계     동일인과의관계2     동일인과의관계3 성명  보통주주식수 보통주지분율  \
1018  금융회사  씨에이씨자산운용    동일인측     기타동일인관련자     기타동일인관련자  -       -      -
1019  금융회사  씨에이씨자산운용    동일인측       동일인측합계       동일인측합계  /  100000   100%
1020  금융회사  씨에이씨자산운용    기타주주  동일인측이아닌최다주주  동일인측이아닌최다주주  -       -      -
1021  금융회사  씨에이씨자산운용    기타주주           기타           기타  -       -      -
1022  금융회사  씨에이씨자산운용      총계           총계           총계  /  100000   100%

      우선주주식수 우선주지분율   합계주식수 합계지분율
1018       -      -       -     -
1019  200000   100%  300000  100%
1020       -      -       -     -
1021       -      -       -     -
1022  200000   100%  300000  100%
['동일인측' '기타주주' '총계']
['동일인' '친족' '비영리법인' '등기된임원' '자기주식' '계열회사(국내+해외)' '기타동일인관련자' '동일인측합계'
 '동일인측이아닌최다주주' '기타' '총계']
['동일인' '배우자/혈족1촌' '혈족2~4촌' '혈족5~6촌' '인척4촌이내' '친족합계' '비영리법인' '등기된임원' '자기주식'
 '계열회사(국내+해외)' '기타동일인관련자' '동일인측합계' '동일인측이아닌최다주주' '기타' '총계']
===============아이에스지주===============
===============중앙홀딩스===============
    금융회사  소속회사명 동일인과의관계 동일인과의관계2  동일인과의관계3   성명   보통주주식수 보통주지분율 우선주주식수 우선주지분율  \
0  비금융회사  중앙홀딩스    동일인측      동일인       동일인  홍석현   191422     7%      -      -
1  비금융회사  중앙홀딩스    동일인측       친족  배우자/혈족1촌  홍정도  1525907  55.8%      -      -
2  비금융회사  중앙홀딩스    동일인측       친족  배우자/혈족1촌  홍정인  1017271  37.2%      -      -
3  비금융회사  중앙홀딩스    동일인측       친족    혈족2~4촌    -        -      -      -      -
4  비금융회사  중앙홀딩스    동일인측       친족    혈족2~4촌    -        -      -      -      -

     합계주식수  합계지분율
0   191422     7%
1  1525907  55.8%
2  1017271  37.2%
3        -      -
4        -      -
      금융회사       소속회사명 동일인과의관계     동일인과의관계2     동일인과의관계3 성명  보통주주식수 보통주지분율  \
1240  금융회사  제이에이치앤드컴퍼니    동일인측     기타동일인관련자     기타동일인관련자  -       -      -
1241  금융회사  제이에이치앤드컴퍼니    동일인측       동일인측합계       동일인측합계  /  133400   100%
1242  금융회사  제이에이치앤드컴퍼니    기타주주  동일인측이아닌최다주주  동일인측이아닌최다주주  -       -      -
1243  금융회사  제이에이치앤드컴퍼니    기타주주           기타           기타  -       -      -
1244  금융회사  제이에이치앤드컴퍼니      총계           총계           총계  /  133400   100%

     우선주주식수 우선주지분율   합계주식수 합계지분율
1240      -      -       -     -
1241      -      -  133400  100%
1242      -      -       -     -
1243      -      -       -     -
1244      -      -  133400  100%
['동일인측' '기타주주' '총계']
['동일인' '친족' '비영리법인' '등기된임원' '자기주식' '계열회사(국내+해외)' '기타동일인관련자' '동일인측합계'
 '동일인측이아닌최다주주' '기타' '총계']
['동일인' '배우자/혈족1촌' '혈족2~4촌' '혈족5~6촌' '인척4촌이내' '친족합계' '비영리법인' '등기된임원' '자기주식'
 '계열회사(국내+해외)' '기타동일인관련자' '동일인측합계' '동일인측이아닌최다주주' '기타' '총계']
===============중앙홀딩스===============

# Ownership Status Data Cleansing

## 태영건설

In [281]:
df = pd.read_excel('../data/ownership-status/raw/2021/티와이홀딩스.xlsx')
df.head()

,금융회사,소속회사명,동일인과의관계,동일인과의관계2,동일인과의관계3,성명,보통주주식수,보통주지분율,우선주주식수,우선주지분율,합계주식수,합계지분율
0,비금융회사,티와이홀딩스,동일인측,동일인,동일인,윤세영,245424,0.61%,-,-,245424,0.59%
1,비금융회사,티와이홀딩스,동일인측,친족,배우자/혈족1촌,윤석민,12827810,31.93%,-,-,12827810,30.96%
2,비금융회사,티와이홀딩스,동일인측,친족,인척4촌이내,이상희,1128953,2.81%,-,-,1128953,2.73%
3,비금융회사,티와이홀딩스,동일인측,친족,친족합계,/,14202187,35.35%,-,-,14202187,34.28%
4,비금융회사,티와이홀딩스,동일인측,비영리법인,비영리법인,서암윤세영재단,2830311,7.05%,-,-,2830311,6.83%

In [282]:
df['합계주식수'].replace('^-$', '', regex=True, inplace=True)
df['합계주식수'][df['합계주식수'].str.contains('\D+', na=False, regex=True)]

257    " 해당사항 없음 "
Name: 합계주식수, dtype: object

In [283]:
# remove " 해당사항 없음 "
df['합계주식수'].replace('\D+', '', regex=True, inplace=True)

In [284]:
df['합계주식수'] = df['합계주식수'].copy().replace('', np.nan,regex=True)
df['합계주식수'] = df['합계주식수'].copy().astype(float)

In [285]:
df['ownCat'] = df.apply(catOwn, axis=1)
df['ownCat2'] = df.apply(catOwn2, axis=1)
df.head()

,금융회사,소속회사명,동일인과의관계,동일인과의관계2,동일인과의관계3,성명,보통주주식수,보통주지분율,우선주주식수,우선주지분율,합계주식수,합계지분율,ownCat,ownCat2
0,비금융회사,티와이홀딩스,동일인측,동일인,동일인,윤세영,245424,0.61%,-,-,245424.0,0.59%,0.0,0.0
1,비금융회사,티와이홀딩스,동일인측,친족,배우자/혈족1촌,윤석민,12827810,31.93%,-,-,12827810.0,30.96%,NaN,NaN
2,비금융회사,티와이홀딩스,동일인측,친족,인척4촌이내,이상희,1128953,2.81%,-,-,1128953.0,2.73%,NaN,NaN
3,비금융회사,티와이홀딩스,동일인측,친족,친족합계,/,14202187,35.35%,-,-,14202187.0,34.28%,0.0,0.0
4,비금융회사,티와이홀딩스,동일인측,비영리법인,비영리법인,서암윤세영재단,2830311,7.05%,-,-,2830311.0,6.83%,NaN,0.0

In [286]:
dfShares = df[df['동일인과의관계2'] == '총계'][['소속회사명', '합계주식수']]
dfShares.columns = ['소속회사명', '주식수총계']
dfShares.head()

          소속회사명       주식수총계
8        티와이홀딩스  41426953.0
12  군포복합개발피에프브이   5000000.0
17       디엠씨미디어    465920.0
21      리앤에스스포츠    500000.0
26          무노스     76311.0

In [287]:
dfMrg = df.merge(dfShares, on='소속회사명')
dfMrg['shares'] = dfMrg['합계주식수'] / dfMrg['주식수총계']
dfMrg.head()

,금융회사,소속회사명,동일인과의관계,동일인과의관계2,동일인과의관계3,성명,보통주주식수,보통주지분율,우선주주식수,우선주지분율,합계주식수,합계지분율,ownCat,ownCat2,주식수총계,shares
0,비금융회사,티와이홀딩스,동일인측,동일인,동일인,윤세영,245424,0.61%,-,-,245424.0,0.59%,0.0,0.0,41426953.0,0.005924
1,비금융회사,티와이홀딩스,동일인측,친족,배우자/혈족1촌,윤석민,12827810,31.93%,-,-,12827810.0,30.96%,NaN,NaN,41426953.0,0.309649
2,비금융회사,티와이홀딩스,동일인측,친족,인척4촌이내,이상희,1128953,2.81%,-,-,1128953.0,2.73%,NaN,NaN,41426953.0,0.027252
3,비금융회사,티와이홀딩스,동일인측,친족,친족합계,/,14202187,35.35%,-,-,14202187.0,34.28%,0.0,0.0,41426953.0,0.342825
4,비금융회사,티와이홀딩스,동일인측,비영리법인,비영리법인,서암윤세영재단,2830311,7.05%,-,-,2830311.0,6.83%,NaN,0.0,41426953.0,0.068321

In [288]:
dfOwn = pd.DataFrame(dfMrg.groupby(['소속회사명', 'ownCat'])['shares'].sum()).reset_index()
dfOwn = dfOwn[dfOwn['ownCat'] != 1]
dfOwn

          소속회사명  ownCat    shares
1    걸포도시개발자산과리    99.0  0.840000
3       경산에코에너지    99.0  0.500000
5   군포복합개발피에프브이    99.0  0.646000
7          네오시티    99.0  0.310000
11       디엠씨미디어    99.0  0.085852
14          무노스    99.0  0.399955
16        문고리닷컴    99.0  0.202000
18     부산바이오에너지    99.0  0.800000
19          블루원     0.0  0.122640
23         삼계개발    99.0  0.490000
25          센트로    99.0  0.300000
27      스마트미디어렙    99.0  0.500000
30   신경주역세권공영개발    99.0  0.602000
32      신경주지역개발    99.0  1.000000
34       양주동서도로    99.0  0.599997
36        에스비에스    99.0  0.600027
40    에스비에스미디어넷    99.0  0.037157
41  에스비에스미디어홀딩스     0.0  0.002001
43  에스비에스미디어홀딩스    99.0  0.294778
45    에스비에스바이아컴    99.0  0.489999
48    에스비에스에이앤티    99.0  0.003610
50     에스비에스엠앤씨    99.0  0.600000
52   에스비에스콘텐츠허브    99.0  0.252867
56         에코시티    99.0  0.600000
58       에코시티개발    99.0  0.200000
64         유니시티    99.0  0.415400
66       이너시티개발    99.0  0.600000
69         지엠파크    99.0  0.800000
71   창원복합행정타운개발    99.0  0.490000
73   천안풍세일반산업단지    99.0  0.249999
74         태영건설     0.0  0.135891
76         태영건설    99.0  0.519220
78     태영그레인터미널    99.0  0.570000
79      태영인더스트리     0.0  0.639666
81      태영인더스트리    99.0  0.056535
89   티에스케이코퍼레이션    99.0  0.747857
92   티와이신경주주택개발    99.0  1.000000
93       티와이홀딩스     0.0  0.348749
94       티와이홀딩스    99.0  0.492375

In [289]:
dfOwn2 = pd.DataFrame(dfMrg.groupby(['소속회사명', 'ownCat2'])['shares'].sum()).reset_index()
dfOwn2 = dfOwn2[dfOwn2['ownCat2'] != 1]
dfOwn2.columns = ['소속회사명', 'ownCat', 'shares']
dfOwn2

           소속회사명  ownCat    shares
1     걸포도시개발자산과리    99.0  0.840000
3        경산에코에너지    99.0  0.500000
5    군포복합개발피에프브이    99.0  0.646000
7           네오시티    99.0  0.310000
10        디엠씨미디어     0.0  0.373626
12        디엠씨미디어    99.0  0.085852
13       리앤에스스포츠     0.0  0.300000
15           무노스     0.0  0.000026
17           무노스    99.0  0.399955
18         문고리닷컴     0.0  0.198000
20         문고리닷컴    99.0  0.202000
22      부산바이오에너지    99.0  0.800000
23           블루원     0.0  0.122640
27          삼계개발    99.0  0.490000
29           센트로    99.0  0.300000
31       스마트미디어렙    99.0  0.500000
34    신경주역세권공영개발    99.0  0.602000
36       신경주지역개발    99.0  1.000000
38        양주동서도로    99.0  0.599997
39         에스비에스     0.0  0.030818
41         에스비에스    99.0  0.600027
44     에스비에스미디어넷     0.0  0.038340
46     에스비에스미디어넷    99.0  0.037157
47   에스비에스미디어홀딩스     0.0  0.093065
49   에스비에스미디어홀딩스    99.0  0.294778
51     에스비에스바이아컴    99.0  0.489999
54     에스비에스에이앤티    99.0  0.003610
56      에스비에스엠앤씨    99.0  0.600000
57    에스비에스콘텐츠허브     0.0  0.097514
59    에스비에스콘텐츠허브    99.0  0.252867
63          에코시티    99.0  0.600000
65        에코시티개발    99.0  0.200000
71          유니시티    99.0  0.415400
73        이너시티개발    99.0  0.600000
76          지엠파크    99.0  0.800000
78    창원복합행정타운개발    99.0  0.490000
80    천안풍세일반산업단지    99.0  0.249999
81          태영건설     0.0  0.211988
83          태영건설    99.0  0.519220
85      태영그레인터미널    99.0  0.570000
86       태영인더스트리     0.0  0.639666
88       태영인더스트리    99.0  0.056535
96    티에스케이코퍼레이션    99.0  0.747857
99    티와이신경주주택개발    99.0  1.000000
100       티와이홀딩스     0.0  0.513549
101       티와이홀딩스    99.0  0.492375

In [290]:
dfMrgd = dfOwn.merge(dfOwn2, on=['소속회사명', 'ownCat'], how='outer')
dfMrgd.columns = ['소속회사명', 'ownCat', 'own', 'own2']
dfMrgd['ownername'] = np.nan
dfMrgd

          소속회사명  ownCat       own      own2  ownername
0    걸포도시개발자산과리    99.0  0.840000  0.840000        NaN
1       경산에코에너지    99.0  0.500000  0.500000        NaN
2   군포복합개발피에프브이    99.0  0.646000  0.646000        NaN
3          네오시티    99.0  0.310000  0.310000        NaN
4        디엠씨미디어    99.0  0.085852  0.085852        NaN
5           무노스    99.0  0.399955  0.399955        NaN
6         문고리닷컴    99.0  0.202000  0.202000        NaN
7      부산바이오에너지    99.0  0.800000  0.800000        NaN
8           블루원     0.0  0.122640  0.122640        NaN
9          삼계개발    99.0  0.490000  0.490000        NaN
10          센트로    99.0  0.300000  0.300000        NaN
11      스마트미디어렙    99.0  0.500000  0.500000        NaN
12   신경주역세권공영개발    99.0  0.602000  0.602000        NaN
13      신경주지역개발    99.0  1.000000  1.000000        NaN
14       양주동서도로    99.0  0.599997  0.599997        NaN
15        에스비에스    99.0  0.600027  0.600027        NaN
16    에스비에스미디어넷    99.0  0.037157  0.037157        NaN
17  에스비에스미디어홀딩스     0.0  0.002001  0.093065        NaN
18  에스비에스미디어홀딩스    99.0  0.294778  0.294778        NaN
19    에스비에스바이아컴    99.0  0.489999  0.489999        NaN
20    에스비에스에이앤티    99.0  0.003610  0.003610        NaN
21     에스비에스엠앤씨    99.0  0.600000  0.600000        NaN
22   에스비에스콘텐츠허브    99.0  0.252867  0.252867        NaN
23         에코시티    99.0  0.600000  0.600000        NaN
24       에코시티개발    99.0  0.200000  0.200000        NaN
25         유니시티    99.0  0.415400  0.415400        NaN
26       이너시티개발    99.0  0.600000  0.600000        NaN
27         지엠파크    99.0  0.800000  0.800000        NaN
28   창원복합행정타운개발    99.0  0.490000  0.490000        NaN
29   천안풍세일반산업단지    99.0  0.249999  0.249999        NaN
30         태영건설     0.0  0.135891  0.211988        NaN
31         태영건설    99.0  0.519220  0.519220        NaN
32     태영그레인터미널    99.0  0.570000  0.570000        NaN
33      태영인더스트리     0.0  0.639666  0.639666        NaN
34      태영인더스트리    99.0  0.056535  0.056535        NaN
35   티에스케이코퍼레이션    99.0  0.747857  0.747857        NaN
36   티와이신경주주택개발    99.0  1.000000  1.000000        NaN
37       티와이홀딩스     0.0  0.348749  0.513549        NaN
38       티와이홀딩스    99.0  0.492375  0.492375        NaN
39       디엠씨미디어     0.0       NaN  0.373626        NaN
40      리앤에스스포츠     0.0       NaN  0.300000        NaN
41          무노스     0.0       NaN  0.000026        NaN
42        문고리닷컴     0.0       NaN  0.198000        NaN
43        에스비에스     0.0       NaN  0.030818        NaN
44    에스비에스미디어넷     0.0       NaN  0.038340        NaN
45   에스비에스콘텐츠허브     0.0       NaN  0.097514        NaN

In [167]:
dfMrgd[dfMrgd['소속회사명']== '디엠씨미디어']

     소속회사명  ownCat       own      own2  ownername
3   디엠씨미디어    99.0  1.085852  1.085852        NaN
40  디엠씨미디어     0.0       NaN  0.373626        NaN

In [291]:
dfOwn1 = dfMrg[dfMrg['ownCat'] == 1][['소속회사명', 'ownCat', 'shares', '성명']]
dfOwn1.columns = ['소속회사명', 'ownCat', 'own', 'ownername']
dfOwn1['own2'] = dfOwn1['own']
dfOwn1 = dfOwn1[['소속회사명', 'ownCat', 'own', 'own2', 'ownername']]
dfOwn1 = dfOwn1[~dfOwn1['ownername'].isna()]
dfOwn1

           소속회사명  ownCat       own      own2    ownername
9    군포복합개발피에프브이     1.0  0.354000  0.354000         태영건설
14        디엠씨미디어     1.0  0.540522  0.540522        에스비에스
19       리앤에스스포츠     1.0  0.700000  0.700000      SBS미디어넷
23           무노스     1.0  0.600018  0.600018      SBS미디어넷
28         문고리닷컴     1.0  0.600000  0.600000  에스비에스네오파트너스
..           ...     ...       ...       ...          ...
244   창원복합행정타운개발     1.0  0.510000  0.510000         태영건설
248   천안풍세일반산업단지     1.0  0.750001  0.750001         태영건설
252   티와이신경주주택개발     1.0  1.000000  1.000000         태영건설
256     포천바이오에너지     1.0  0.510000  0.510000         태영건설
257     포천바이오에너지     1.0  0.490000  0.490000   티에스케이코퍼레이션

[63 rows x 5 columns]

In [292]:
dfOwn = pd.concat([dfMrgd, dfOwn1])
dfOwn = dfOwn.sort_values(['소속회사명', 'ownCat'])
dfOwn.columns = ['firmname', 'type', 'own', 'own2', 'ownername']

In [293]:
dfOwn = dfOwn.reset_index()
dfOwn = dfOwn.drop(columns=['index'])
dfOwn.head()

      firmname  type    own   own2 ownername
0   걸포도시개발자산과리   1.0  0.580  0.580      태영건설
1   걸포도시개발자산과리  99.0  0.840  0.840       NaN
2      경산에코에너지   1.0  0.500  0.500      태영건설
3      경산에코에너지  99.0  0.500  0.500       NaN
4  군포복합개발피에프브이   1.0  0.354  0.354      태영건설

In [294]:
dfOwn.groupby(['firmname'])['own2'].sum()

firmname
걸포도시개발자산과리     1.420000
경산에코에너지        1.000000
군포복합개발피에프브이    1.000000
네오시티           1.000000
대구남부에이엠씨       1.000000
대동산업단지         1.000000
디엠씨미디어         1.000000
리앤에스스포츠        1.000000
무노스            1.000000
문고리닷컴          1.000000
부산바이오에너지       1.400000
블루원            1.000000
블루원레저          1.000000
삼계개발           1.000000
센트로            1.000000
스마트미디어렙        1.000000
스튜디오에스         1.000000
신경주역세권공영개발     1.000000
신경주지역개발        1.754386
양주동서도로         1.000000
에스비에스          1.000000
에스비에스네오파트너스    1.000000
에스비에스디지털뉴스랩    1.000000
에스비에스미디어넷      1.000000
에스비에스미디어홀딩스    1.000000
에스비에스바이아컴      1.000000
에스비에스아이앤엠      1.000000
에스비에스에이앤티      1.000000
에스비에스엠앤씨       1.000000
에스비에스콘텐츠허브     1.000000
에스비에스플러스       1.000000
에코시스템          1.000000
에코시티           1.000000
에코시티개발         1.000000
엠시에타           1.000000
엠시에타개발         1.000000
여수엑스포환경        1.000000
여천이피에스         1.000000
유니시티           1.000000
이너시티개발         1.000000
인제스피디움         1.000000
지엠파크           1.000000
창원복합행정타운개발     1.000000
천안풍세일반산업단지     1.000000
태영건설           1.000000
태영그레인터미널       1.000000
태영인더스트리        1.000000
티에스케이그린에너지     1.000000
티에스케이엔워터테크     1.000000
티에스케이엔지니어링     1.000000
티에스케이엠엔에스      1.000000
티에스케이워터        1.000000
티에스케이이앤피       0.996587
티에스케이코퍼레이션     1.373929
티에스케이프리텍       1.000000
티와이신경주주택개발     2.000000
티와이홀딩스         1.005924
평택싸이로          1.000000
포맷티스트          1.000000
포천바이오에너지       1.000000
Name: own2, dtype: float64

In [295]:
dfOwn[dfOwn['firmname'] == '걸포도시개발자산과리']

     firmname  type   own  own2 ownername
0  걸포도시개발자산과리   1.0  0.58  0.58      태영건설
1  걸포도시개발자산과리  99.0  0.84  0.84       NaN

In [296]:
dfOwn.iloc[0, 0] = '걸포도시개발자산관리'
dfOwn.iloc[1, 0] = '걸포도시개발자산관리'
dfOwn.iloc[1, 2] = 0.42
dfOwn.iloc[1, 3] = 0.42
dfOwn[dfOwn['firmname'] == '걸포도시개발자산관리']

     firmname  type   own  own2 ownername
0  걸포도시개발자산관리   1.0  0.58  0.58      태영건설
1  걸포도시개발자산관리  99.0  0.42  0.42       NaN

In [297]:
dfOwn[dfOwn['firmname'] == '신경주지역개발']

   firmname  type       own      own2 ownername
35  신경주지역개발   1.0  0.754386  0.754386      태영건설
36  신경주지역개발  99.0  1.000000  1.000000       NaN

In [298]:
df[df['소속회사명'] == '신경주지역개발']

,금융회사,소속회사명,동일인과의관계,동일인과의관계2,동일인과의관계3,성명,보통주주식수,보통주지분율,우선주주식수,우선주지분율,합계주식수,합계지분율,ownCat,ownCat2
214,비금융회사,신경주지역개발,동일인측,계열회사(국내+해외),계열회사(국내+해외),태영건설,25800,43%,-,-,25800.0,43%,1.0,1.0
215,비금융회사,신경주지역개발,동일인측,동일인측합계,동일인측합계,NaN,25800,43%,-,-,25800.0,43%,NaN,NaN
216,비금융회사,신경주지역개발,기타주주,기타,기타,NaN,34200,57%,-,-,34200.0,57%,99.0,99.0
217,비금융회사,신경주지역개발,총계,총계,총계,/,60000,100%,-,-,34200.0,100%,NaN,NaN

In [299]:
dfOwn.iloc[35, 2] = 25800 / 60000
dfOwn.iloc[35, 3] = 25800 / 60000
dfOwn.iloc[36, 2] = 34200 / 60000
dfOwn.iloc[36, 3] = 34200 / 60000
dfOwn[dfOwn['firmname'] == '신경주지역개발']

   firmname  type   own  own2 ownername
35  신경주지역개발   1.0  0.43  0.43      태영건설
36  신경주지역개발  99.0  0.57  0.57       NaN

In [300]:
dfOwn[dfOwn['firmname'] == '티에스케이코퍼레이션']

      firmname  type       own      own2 ownername
98  티에스케이코퍼레이션   1.0  0.626071  0.626071    티와이홀딩스
99  티에스케이코퍼레이션  99.0  0.747857  0.747857       NaN

In [301]:
dfOwn.iloc[99, 2] = 358357 / 958357
dfOwn.iloc[99, 3] = 358357 / 958357
dfOwn[dfOwn['firmname'] == '티에스케이코퍼레이션']

      firmname  type       own      own2 ownername
98  티에스케이코퍼레이션   1.0  0.626071  0.626071    티와이홀딩스
99  티에스케이코퍼레이션  99.0  0.373929  0.373929       NaN

In [302]:
dfOwn[dfOwn['firmname'] == '티와이신경주주택개발']

       firmname  type  own  own2 ownername
101  티와이신경주주택개발   1.0  1.0   1.0      태영건설
102  티와이신경주주택개발  99.0  1.0   1.0       NaN

In [ ]:
dfOwn.iloc[102, 2] = 0
dfOwn.iloc[102, 3] = 0
dfOwn[dfOwn['firmname'] == '티와이신경주주택개발']

In [304]:
dfOwn.to_excel("../data/ownership-input/2021/티와이홀딩스.xlsx", index=False)

## 삼성전자

In [329]:
df = pd.read_excel('../data/ownership-status/raw/2021/삼성전자.xlsx')
df['합계주식수'].replace('^-$', '', regex=True, inplace=True)
df['합계주식수'] = df['합계주식수'].copy().replace('', np.nan,regex=True)
df['합계주식수'] = df['합계주식수'].copy().astype(float)

In [330]:
df['ownCat'] = df.apply(catOwn, axis=1)
df['ownCat2'] = df.apply(catOwn2, axis=1)
dfShares = df[df['동일인과의관계2'] == '총계'][['소속회사명', '합계주식수']]
dfShares.columns = ['소속회사명', '주식수총계']
dfMrg = df.merge(dfShares, on='소속회사명')
dfMrg['shares'] = dfMrg['합계주식수'] / dfMrg['주식수총계']
dfOwn = pd.DataFrame(dfMrg.groupby(['소속회사명', 'ownCat'])['shares'].sum()).reset_index()
dfOwn = dfOwn[dfOwn['ownCat'] != 1]
dfOwn2 = pd.DataFrame(dfMrg.groupby(['소속회사명', 'ownCat2'])['shares'].sum()).reset_index()
dfOwn2 = dfOwn2[dfOwn2['ownCat2'] != 1]
dfOwn2.columns = ['소속회사명', 'ownCat', 'shares']
dfMrgd = dfOwn.merge(dfOwn2, on=['소속회사명', 'ownCat'], how='outer')
dfMrgd.columns = ['소속회사명', 'ownCat', 'own', 'own2']
dfMrgd['ownername'] = np.nan
dfOwn1 = dfMrg[dfMrg['ownCat'] == 1][['소속회사명', 'ownCat', 'shares', '성명']]
dfOwn1.columns = ['소속회사명', 'ownCat', 'own', 'ownername']
dfOwn1['own2'] = dfOwn1['own']
dfOwn1 = dfOwn1[['소속회사명', 'ownCat', 'own', 'own2', 'ownername']]
dfOwn1 = dfOwn1[~dfOwn1['ownername'].isna()]
dfOwn = pd.concat([dfMrgd, dfOwn1])
dfOwn = dfOwn.sort_values(['소속회사명', 'ownCat'])
dfOwn.columns = ['firmname', 'type', 'own', 'own2', 'ownername']
dfOwn = dfOwn.reset_index()
dfOwn = dfOwn.drop(columns=['index'])
dfOwn.groupby(['firmname'])['own2'].sum()[dfOwn.groupby(['firmname'])['own2'].sum() != 1]

firmname
미라콤아이앤씨    1.0
Name: own2, dtype: float64

In [331]:
dfOwn.to_excel("../data/ownership-input/2021/삼성전자.xlsx", index=False)

## 에스케이

In [332]:
df = pd.read_excel('../data/ownership-status/raw/2021/SK.xlsx')
df['합계주식수'].replace('^-$', '', regex=True, inplace=True)
df['합계주식수'] = df['합계주식수'].copy().replace('', np.nan,regex=True)
df['합계주식수'] = df['합계주식수'].copy().astype(float)

In [333]:
df['ownCat'] = df.apply(catOwn, axis=1)
df['ownCat2'] = df.apply(catOwn2, axis=1)
dfShares = df[df['동일인과의관계2'] == '총계'][['소속회사명', '합계주식수']]
dfShares.columns = ['소속회사명', '주식수총계']
dfMrg = df.merge(dfShares, on='소속회사명')
dfMrg['shares'] = dfMrg['합계주식수'] / dfMrg['주식수총계']
dfOwn = pd.DataFrame(dfMrg.groupby(['소속회사명', 'ownCat'])['shares'].sum()).reset_index()
dfOwn = dfOwn[dfOwn['ownCat'] != 1]
dfOwn2 = pd.DataFrame(dfMrg.groupby(['소속회사명', 'ownCat2'])['shares'].sum()).reset_index()
dfOwn2 = dfOwn2[dfOwn2['ownCat2'] != 1]
dfOwn2.columns = ['소속회사명', 'ownCat', 'shares']
dfMrgd = dfOwn.merge(dfOwn2, on=['소속회사명', 'ownCat'], how='outer')
dfMrgd.columns = ['소속회사명', 'ownCat', 'own', 'own2']
dfMrgd['ownername'] = np.nan
dfOwn1 = dfMrg[dfMrg['ownCat'] == 1][['소속회사명', 'ownCat', 'shares', '성명']]
dfOwn1.columns = ['소속회사명', 'ownCat', 'own', 'ownername']
dfOwn1['own2'] = dfOwn1['own']
dfOwn1 = dfOwn1[['소속회사명', 'ownCat', 'own', 'own2', 'ownername']]
dfOwn1 = dfOwn1[~dfOwn1['ownername'].isna()]
dfOwn = pd.concat([dfMrgd, dfOwn1])
dfOwn = dfOwn.sort_values(['소속회사명', 'ownCat'])
dfOwn.columns = ['firmname', 'type', 'own', 'own2', 'ownername']
dfOwn = dfOwn.reset_index()
dfOwn = dfOwn.drop(columns=['index'])
dfOwn.groupby(['firmname'])['own2'].sum()[dfOwn.groupby(['firmname'])['own2'].sum() != 1]

firmname
에스케이바이오텍       0.000000
에스케이에코플랜트      1.000048
에스케이텔레콤        0.999903
에스케이피아이씨글로벌    1.490000
Name: own2, dtype: float64

In [334]:
df[df['소속회사명'] == '에스케이바이오텍']

,금융회사,소속회사명,동일인과의관계,동일인과의관계2,동일인과의관계3,성명,보통주주식수,보통주지분율,우선주주식수,우선주지분율,합계주식수,합계지분율,ownCat,ownCat2
1051,비금융회사,에스케이바이오텍,동일인측,동일인,동일인,NaN,-,-,-,-,NaN,-,0.0,0.0
1052,비금융회사,에스케이바이오텍,동일인측,친족,배우자/혈족1촌,NaN,-,-,-,-,NaN,-,NaN,NaN
1053,비금융회사,에스케이바이오텍,동일인측,친족,혈족2~4촌,NaN,-,-,-,-,NaN,-,NaN,NaN
1054,비금융회사,에스케이바이오텍,동일인측,친족,혈족5~6촌,NaN,-,-,-,-,NaN,-,NaN,NaN
1055,비금융회사,에스케이바이오텍,동일인측,친족,인척4촌이내,NaN,-,-,-,-,NaN,-,NaN,NaN
1056,비금융회사,에스케이바이오텍,동일인측,친족,친족합계,/,-,-,-,-,NaN,-,0.0,0.0
1057,비금융회사,에스케이바이오텍,동일인측,비영리법인,비영리법인,NaN,-,-,-,-,NaN,-,NaN,0.0
1058,비금융회사,에스케이바이오텍,동일인측,등기된임원,등기된임원,NaN,-,-,-,-,NaN,-,NaN,0.0
1059,비금융회사,에스케이바이오텍,동일인측,자기주식,자기주식,NaN,-,-,-,-,NaN,-,NaN,0.0
1060,비금융회사,에스케이바이오텍,동일인측,계열회사(국내+해외),계열회사(국내+해외),SKPharmtecoInc.,22825332,100.00%,-,-,22825332.0,100.00%,1.0,1.0
1061,비금융회사,에스케이바이오텍,동일인측,기타동일인관련자,기타동일인관련자,NaN,-,-,-,-,NaN,-,NaN,NaN
1062,비금융회사,에스케이바이오텍,동일인측,동일인측합계,동일인측합계,/,22825332,100.00%,-,-,22825332.0,100.00%,NaN,NaN
1063,비금융회사,에스케이바이오텍,기타주주,동일인측이아닌최대주주,동일인측이아닌최대주주,NaN,-,-,-,-,NaN,-,99.0,99.0
1064,비금융회사,에스케이바이오텍,기타주주,기타,기타,/,-,-,-,-,NaN,-,99.0,99.0
1065,비금융회사,에스케이바이오텍,총계,총계,총계,/,-,-,-,-,NaN,-,NaN,NaN

In [335]:
dfOwn[dfOwn['firmname'] == '에스케이바이오텍']

     firmname  type  own  own2        ownername
177  에스케이바이오텍   0.0  0.0   0.0              NaN
178  에스케이바이오텍   1.0  NaN   NaN  SKPharmtecoInc.
179  에스케이바이오텍  99.0  0.0   0.0              NaN

In [337]:
dfOwn.iloc[178, 2] = 1
dfOwn.iloc[178, 3] = 1
dfOwn[dfOwn['firmname'] == '에스케이바이오텍']

     firmname  type  own  own2        ownername
177  에스케이바이오텍   0.0  0.0   0.0              NaN
178  에스케이바이오텍   1.0  1.0   1.0  SKPharmtecoInc.
179  에스케이바이오텍  99.0  0.0   0.0              NaN

In [338]:
df[df['소속회사명'] == '에스케이피아이씨글로벌']

,금융회사,소속회사명,동일인과의관계,동일인과의관계2,동일인과의관계3,성명,보통주주식수,보통주지분율,우선주주식수,우선주지분율,합계주식수,합계지분율,ownCat,ownCat2
1577,비금융회사,에스케이피아이씨글로벌,동일인측,동일인,동일인,NaN,-,-,-,-,NaN,-,0.0,0.0
1578,비금융회사,에스케이피아이씨글로벌,동일인측,친족,배우자/혈족1촌,NaN,-,-,-,-,NaN,-,NaN,NaN
1579,비금융회사,에스케이피아이씨글로벌,동일인측,친족,혈족2~4촌,NaN,-,-,-,-,NaN,-,NaN,NaN
1580,비금융회사,에스케이피아이씨글로벌,동일인측,친족,혈족5~6촌,NaN,-,-,-,-,NaN,-,NaN,NaN
1581,비금융회사,에스케이피아이씨글로벌,동일인측,친족,인척4촌이내,NaN,-,-,-,-,NaN,-,NaN,NaN
1582,비금융회사,에스케이피아이씨글로벌,동일인측,친족,친족합계,/,-,-,-,-,NaN,-,0.0,0.0
1583,비금융회사,에스케이피아이씨글로벌,동일인측,비영리법인,비영리법인,NaN,-,-,-,-,NaN,-,NaN,0.0
1584,비금융회사,에스케이피아이씨글로벌,동일인측,등기된임원,등기된임원,NaN,-,-,-,-,NaN,-,NaN,0.0
1585,비금융회사,에스케이피아이씨글로벌,동일인측,자기주식,자기주식,NaN,-,-,-,-,NaN,-,NaN,0.0
1586,비금융회사,에스케이피아이씨글로벌,동일인측,계열회사(국내+해외),계열회사(국내+해외),에스케이씨,1020000,51.00%,-,-,1020000.0,51.00%,1.0,1.0
1587,비금융회사,에스케이피아이씨글로벌,동일인측,기타동일인관련자,기타동일인관련자,NaN,-,-,-,-,NaN,-,NaN,NaN
1588,비금융회사,에스케이피아이씨글로벌,동일인측,동일인측합계,동일인측합계,/,1020000,51.00%,-,-,1020000.0,51.00%,NaN,NaN
1589,비금융회사,에스케이피아이씨글로벌,기타주주,동일인측이아닌최대주주,동일인측이아닌최대주주,PetrochemicalIndustriesCompanyK.S.C.,980000,49.00%,-,-,980000.0,51.00%,99.0,99.0
1590,비금융회사,에스케이피아이씨글로벌,기타주주,기타,기타,/,980000,49.00%,-,-,980000.0,49.00%,99.0,99.0
1591,비금융회사,에스케이피아이씨글로벌,총계,총계,총계,/,2000000,100.00%,-,-,2000000.0,100.00%,NaN,NaN

In [340]:
dfOwn[dfOwn['firmname'] == '에스케이피아이씨글로벌']

        firmname  type   own  own2 ownername
284  에스케이피아이씨글로벌   0.0  0.00  0.00       NaN
285  에스케이피아이씨글로벌   1.0  0.51  0.51     에스케이씨
286  에스케이피아이씨글로벌  99.0  0.98  0.98       NaN

In [341]:
dfOwn.iloc[286, 2] = 0.49
dfOwn.iloc[286, 3] = 0.49
dfOwn[dfOwn['firmname'] == '에스케이피아이씨글로벌']

        firmname  type   own  own2 ownername
284  에스케이피아이씨글로벌   0.0  0.00  0.00       NaN
285  에스케이피아이씨글로벌   1.0  0.51  0.51     에스케이씨
286  에스케이피아이씨글로벌  99.0  0.49  0.49       NaN