In [6]:
import sys
sys.path.append('../scripts')

import numpy as np
import pandas as pd
import os
from utils import cleanCmpnyNm
import requests

In [5]:
dfChaebol21 = pd.read_excel('../data/grpSumry/appnGroupSttus/appnGroupSttus2021.xlsx')
dfChaebol21 = dfChaebol21[dfChaebol21.smerNm.str.len() <= 3]
print(dfChaebol21.shape[0]) # Check if 60 Chaebols remains
dfChaebol21.repreCmpny = cleanCmpnyNm(dfChaebol21.repreCmpny)
dfChaebol21.head()

60

,unityGrupNm,unityGrupCode,smerNm,repreCmpny,sumCmpnyCo,invstmntLmtt,entrprsCl
0,삼성,K1000032,이재용,삼성전자,59,상호출자제한집단,일반
1,현대자동차,K3000027,정의선,현대자동차,53,상호출자제한집단,일반
2,에스케이,K1000050,최태원,에스케이,148,상호출자제한집단,일반
3,엘지,K1000051,구광모,엘지,70,상호출자제한집단,일반
4,롯데,K1000027,신동빈,롯데지주,86,상호출자제한집단,일반

# 지주회사 유형 및 지주회사 전환체제 유형

In [29]:
dfHoldingGenFinCompSttusList = pd.read_excel('../data/raw/holdingGenFinCompSttusList/holdingGenFinCompSttusList.xlsx',\
                                            header=[0, 1, 2])
dfHoldingGenFinCompSttusList.columns = ['공개년월', '지주회사명', '구분', '설립/전환일', '자산총액', '지주비율', '부채비율', '자회사수', \
                                        '자회사상장수', '손자회사수', '손자회사상장수', '증손회사수', '증손회사상장수']
dfHoldingGenFinCompSttusList['지주회사명'] = cleanCmpnyNm(dfHoldingGenFinCompSttusList['지주회사명'])
dfHoldingGenFinCompSttusList.head()

/Users/choidamian/opt/anaconda3/envs/dart-manager/lib/python3.8/site-packages/openpyxl/styles/stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,공개년월,지주회사명,구분,설립/전환일,자산총액,지주비율,부채비율,자회사수,자회사상장수,손자회사수,손자회사상장수,증손회사수,증손회사상장수
0,202104,엘지,일반,2001/04/03,10570840,67.81,2.93,13,5,44,2,7,0
1,202104,동원엔터프라이즈,일반,2001/04/16,2021051,93.17,25.21,4,2,13,0,5,0
2,202104,대교홀딩스,일반,2001/05/01,576012,85.56,0.54,5,0,8,0,2,0
3,202104,세아홀딩스,일반,2001/07/03,1106945,85.62,13.63,10,2,5,0,1,0
4,202104,한국컴퓨터지주,일반,2002/05/27,283936,64.38,32.89,7,0,2,0,0,0

In [30]:
dfCmpnySumry21 = pd.read_excel("../data/cmpnySumry/cmpnySumry2021Kor.xlsx", thousands=',')
dfCmpnySumry21['소속회사명'] = cleanCmpnyNm(dfCmpnySumry21['소속회사명'])
dfCmpnySumry21.head()

,공개년월,회계년,기업집단명,소속회사명,대표자,설립일,계열편입일,업종코드,영위업종,종업원수,...,자산총액,부채총액,자본총액,자본금,매출액,당기순이익,구분,법인등록번호,year2,rcmgCode
0,202105,2020,롯데,롯데쇼핑,강희태,19700702,19870401.0,G47,소매업; 자동차 제외,24963,...,2.490000e+13,1.530000e+13,9.600000e+12,1.410000e+11,8.710000e+12,-1.030000e+12,일반회사,1100000000000,2021,620068
1,202105,2020,지에스,지에스건설,임병용,19691219,20050404.0,F41,종합 건설업,6928,...,1.190000e+13,7.450000e+12,4.420000e+12,4.040000e+11,8.890000e+12,3.270000e+11,일반회사,1100000000000,2021,500143
2,202105,2020,SM,삼라,조유선,19690826,20040501.0,F41,종합 건설업,12,...,6.240000e+11,2.720000e+11,3.520000e+11,1.685000e+10,1.490000e+11,7.785100e+10,일반회사,1100000000000,2021,500429
3,202105,2020,한화,한화,옥경석 외,19521028,19870401.0,C20,화학 물질 및 화학제품 제조업; 의약품 제외,5026,...,7.360000e+12,3.870000e+12,3.490000e+12,4.900000e+11,4.000000e+12,1.290000e+11,일반회사,1100000000000,2021,350893
4,202105,2020,동원,동원산업,이명우,19690416,20030128.0,A03,어업,761,...,1.630000e+12,8.800000e+11,7.540000e+11,1.838800e+10,7.020000e+11,7.895000e+10,일반회사,1100000000000,2021,100030

In [32]:
dfHoldingGenFinCompSttusList.columns

Index(['공개년월', '지주회사명', '구분', '설립/전환일', '자산총액', '지주비율', '부채비율', '자회사수',
       '자회사상장수', '손자회사수', '손자회사상장수', '증손회사수', '증손회사상장수'],
      dtype='object')

In [34]:
dfCmpnySumry21.columns

Index(['공개년월', '회계년', '기업집단명', '소속회사명', '대표자', '설립일', '계열편입일', '업종코드', '영위업종',
       '종업원수', '결산기일', '결산주총일', '기업공개일', '자산총액', '부채총액', '자본총액', '자본금', '매출액',
       '당기순이익', '구분', '법인등록번호', 'year2', 'rcmgCode'],
      dtype='object')

In [36]:
dfHld = dfHoldingGenFinCompSttusList[['공개년월', '지주회사명', '구분', '설립/전환일', '지주비율', '부채비율', '자회사수',
                                      '자회사상장수', '손자회사수', '손자회사상장수', '증손회사수', '증손회사상장수']].merge(dfCmpnySumry21[['회계년', '기업집단명', '소속회사명', '대표자', '설립일', '계열편입일', '업종코드', '영위업종',
                                                                                                               '종업원수', '결산기일', '결산주총일', '기업공개일', '자산총액', '부채총액', '자본총액', '자본금', '매출액',
                                                                                                               '당기순이익', '법인등록번호', 'year2', 'rcmgCode']], how='left', left_on='지주회사명', right_on=['소속회사명'])

In [37]:
dfHld.columns

Index(['공개년월', '지주회사명', '구분', '설립/전환일', '지주비율', '부채비율', '자회사수', '자회사상장수',
       '손자회사수', '손자회사상장수', '증손회사수', '증손회사상장수', '회계년', '기업집단명', '소속회사명', '대표자',
       '설립일', '계열편입일', '업종코드', '영위업종', '종업원수', '결산기일', '결산주총일', '기업공개일',
       '자산총액', '부채총액', '자본총액', '자본금', '매출액', '당기순이익', '법인등록번호', 'year2',
       'rcmgCode'],
      dtype='object')

In [54]:
dfHldChaebol = dfHld[(~dfHld['기업집단명'].isna()) & (dfHld['기업집단명'].isin(dfChaebol21['unityGrupNm'].unique()))]
dfHldChaebol = dfHldChaebol.reset_index().drop(columns=['index'])
print(len(dfHldChaebol))
dfHldChaebol.head()

44

,공개년월,지주회사명,구분,설립/전환일,지주비율,부채비율,자회사수,자회사상장수,손자회사수,손자회사상장수,...,기업공개일,자산총액,부채총액,자본총액,자본금,매출액,당기순이익,법인등록번호,year2,rcmgCode
0,202104,엘지,일반,2001/04/03,67.81,2.93,13,5,44,2,...,19700213.0,1.060000e+13,3.010000e+11,1.030000e+13,8.790000e+11,1.020000e+12,1.330000e+12,1.100000e+12,2021.0,350079.0
1,202104,동원엔터프라이즈,일반,2001/04/16,93.17,25.21,4,2,13,0,...,NaN,2.020000e+12,4.070000e+11,1.610000e+12,5.845700e+10,6.476200e+10,2.428000e+10,1.100000e+12,2021.0,164326.0
2,202104,세아홀딩스,일반,2001/07/03,85.62,13.63,10,2,5,0,...,20010730.0,1.110000e+12,1.330000e+11,9.740000e+11,2.000000e+10,7.149000e+10,2.865000e+10,1.100000e+12,2021.0,171342.0
3,202104,한화종합화학,일반,2004/01/01,62.62,11.02,6,0,7,0,...,NaN,3.770000e+12,3.740000e+11,3.390000e+12,5.550000e+11,1.200000e+12,2.290000e+11,1.610000e+12,2021.0,351385.0
4,202104,지에스,일반,2004/07/07,90.25,14.98,7,2,26,0,...,20040805.0,5.960000e+12,7.760000e+11,5.180000e+12,4.740000e+11,3.060000e+11,-5.329600e+10,1.100000e+12,2021.0,243139.0

In [55]:
dfHldChaebol.to_excel('../data/holdingGenFinCompSttusList/holdingGenFinCompSttusListChaebol.xlsx', index=False)

In [60]:
dfChaebol21['hldExist'] = dfChaebol21.apply(lambda row: 1 if row['unityGrupNm'] in dfHldChaebol['기업집단명'].unique()\
                                       else 0, axis=1)
dfChaebol21.head()

,unityGrupNm,unityGrupCode,smerNm,repreCmpny,sumCmpnyCo,invstmntLmtt,entrprsCl,hldExist
0,삼성,K1000032,이재용,삼성전자,59,상호출자제한집단,일반,0
1,현대자동차,K3000027,정의선,현대자동차,53,상호출자제한집단,일반,0
2,에스케이,K1000050,최태원,에스케이,148,상호출자제한집단,일반,1
3,엘지,K1000051,구광모,엘지,70,상호출자제한집단,일반,1
4,롯데,K1000027,신동빈,롯데지주,86,상호출자제한집단,일반,1

In [61]:
dfHldCmpnyNum = dfHldChaebol.groupby('기업집단명')['지주회사명'].count().reset_index()
dfHldCmpnyNum.columns = ['unityGrupNm', 'nHld']
dfHldCmpnyNum.head()

  unityGrupNm  nHld
0          DL     1
1   IMM인베스트먼트     1
2          동원     1
3          롯데     1
4       반도홀딩스     1

In [63]:
dfChaebol21 = dfChaebol21.merge(dfHldCmpnyNum, how='left', on='unityGrupNm')
dfChaebol21

,unityGrupNm,unityGrupCode,smerNm,repreCmpny,sumCmpnyCo,invstmntLmtt,entrprsCl,hldExist,nHld
0,삼성,K1000032,이재용,삼성전자,59,상호출자제한집단,일반,0,NaN
1,현대자동차,K3000027,정의선,현대자동차,53,상호출자제한집단,일반,0,NaN
2,에스케이,K1000050,최태원,에스케이,148,상호출자제한집단,일반,1,4.0
3,엘지,K1000051,구광모,엘지,70,상호출자제한집단,일반,1,1.0
4,롯데,K1000027,신동빈,롯데지주,86,상호출자제한집단,일반,1,1.0
5,한화,K1000082,김승연,한화,83,상호출자제한집단,일반,1,1.0
6,지에스,K3000076,허창수,지에스,80,상호출자제한집단,일반,1,2.0
7,현대중공업,K3000052,정몽준,한국조선해양,33,상호출자제한집단,일반,1,2.0
8,신세계,K1000042,이명희,신세계,45,상호출자제한집단,일반,1,1.0
9,씨제이,K1000055,이재현,씨제이,79,상호출자제한집단,일반,1,1.0
10,한진,K1000081,조원태,한진칼,31,상호출자제한집단,일반,1,1.0
11,두산,K1000026,박정원,두산,22,상호출자제한집단,일반,0,NaN
12,엘에스,K3000062,구자홍,엘에스,58,상호출자제한집단,일반,1,3.0
13,부영,K2000060,이중근,부영,23,상호출자제한집단,일반,1,1.0
14,카카오,K3000137,김범수,카카오,118,상호출자제한집단,일반,0,NaN
15,DL,K1000011,이준용,디엘,36,상호출자제한집단,일반,1,1.0
16,미래에셋,K3000093,박현주,미래에셋캐피탈,38,상호출자제한집단,일반,0,NaN
17,현대백화점,K1000087,정지선,현대백화점,25,상호출자제한집단,일반,1,2.0
18,금호아시아나,K1000008,박삼구,금호건설,27,상호출자제한집단,일반,0,NaN
19,셀트리온,K3000135,서정진,셀트리온홀딩스,8,상호출자제한집단,일반,1,2.0
20,한국투자금융,K3000110,김남구,한국투자금융지주,30,상호출자제한집단,일반,1,1.0
21,교보생명보험,K3000065,신창재,교보생명보험,12,상호출자제한집단,일반,0,NaN
22,네이버,K3000138,이해진,네이버,45,상호출자제한집단,일반,0,NaN
23,에이치디씨,K2000057,정몽규,에이치디씨,29,상호출자제한집단,일반,1,1.0
24,효성,K1000086,조현준,효성,50,상호출자제한집단,일반,1,2.0
25,영풍,K1000052,장형진,영풍,27,상호출자제한집단,일반,0,NaN
26,하림,K3000121,김홍국,하림지주,55,상호출자제한집단,일반,1,2.0
27,케이씨씨,K1000001,정몽진,케이씨씨,18,상호출자제한집단,일반,0,NaN
28,넥슨,K3000119,김정주,엔엑스씨,18,상호출자제한집단,일반,0,NaN
29,넷마블,K3000162,방준혁,넷마블,23,상호출자제한집단,일반,0,NaN
30,호반건설,K3000145,김상열,호반건설,42,상호출자제한집단,일반,0,NaN
31,SM,K3000134,우오현,티케이케미칼,58,상호출자제한집단,일반,0,NaN
32,DB,K1000021,김준기,디비아이엔씨,21,상호출자제한집단,일반,0,NaN
33,코오롱,K1000059,이웅열,코오롱,36,상호출자제한집단,일반,1,1.0
34,한국타이어,K1000074,조양래,한국앤컴퍼니,21,공시대상기업집단,일반,1,1.0
35,오씨아이,K1000024,이우현,오씨아이,18,공시대상기업집단,일반,0,NaN
36,태영,K2000045,윤세영,티와이홀딩스,63,공시대상기업집단,일반,1,1.0
37,이랜드,K2000038,박성수,이랜드월드,33,공시대상기업집단,일반,0,NaN
38,세아,K1000041,이순형,세아홀딩스,29,공시대상기업집단,일반,1,2.0
39,중흥건설,K3000139,정창선,중흥건설,37,공시대상기업집단,일반,0,NaN
40,태광,K1000060,이호진,태광산업,19,공시대상기업집단,일반,0,NaN
41,동원,K1000025,김재철,동원엔터프라이즈,26,공시대상기업집단,일반,1,1.0
42,한라,K1000076,정몽원,한라홀딩스,15,공시대상기업집단,일반,1,1.0
43,아모레퍼시픽,K1000062,서경배,아모레퍼시픽그룹,14,공시대상기업집단,일반,1,1.0
44,IMM인베스트먼트,K3000171,지성배,아이엠엠인베스트먼트,94,공시대상기업집단,일반,1,1.0
45,삼천리,K2000025,이만득,삼천리,42,공시대상기업집단,일반,0,NaN
46,금호석유화학,K3000140,박찬구,금호석유화학,15,공시대상기업집단,일반,0,NaN
47,다우키움,K3000156,김익래,키움증권,45,공시대상기업집단,일반,0,NaN
48,장금상선,K3000144,정태순,장금상선,19,공시대상기업집단,일반,0,NaN
49,동국제강,K1000020,장세주,동국제강,11,공시대상기업집단,일반,0,NaN
50,애경,K2000035,장영신,에이케이홀딩스,37,공시대상기업집단,일반,1,1.0
51,반도홀딩스,K3000158,권홍사,반도홀딩스,28,공시대상기업집단,일반,1,1.0
52,유진,K3000161,유경선,유진기업,52,공시대상기업집단,일반,0,NaN
53,하이트진로,K1000067,박문덕,하이트진로홀딩스,18,공시대상기업집단,일반,1,1.0
54,삼양,K1000033,김윤,삼양홀딩스,11,공시대상기업집단,일반,1,1.0
55,대방건설,K3000189,구교운,대방건설,43,공시대상기업집단,일반,0,NaN
56,현대해상화재보험,K3000198,정몽윤,현대해상화재보험,21,공시대상기업집단,일반,0,NaN
57,엠디엠,K3000184,문주현,엠디엠,22,공시대상기업집단,일반,0,NaN
58,아이에스지주,K3000167,권혁운,아이에스지주,46,공시대상기업집단,일반,1,1.0
59,중앙,K2000062,홍석현,중앙홀딩스,56,공시대상기업집단,일반,1,1.0

In [68]:
dfCmpnySumryChaebol21 = dfCmpnySumry21[dfCmpnySumry21['기업집단명'].isin(dfChaebol21['unityGrupNm'].unique())]
idx = dfCmpnySumryChaebol21.groupby(['기업집단명'])['자산총액'].transform(max) == dfCmpnySumryChaebol21['자산총액']
dfCoreAffil = dfCmpnySumryChaebol21[idx][['기업집단명', '소속회사명']]
dfCoreAffil.columns = ['unityGrupNm', 'coreAffilNm']
dfCoreAffil.head()

   unityGrupNm coreAffilNm
0           롯데        롯데쇼핑
7           한화      한화생명보험
15          하림         팬오션
21         삼천리         삼천리
22          삼성      삼성생명보험

In [74]:
dfHldCmpnyNm = pd.DataFrame(dfHldChaebol.groupby('기업집단명')['지주회사명'].unique()).reset_index()
dfHldCmpnyNm.columns = ['unityGrupNm', 'hldCmpnyList']
dfHldCmpnyNm

   unityGrupNm                               hldCmpnyList
0           DL                                    [디엘에너지]
1    IMM인베스트먼트                            [에코매니지먼트코리아홀딩스]
2           동원                                 [동원엔터프라이즈]
3           롯데                                     [롯데지주]
4        반도홀딩스                                    [반도홀딩스]
5           부영                                       [부영]
6           삼양                                    [삼양홀딩스]
7           세아                            [세아홀딩스, 세아제강지주]
8         셀트리온                     [셀트리온홀딩스, 셀트리온헬스케어홀딩스]
9          신세계                                  [신세계프라퍼티]
10         씨제이                                      [씨제이]
11      아모레퍼시픽                                 [아모레퍼시픽그룹]
12      아이에스지주                                   [아이에스지주]
13          애경                                  [에이케이홀딩스]
14        에스케이  [에스케이이노베이션, 에스케이, 에스케이디스커버리, 에스케이씨에프티홀딩스]
15       에이치디씨                                    [에이치디씨]
16         엘에스                    [엘에스, 예스코홀딩스, 엘에스에이홀딩스]
17          엘지                                       [엘지]
18          중앙                                   [제이콘텐트리]
19         지에스                              [지에스, 지에스에너지]
20         코오롱                                      [코오롱]
21          태영                                   [티와이홀딩스]
22          하림                              [하림지주, 엔에스쇼핑]
23       하이트진로                                 [하이트진로홀딩스]
24       한국타이어                                   [한국앤컴퍼니]
25      한국투자금융                                 [한국투자금융지주]
26          한라                                    [한라홀딩스]
27          한진                                      [한진칼]
28          한화                                   [한화종합화학]
29       현대백화점                             [현대홈쇼핑, 현대퓨처넷]
30       현대중공업                          [현대중공업지주, 한국조선해양]
31          효성                                [에이에스씨, 효성]

In [78]:
dfChaebol21 = dfChaebol21.merge(dfHldCmpnyNm, on='unityGrupNm', how='left').merge(dfCoreAffil, on='unityGrupNm', how='left')
dfChaebol21

,unityGrupNm,unityGrupCode,smerNm,repreCmpny,sumCmpnyCo,invstmntLmtt,entrprsCl,hldExist,nHld,hldCmpnyList,coreAffilNm
0,삼성,K1000032,이재용,삼성전자,59,상호출자제한집단,일반,0,NaN,NaN,삼성생명보험
1,현대자동차,K3000027,정의선,현대자동차,53,상호출자제한집단,일반,0,NaN,NaN,현대자동차
2,에스케이,K1000050,최태원,에스케이,148,상호출자제한집단,일반,1,4.0,"[에스케이이노베이션, 에스케이, 에스케이디스커버리, 에스케이씨에프티홀딩스]",에스케이하이닉스
3,엘지,K1000051,구광모,엘지,70,상호출자제한집단,일반,1,1.0,[엘지],엘지전자
4,롯데,K1000027,신동빈,롯데지주,86,상호출자제한집단,일반,1,1.0,[롯데지주],롯데쇼핑
5,한화,K1000082,김승연,한화,83,상호출자제한집단,일반,1,1.0,[한화종합화학],한화생명보험
6,지에스,K3000076,허창수,지에스,80,상호출자제한집단,일반,1,2.0,"[지에스, 지에스에너지]",지에스칼텍스
7,현대중공업,K3000052,정몽준,한국조선해양,33,상호출자제한집단,일반,1,2.0,"[현대중공업지주, 한국조선해양]",현대중공업
8,신세계,K1000042,이명희,신세계,45,상호출자제한집단,일반,1,1.0,[신세계프라퍼티],이마트
9,씨제이,K1000055,이재현,씨제이,79,상호출자제한집단,일반,1,1.0,[씨제이],씨제이제일제당
10,한진,K1000081,조원태,한진칼,31,상호출자제한집단,일반,1,1.0,[한진칼],대한항공
11,두산,K1000026,박정원,두산,22,상호출자제한집단,일반,0,NaN,NaN,두산중공업
12,엘에스,K3000062,구자홍,엘에스,58,상호출자제한집단,일반,1,3.0,"[엘에스, 예스코홀딩스, 엘에스에이홀딩스]",엘에스니꼬동제련
13,부영,K2000060,이중근,부영,23,상호출자제한집단,일반,1,1.0,[부영],부영주택
14,카카오,K3000137,김범수,카카오,118,상호출자제한집단,일반,0,NaN,NaN,카카오뱅크
15,DL,K1000011,이준용,디엘,36,상호출자제한집단,일반,1,1.0,[디엘에너지],디엘
16,미래에셋,K3000093,박현주,미래에셋캐피탈,38,상호출자제한집단,일반,0,NaN,NaN,미래에셋증권
17,현대백화점,K1000087,정지선,현대백화점,25,상호출자제한집단,일반,1,2.0,"[현대홈쇼핑, 현대퓨처넷]",현대백화점
18,금호아시아나,K1000008,박삼구,금호건설,27,상호출자제한집단,일반,0,NaN,NaN,아시아나항공
19,셀트리온,K3000135,서정진,셀트리온홀딩스,8,상호출자제한집단,일반,1,2.0,"[셀트리온홀딩스, 셀트리온헬스케어홀딩스]",셀트리온
20,한국투자금융,K3000110,김남구,한국투자금융지주,30,상호출자제한집단,일반,1,1.0,[한국투자금융지주],한국투자증권
21,교보생명보험,K3000065,신창재,교보생명보험,12,상호출자제한집단,일반,0,NaN,NaN,교보생명보험
22,네이버,K3000138,이해진,네이버,45,상호출자제한집단,일반,0,NaN,NaN,네이버
23,에이치디씨,K2000057,정몽규,에이치디씨,29,상호출자제한집단,일반,1,1.0,[에이치디씨],에이치디씨현대산업개발
24,효성,K1000086,조현준,효성,50,상호출자제한집단,일반,1,2.0,"[에이에스씨, 효성]",효성중공업
25,영풍,K1000052,장형진,영풍,27,상호출자제한집단,일반,0,NaN,NaN,고려아연
26,하림,K3000121,김홍국,하림지주,55,상호출자제한집단,일반,1,2.0,"[하림지주, 엔에스쇼핑]",팬오션
27,케이씨씨,K1000001,정몽진,케이씨씨,18,상호출자제한집단,일반,0,NaN,NaN,케이씨씨
28,넥슨,K3000119,김정주,엔엑스씨,18,상호출자제한집단,일반,0,NaN,NaN,네오플
29,넷마블,K3000162,방준혁,넷마블,23,상호출자제한집단,일반,0,NaN,NaN,넷마블
30,호반건설,K3000145,김상열,호반건설,42,상호출자제한집단,일반,0,NaN,NaN,호반건설
31,SM,K3000134,우오현,티케이케미칼,58,상호출자제한집단,일반,0,NaN,NaN,대한해운
32,DB,K1000021,김준기,디비아이엔씨,21,상호출자제한집단,일반,0,NaN,NaN,디비손해보험
33,코오롱,K1000059,이웅열,코오롱,36,상호출자제한집단,일반,1,1.0,[코오롱],코오롱인더스트리
34,한국타이어,K1000074,조양래,한국앤컴퍼니,21,공시대상기업집단,일반,1,1.0,[한국앤컴퍼니],한국타이어앤테크놀로지
35,오씨아이,K1000024,이우현,오씨아이,18,공시대상기업집단,일반,0,NaN,NaN,오씨아이
36,태영,K2000045,윤세영,티와이홀딩스,63,공시대상기업집단,일반,1,1.0,[티와이홀딩스],태영건설
37,이랜드,K2000038,박성수,이랜드월드,33,공시대상기업집단,일반,0,NaN,NaN,이랜드리테일
38,세아,K1000041,이순형,세아홀딩스,29,공시대상기업집단,일반,1,2.0,"[세아홀딩스, 세아제강지주]",세아베스틸
39,중흥건설,K3000139,정창선,중흥건설,37,공시대상기업집단,일반,0,NaN,NaN,중흥토건
40,태광,K1000060,이호진,태광산업,19,공시대상기업집단,일반,0,NaN,NaN,흥국생명보험
41,동원,K1000025,김재철,동원엔터프라이즈,26,공시대상기업집단,일반,1,1.0,[동원엔터프라이즈],동원엔터프라이즈
42,한라,K1000076,정몽원,한라홀딩스,15,공시대상기업집단,일반,1,1.0,[한라홀딩스],만도
43,아모레퍼시픽,K1000062,서경배,아모레퍼시픽그룹,14,공시대상기업집단,일반,1,1.0,[아모레퍼시픽그룹],아모레퍼시픽
44,IMM인베스트먼트,K3000171,지성배,아이엠엠인베스트먼트,94,공시대상기업집단,일반,1,1.0,[에코매니지먼트코리아홀딩스],카보드
45,삼천리,K2000025,이만득,삼천리,42,공시대상기업집단,일반,0,NaN,NaN,삼천리
46,금호석유화학,K3000140,박찬구,금호석유화학,15,공시대상기업집단,일반,0,NaN,NaN,금호석유화학
47,다우키움,K3000156,김익래,키움증권,45,공시대상기업집단,일반,0,NaN,NaN,키움증권
48,장금상선,K3000144,정태순,장금상선,19,공시대상기업집단,일반,0,NaN,NaN,시노코페트로케미컬
49,동국제강,K1000020,장세주,동국제강,11,공시대상기업집단,일반,0,NaN,NaN,동국제강
50,애경,K2000035,장영신,에이케이홀딩스,37,공시대상기업집단,일반,1,1.0,[에이케이홀딩스],제주항공
51,반도홀딩스,K3000158,권홍사,반도홀딩스,28,공시대상기업집단,일반,1,1.0,[반도홀딩스],반도홀딩스
52,유진,K3000161,유경선,유진기업,52,공시대상기업집단,일반,0,NaN,NaN,유진투자증권
53,하이트진로,K1000067,박문덕,하이트진로홀딩스,18,공시대상기업집단,일반,1,1.0,[하이트진로홀딩스],하이트진로
54,삼양,K1000033,김윤,삼양홀딩스,11,공시대상기업집단,일반,1,1.0,[삼양홀딩스],삼양사
55,대방건설,K3000189,구교운,대방건설,43,공시대상기업집단,일반,0,NaN,NaN,대방건설
56,현대해상화재보험,K3000198,정몽윤,현대해상화재보험,21,공시대상기업집단,일반,0,NaN,NaN,현대해상화재보험
57,엠디엠,K3000184,문주현,엠디엠,22,공시대상기업집단,일반,0,NaN,NaN,엠디엠플러스
58,아이에스지주,K3000167,권혁운,아이에스지주,46,공시대상기업집단,일반,1,1.0,[아이에스지주],아이에스동서
59,중앙,K2000062,홍석현,중앙홀딩스,56,공시대상기업집단,일반,1,1.0,[제이콘텐트리],메가박스중앙

In [89]:
dfHoldingProgCompSttus = pd.read_excel("../data/raw/holdingProgCompSttusList/holdingProgCompSttusList.xlsx", header=[0, 1])
dfHoldingProgCompSttus.columns = ['공개년월', '구분', '지주회사명', '자회사명', '자회사 지분율', '손자회사명', '손자회사 지분율',\
                                 '증손회사명', '증손회사 지분율']
dfHoldingProgCompSttus[['지주회사명', '자회사명', '손자회사명', '증손회사명']] = cleanCmpnyNm(dfHoldingProgCompSttus[['지주회사명', '자회사명', '손자회사명', '증손회사명']])
dfHoldingProgCompSttus.head()

/Users/choidamian/opt/anaconda3/envs/dart-manager/lib/python3.8/site-packages/openpyxl/styles/stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

     공개년월  구분 지주회사명        자회사명  자회사 지분율    손자회사명  손자회사 지분율 증손회사명  증손회사 지분율
0  202104  일반    엘지      엘지씨엔에스    49.95     행복마루    100.00   NaN       NaN
1  202104  일반    엘지        엘지전자    33.67    엘지이노텍     40.79  이노위드     100.0
2  202104  일반    엘지      엘지생활건강    34.03     에프엠지     77.19   NaN       NaN
3  202104  일반    엘지  에스앤아이코퍼레이션   100.00    곤지암예원     90.00   NaN       NaN
4  202104  일반    엘지        엘지상사    24.69  당진탱크터미널    100.00   NaN       NaN

In [93]:
dfChaebol21['hldStruc'] = dfChaebol21.apply(lambda row: 1 if row['coreAffilNm'] in dfHoldingProgCompSttus['지주회사명'].unique() or\
                                           row['coreAffilNm'] in dfHoldingProgCompSttus['자회사명'].unique() or\
                                           row['coreAffilNm'] in dfHoldingProgCompSttus['손자회사명'].unique() or\
                                           row['coreAffilNm'] in dfHoldingProgCompSttus['증손회사명'].unique() else 0, axis=1)
dfChaebol21

,unityGrupNm,unityGrupCode,smerNm,repreCmpny,sumCmpnyCo,invstmntLmtt,entrprsCl,hldExist,nHld,hldCmpnyList,coreAffilNm,hldStruc
0,삼성,K1000032,이재용,삼성전자,59,상호출자제한집단,일반,0,NaN,NaN,삼성생명보험,0
1,현대자동차,K3000027,정의선,현대자동차,53,상호출자제한집단,일반,0,NaN,NaN,현대자동차,0
2,에스케이,K1000050,최태원,에스케이,148,상호출자제한집단,일반,1,4.0,"[에스케이이노베이션, 에스케이, 에스케이디스커버리, 에스케이씨에프티홀딩스]",에스케이하이닉스,1
3,엘지,K1000051,구광모,엘지,70,상호출자제한집단,일반,1,1.0,[엘지],엘지전자,1
4,롯데,K1000027,신동빈,롯데지주,86,상호출자제한집단,일반,1,1.0,[롯데지주],롯데쇼핑,1
5,한화,K1000082,김승연,한화,83,상호출자제한집단,일반,1,1.0,[한화종합화학],한화생명보험,0
6,지에스,K3000076,허창수,지에스,80,상호출자제한집단,일반,1,2.0,"[지에스, 지에스에너지]",지에스칼텍스,1
7,현대중공업,K3000052,정몽준,한국조선해양,33,상호출자제한집단,일반,1,2.0,"[현대중공업지주, 한국조선해양]",현대중공업,1
8,신세계,K1000042,이명희,신세계,45,상호출자제한집단,일반,1,1.0,[신세계프라퍼티],이마트,0
9,씨제이,K1000055,이재현,씨제이,79,상호출자제한집단,일반,1,1.0,[씨제이],씨제이제일제당,1
10,한진,K1000081,조원태,한진칼,31,상호출자제한집단,일반,1,1.0,[한진칼],대한항공,1
11,두산,K1000026,박정원,두산,22,상호출자제한집단,일반,0,NaN,NaN,두산중공업,0
12,엘에스,K3000062,구자홍,엘에스,58,상호출자제한집단,일반,1,3.0,"[엘에스, 예스코홀딩스, 엘에스에이홀딩스]",엘에스니꼬동제련,1
13,부영,K2000060,이중근,부영,23,상호출자제한집단,일반,1,1.0,[부영],부영주택,1
14,카카오,K3000137,김범수,카카오,118,상호출자제한집단,일반,0,NaN,NaN,카카오뱅크,0
15,DL,K1000011,이준용,디엘,36,상호출자제한집단,일반,1,1.0,[디엘에너지],디엘,0
16,미래에셋,K3000093,박현주,미래에셋캐피탈,38,상호출자제한집단,일반,0,NaN,NaN,미래에셋증권,0
17,현대백화점,K1000087,정지선,현대백화점,25,상호출자제한집단,일반,1,2.0,"[현대홈쇼핑, 현대퓨처넷]",현대백화점,0
18,금호아시아나,K1000008,박삼구,금호건설,27,상호출자제한집단,일반,0,NaN,NaN,아시아나항공,0
19,셀트리온,K3000135,서정진,셀트리온홀딩스,8,상호출자제한집단,일반,1,2.0,"[셀트리온홀딩스, 셀트리온헬스케어홀딩스]",셀트리온,1
20,한국투자금융,K3000110,김남구,한국투자금융지주,30,상호출자제한집단,일반,1,1.0,[한국투자금융지주],한국투자증권,1
21,교보생명보험,K3000065,신창재,교보생명보험,12,상호출자제한집단,일반,0,NaN,NaN,교보생명보험,0
22,네이버,K3000138,이해진,네이버,45,상호출자제한집단,일반,0,NaN,NaN,네이버,0
23,에이치디씨,K2000057,정몽규,에이치디씨,29,상호출자제한집단,일반,1,1.0,[에이치디씨],에이치디씨현대산업개발,1
24,효성,K1000086,조현준,효성,50,상호출자제한집단,일반,1,2.0,"[에이에스씨, 효성]",효성중공업,1
25,영풍,K1000052,장형진,영풍,27,상호출자제한집단,일반,0,NaN,NaN,고려아연,0
26,하림,K3000121,김홍국,하림지주,55,상호출자제한집단,일반,1,2.0,"[하림지주, 엔에스쇼핑]",팬오션,1
27,케이씨씨,K1000001,정몽진,케이씨씨,18,상호출자제한집단,일반,0,NaN,NaN,케이씨씨,0
28,넥슨,K3000119,김정주,엔엑스씨,18,상호출자제한집단,일반,0,NaN,NaN,네오플,0
29,넷마블,K3000162,방준혁,넷마블,23,상호출자제한집단,일반,0,NaN,NaN,넷마블,0
30,호반건설,K3000145,김상열,호반건설,42,상호출자제한집단,일반,0,NaN,NaN,호반건설,0
31,SM,K3000134,우오현,티케이케미칼,58,상호출자제한집단,일반,0,NaN,NaN,대한해운,0
32,DB,K1000021,김준기,디비아이엔씨,21,상호출자제한집단,일반,0,NaN,NaN,디비손해보험,0
33,코오롱,K1000059,이웅열,코오롱,36,상호출자제한집단,일반,1,1.0,[코오롱],코오롱인더스트리,1
34,한국타이어,K1000074,조양래,한국앤컴퍼니,21,공시대상기업집단,일반,1,1.0,[한국앤컴퍼니],한국타이어앤테크놀로지,1
35,오씨아이,K1000024,이우현,오씨아이,18,공시대상기업집단,일반,0,NaN,NaN,오씨아이,0
36,태영,K2000045,윤세영,티와이홀딩스,63,공시대상기업집단,일반,1,1.0,[티와이홀딩스],태영건설,0
37,이랜드,K2000038,박성수,이랜드월드,33,공시대상기업집단,일반,0,NaN,NaN,이랜드리테일,0
38,세아,K1000041,이순형,세아홀딩스,29,공시대상기업집단,일반,1,2.0,"[세아홀딩스, 세아제강지주]",세아베스틸,1
39,중흥건설,K3000139,정창선,중흥건설,37,공시대상기업집단,일반,0,NaN,NaN,중흥토건,0
40,태광,K1000060,이호진,태광산업,19,공시대상기업집단,일반,0,NaN,NaN,흥국생명보험,0
41,동원,K1000025,김재철,동원엔터프라이즈,26,공시대상기업집단,일반,1,1.0,[동원엔터프라이즈],동원엔터프라이즈,1
42,한라,K1000076,정몽원,한라홀딩스,15,공시대상기업집단,일반,1,1.0,[한라홀딩스],만도,1
43,아모레퍼시픽,K1000062,서경배,아모레퍼시픽그룹,14,공시대상기업집단,일반,1,1.0,[아모레퍼시픽그룹],아모레퍼시픽,1
44,IMM인베스트먼트,K3000171,지성배,아이엠엠인베스트먼트,94,공시대상기업집단,일반,1,1.0,[에코매니지먼트코리아홀딩스],카보드,0
45,삼천리,K2000025,이만득,삼천리,42,공시대상기업집단,일반,0,NaN,NaN,삼천리,0
46,금호석유화학,K3000140,박찬구,금호석유화학,15,공시대상기업집단,일반,0,NaN,NaN,금호석유화학,0
47,다우키움,K3000156,김익래,키움증권,45,공시대상기업집단,일반,0,NaN,NaN,키움증권,0
48,장금상선,K3000144,정태순,장금상선,19,공시대상기업집단,일반,0,NaN,NaN,시노코페트로케미컬,0
49,동국제강,K1000020,장세주,동국제강,11,공시대상기업집단,일반,0,NaN,NaN,동국제강,0
50,애경,K2000035,장영신,에이케이홀딩스,37,공시대상기업집단,일반,1,1.0,[에이케이홀딩스],제주항공,1
51,반도홀딩스,K3000158,권홍사,반도홀딩스,28,공시대상기업집단,일반,1,1.0,[반도홀딩스],반도홀딩스,1
52,유진,K3000161,유경선,유진기업,52,공시대상기업집단,일반,0,NaN,NaN,유진투자증권,0
53,하이트진로,K1000067,박문덕,하이트진로홀딩스,18,공시대상기업집단,일반,1,1.0,[하이트진로홀딩스],하이트진로,1
54,삼양,K1000033,김윤,삼양홀딩스,11,공시대상기업집단,일반,1,1.0,[삼양홀딩스],삼양사,1
55,대방건설,K3000189,구교운,대방건설,43,공시대상기업집단,일반,0,NaN,NaN,대방건설,0
56,현대해상화재보험,K3000198,정몽윤,현대해상화재보험,21,공시대상기업집단,일반,0,NaN,NaN,현대해상화재보험,0
57,엠디엠,K3000184,문주현,엠디엠,22,공시대상기업집단,일반,0,NaN,NaN,엠디엠플러스,0
58,아이에스지주,K3000167,권혁운,아이에스지주,46,공시대상기업집단,일반,1,1.0,[아이에스지주],아이에스동서,1
59,중앙,K2000062,홍석현,중앙홀딩스,56,공시대상기업집단,일반,1,1.0,[제이콘텐트리],메가박스중앙,1

# 순환출자 고리 유무

In [95]:
lOwns = []
for file in os.listdir("../data/almeida/2021/out/"):
    if file.startswith('.'):
        continue
    print(file)
    df = pd.read_stata(f'../data/almeida/2021/out/{file}')
    lOwns.append(df)
dfOwn = pd.concat(lOwns)
dfOwn.head()

유진2021.dta
씨제이2021.dta
DB2021.dta
아모레퍼시픽2021.dta
한화2021.dta
부영2021.dta
롯데2021.dta
SM2021.dta
두산2021.dta
에이치디씨2021.dta
동국제강2021.dta
태영2021.dta
아이에스지주2021.dta
다우키움2021.dta
현대자동차2021.dta
이랜드2021.dta
현대해상화재보험2021.dta
금호석유화학2021.dta
지에스2021.dta
반도홀딩스2021.dta
엠디엠2021.dta
네이버2021.dta
삼양2021.dta
한진2021.dta
셀트리온2021.dta
동원2021.dta
하이트진로2021.dta
에스케이2021.dta
넥슨2021.dta
미래에셋2021.dta
태광2021.dta
애경2021.dta
DL2021.dta
삼성2021.dta
오씨아이2021.dta
케이씨씨2021.dta
효성2021.dta
신세계2021.dta
대방건설2021.dta
중앙2021.dta
카카오2021.dta
현대백화점2021.dta
장금상선2021.dta
교보생명보험2021.dta
IMM인베스트먼트2021.dta
현대중공업2021.dta
코오롱2021.dta
세아2021.dta
한국타이어2021.dta
넷마블2021.dta
영풍2021.dta
한국투자금융2021.dta
엘에스2021.dta
삼천리2021.dta
중흥건설2021.dta
금호아시아나2021.dta
한라2021.dta
하림2021.dta
엘지2021.dta
호반건설2021.dta

,firmid,fid,ultown,avpos,sd,steps,loop,lastcontrol,central,grpname2
0,5086.0,1.0,0.003715,4.142763,3.0,NaN,0.0,8.0,0.163265,유진
1,102640.0,2.0,0.103584,3.275612,3.0,NaN,0.0,29.0,0.755102,유진
2,165401.0,3.0,0.388302,2.172676,2.0,NaN,0.0,38.0,1.551020,유진
3,166364.0,4.0,1.000000,1.000000,1.0,NaN,0.0,100.0,1.632652,유진
4,202487.0,5.0,0.125871,3.012328,2.0,NaN,0.0,29.0,0.000000,유진

In [96]:
dfOwn[dfOwn['loop'] > 0]['grpname2'].unique()

array(['SM', '현대자동차', '태광', '오씨아이', '장금상선', '중흥건설'], dtype=object)

In [99]:
dfChaebol21['loopExist'] = dfChaebol21.apply(lambda row: 1 if row['unityGrupNm'] in dfOwn[dfOwn['loop'] > 0]['grpname2'].unique()\
                                             else 0, axis=1)
dfChaebol21

,unityGrupNm,unityGrupCode,smerNm,repreCmpny,sumCmpnyCo,invstmntLmtt,entrprsCl,hldExist,nHld,hldCmpnyList,coreAffilNm,hldStruc,loopExist
0,삼성,K1000032,이재용,삼성전자,59,상호출자제한집단,일반,0,NaN,NaN,삼성생명보험,0,0
1,현대자동차,K3000027,정의선,현대자동차,53,상호출자제한집단,일반,0,NaN,NaN,현대자동차,0,1
2,에스케이,K1000050,최태원,에스케이,148,상호출자제한집단,일반,1,4.0,"[에스케이이노베이션, 에스케이, 에스케이디스커버리, 에스케이씨에프티홀딩스]",에스케이하이닉스,1,0
3,엘지,K1000051,구광모,엘지,70,상호출자제한집단,일반,1,1.0,[엘지],엘지전자,1,0
4,롯데,K1000027,신동빈,롯데지주,86,상호출자제한집단,일반,1,1.0,[롯데지주],롯데쇼핑,1,0
5,한화,K1000082,김승연,한화,83,상호출자제한집단,일반,1,1.0,[한화종합화학],한화생명보험,0,0
6,지에스,K3000076,허창수,지에스,80,상호출자제한집단,일반,1,2.0,"[지에스, 지에스에너지]",지에스칼텍스,1,0
7,현대중공업,K3000052,정몽준,한국조선해양,33,상호출자제한집단,일반,1,2.0,"[현대중공업지주, 한국조선해양]",현대중공업,1,0
8,신세계,K1000042,이명희,신세계,45,상호출자제한집단,일반,1,1.0,[신세계프라퍼티],이마트,0,0
9,씨제이,K1000055,이재현,씨제이,79,상호출자제한집단,일반,1,1.0,[씨제이],씨제이제일제당,1,0
10,한진,K1000081,조원태,한진칼,31,상호출자제한집단,일반,1,1.0,[한진칼],대한항공,1,0
11,두산,K1000026,박정원,두산,22,상호출자제한집단,일반,0,NaN,NaN,두산중공업,0,0
12,엘에스,K3000062,구자홍,엘에스,58,상호출자제한집단,일반,1,3.0,"[엘에스, 예스코홀딩스, 엘에스에이홀딩스]",엘에스니꼬동제련,1,0
13,부영,K2000060,이중근,부영,23,상호출자제한집단,일반,1,1.0,[부영],부영주택,1,0
14,카카오,K3000137,김범수,카카오,118,상호출자제한집단,일반,0,NaN,NaN,카카오뱅크,0,0
15,DL,K1000011,이준용,디엘,36,상호출자제한집단,일반,1,1.0,[디엘에너지],디엘,0,0
16,미래에셋,K3000093,박현주,미래에셋캐피탈,38,상호출자제한집단,일반,0,NaN,NaN,미래에셋증권,0,0
17,현대백화점,K1000087,정지선,현대백화점,25,상호출자제한집단,일반,1,2.0,"[현대홈쇼핑, 현대퓨처넷]",현대백화점,0,0
18,금호아시아나,K1000008,박삼구,금호건설,27,상호출자제한집단,일반,0,NaN,NaN,아시아나항공,0,0
19,셀트리온,K3000135,서정진,셀트리온홀딩스,8,상호출자제한집단,일반,1,2.0,"[셀트리온홀딩스, 셀트리온헬스케어홀딩스]",셀트리온,1,0
20,한국투자금융,K3000110,김남구,한국투자금융지주,30,상호출자제한집단,일반,1,1.0,[한국투자금융지주],한국투자증권,1,0
21,교보생명보험,K3000065,신창재,교보생명보험,12,상호출자제한집단,일반,0,NaN,NaN,교보생명보험,0,0
22,네이버,K3000138,이해진,네이버,45,상호출자제한집단,일반,0,NaN,NaN,네이버,0,0
23,에이치디씨,K2000057,정몽규,에이치디씨,29,상호출자제한집단,일반,1,1.0,[에이치디씨],에이치디씨현대산업개발,1,0
24,효성,K1000086,조현준,효성,50,상호출자제한집단,일반,1,2.0,"[에이에스씨, 효성]",효성중공업,1,0
25,영풍,K1000052,장형진,영풍,27,상호출자제한집단,일반,0,NaN,NaN,고려아연,0,0
26,하림,K3000121,김홍국,하림지주,55,상호출자제한집단,일반,1,2.0,"[하림지주, 엔에스쇼핑]",팬오션,1,0
27,케이씨씨,K1000001,정몽진,케이씨씨,18,상호출자제한집단,일반,0,NaN,NaN,케이씨씨,0,0
28,넥슨,K3000119,김정주,엔엑스씨,18,상호출자제한집단,일반,0,NaN,NaN,네오플,0,0
29,넷마블,K3000162,방준혁,넷마블,23,상호출자제한집단,일반,0,NaN,NaN,넷마블,0,0
30,호반건설,K3000145,김상열,호반건설,42,상호출자제한집단,일반,0,NaN,NaN,호반건설,0,0
31,SM,K3000134,우오현,티케이케미칼,58,상호출자제한집단,일반,0,NaN,NaN,대한해운,0,1
32,DB,K1000021,김준기,디비아이엔씨,21,상호출자제한집단,일반,0,NaN,NaN,디비손해보험,0,0
33,코오롱,K1000059,이웅열,코오롱,36,상호출자제한집단,일반,1,1.0,[코오롱],코오롱인더스트리,1,0
34,한국타이어,K1000074,조양래,한국앤컴퍼니,21,공시대상기업집단,일반,1,1.0,[한국앤컴퍼니],한국타이어앤테크놀로지,1,0
35,오씨아이,K1000024,이우현,오씨아이,18,공시대상기업집단,일반,0,NaN,NaN,오씨아이,0,1
36,태영,K2000045,윤세영,티와이홀딩스,63,공시대상기업집단,일반,1,1.0,[티와이홀딩스],태영건설,0,0
37,이랜드,K2000038,박성수,이랜드월드,33,공시대상기업집단,일반,0,NaN,NaN,이랜드리테일,0,0
38,세아,K1000041,이순형,세아홀딩스,29,공시대상기업집단,일반,1,2.0,"[세아홀딩스, 세아제강지주]",세아베스틸,1,0
39,중흥건설,K3000139,정창선,중흥건설,37,공시대상기업집단,일반,0,NaN,NaN,중흥토건,0,1
40,태광,K1000060,이호진,태광산업,19,공시대상기업집단,일반,0,NaN,NaN,흥국생명보험,0,1
41,동원,K1000025,김재철,동원엔터프라이즈,26,공시대상기업집단,일반,1,1.0,[동원엔터프라이즈],동원엔터프라이즈,1,0
42,한라,K1000076,정몽원,한라홀딩스,15,공시대상기업집단,일반,1,1.0,[한라홀딩스],만도,1,0
43,아모레퍼시픽,K1000062,서경배,아모레퍼시픽그룹,14,공시대상기업집단,일반,1,1.0,[아모레퍼시픽그룹],아모레퍼시픽,1,0
44,IMM인베스트먼트,K3000171,지성배,아이엠엠인베스트먼트,94,공시대상기업집단,일반,1,1.0,[에코매니지먼트코리아홀딩스],카보드,0,0
45,삼천리,K2000025,이만득,삼천리,42,공시대상기업집단,일반,0,NaN,NaN,삼천리,0,0
46,금호석유화학,K3000140,박찬구,금호석유화학,15,공시대상기업집단,일반,0,NaN,NaN,금호석유화학,0,0
47,다우키움,K3000156,김익래,키움증권,45,공시대상기업집단,일반,0,NaN,NaN,키움증권,0,0
48,장금상선,K3000144,정태순,장금상선,19,공시대상기업집단,일반,0,NaN,NaN,시노코페트로케미컬,0,1
49,동국제강,K1000020,장세주,동국제강,11,공시대상기업집단,일반,0,NaN,NaN,동국제강,0,0
50,애경,K2000035,장영신,에이케이홀딩스,37,공시대상기업집단,일반,1,1.0,[에이케이홀딩스],제주항공,1,0
51,반도홀딩스,K3000158,권홍사,반도홀딩스,28,공시대상기업집단,일반,1,1.0,[반도홀딩스],반도홀딩스,1,0
52,유진,K3000161,유경선,유진기업,52,공시대상기업집단,일반,0,NaN,NaN,유진투자증권,0,0
53,하이트진로,K1000067,박문덕,하이트진로홀딩스,18,공시대상기업집단,일반,1,1.0,[하이트진로홀딩스],하이트진로,1,0
54,삼양,K1000033,김윤,삼양홀딩스,11,공시대상기업집단,일반,1,1.0,[삼양홀딩스],삼양사,1,0
55,대방건설,K3000189,구교운,대방건설,43,공시대상기업집단,일반,0,NaN,NaN,대방건설,0,0
56,현대해상화재보험,K3000198,정몽윤,현대해상화재보험,21,공시대상기업집단,일반,0,NaN,NaN,현대해상화재보험,0,0
57,엠디엠,K3000184,문주현,엠디엠,22,공시대상기업집단,일반,0,NaN,NaN,엠디엠플러스,0,0
58,아이에스지주,K3000167,권혁운,아이에스지주,46,공시대상기업집단,일반,1,1.0,[아이에스지주],아이에스동서,1,0
59,중앙,K2000062,홍석현,중앙홀딩스,56,공시대상기업집단,일반,1,1.0,[제이콘텐트리],메가박스중앙,1,0

In [75]:
dfChaebol21[(dfChaebol21['지주회사 존재 여부']==0) & (~dfChaebol21['순환출자 보유'])]\
.to_excel("../refactoring/data/own-tables/2021/표 1-4.xlsx")

# 소유지배구조 특성

We classify ownership structure as 1. unified holding company structrue 2. holding company structrue 3. holding company 4. loop structure 5. etc.

In [116]:
def ownStrucType(row):
    if (row['hldStruc'] >= 1) and (row['nHld'] < 2):
        return 'unifiedHldStruc'
    elif (row['hldStruc'] >= 1):
        return 'hldStruc'
    elif (row['hldExist'] >= 1):
        return 'hld'
    else:
        return 'etc.'

In [117]:
dfChaebol21['ownStrucType'] = dfChaebol21.apply(ownStrucType, axis=1)
dfChaebol21

,unityGrupNm,unityGrupCode,smerNm,repreCmpny,sumCmpnyCo,invstmntLmtt,entrprsCl,hldExist,nHld,hldCmpnyList,coreAffilNm,hldStruc,loopExist,ownStrucType
0,삼성,K1000032,이재용,삼성전자,59,상호출자제한집단,일반,0,NaN,NaN,삼성생명보험,0,0,etc.
1,현대자동차,K3000027,정의선,현대자동차,53,상호출자제한집단,일반,0,NaN,NaN,현대자동차,0,1,etc.
2,에스케이,K1000050,최태원,에스케이,148,상호출자제한집단,일반,1,4.0,"[에스케이이노베이션, 에스케이, 에스케이디스커버리, 에스케이씨에프티홀딩스]",에스케이하이닉스,1,0,hldStruc
3,엘지,K1000051,구광모,엘지,70,상호출자제한집단,일반,1,1.0,[엘지],엘지전자,1,0,unifiedHldStruc
4,롯데,K1000027,신동빈,롯데지주,86,상호출자제한집단,일반,1,1.0,[롯데지주],롯데쇼핑,1,0,unifiedHldStruc
5,한화,K1000082,김승연,한화,83,상호출자제한집단,일반,1,1.0,[한화종합화학],한화생명보험,0,0,hld
6,지에스,K3000076,허창수,지에스,80,상호출자제한집단,일반,1,2.0,"[지에스, 지에스에너지]",지에스칼텍스,1,0,hldStruc
7,현대중공업,K3000052,정몽준,한국조선해양,33,상호출자제한집단,일반,1,2.0,"[현대중공업지주, 한국조선해양]",현대중공업,1,0,hldStruc
8,신세계,K1000042,이명희,신세계,45,상호출자제한집단,일반,1,1.0,[신세계프라퍼티],이마트,0,0,hld
9,씨제이,K1000055,이재현,씨제이,79,상호출자제한집단,일반,1,1.0,[씨제이],씨제이제일제당,1,0,unifiedHldStruc
10,한진,K1000081,조원태,한진칼,31,상호출자제한집단,일반,1,1.0,[한진칼],대한항공,1,0,unifiedHldStruc
11,두산,K1000026,박정원,두산,22,상호출자제한집단,일반,0,NaN,NaN,두산중공업,0,0,etc.
12,엘에스,K3000062,구자홍,엘에스,58,상호출자제한집단,일반,1,3.0,"[엘에스, 예스코홀딩스, 엘에스에이홀딩스]",엘에스니꼬동제련,1,0,hldStruc
13,부영,K2000060,이중근,부영,23,상호출자제한집단,일반,1,1.0,[부영],부영주택,1,0,unifiedHldStruc
14,카카오,K3000137,김범수,카카오,118,상호출자제한집단,일반,0,NaN,NaN,카카오뱅크,0,0,etc.
15,DL,K1000011,이준용,디엘,36,상호출자제한집단,일반,1,1.0,[디엘에너지],디엘,0,0,hld
16,미래에셋,K3000093,박현주,미래에셋캐피탈,38,상호출자제한집단,일반,0,NaN,NaN,미래에셋증권,0,0,etc.
17,현대백화점,K1000087,정지선,현대백화점,25,상호출자제한집단,일반,1,2.0,"[현대홈쇼핑, 현대퓨처넷]",현대백화점,0,0,hld
18,금호아시아나,K1000008,박삼구,금호건설,27,상호출자제한집단,일반,0,NaN,NaN,아시아나항공,0,0,etc.
19,셀트리온,K3000135,서정진,셀트리온홀딩스,8,상호출자제한집단,일반,1,2.0,"[셀트리온홀딩스, 셀트리온헬스케어홀딩스]",셀트리온,1,0,hldStruc
20,한국투자금융,K3000110,김남구,한국투자금융지주,30,상호출자제한집단,일반,1,1.0,[한국투자금융지주],한국투자증권,1,0,unifiedHldStruc
21,교보생명보험,K3000065,신창재,교보생명보험,12,상호출자제한집단,일반,0,NaN,NaN,교보생명보험,0,0,etc.
22,네이버,K3000138,이해진,네이버,45,상호출자제한집단,일반,0,NaN,NaN,네이버,0,0,etc.
23,에이치디씨,K2000057,정몽규,에이치디씨,29,상호출자제한집단,일반,1,1.0,[에이치디씨],에이치디씨현대산업개발,1,0,unifiedHldStruc
24,효성,K1000086,조현준,효성,50,상호출자제한집단,일반,1,2.0,"[에이에스씨, 효성]",효성중공업,1,0,hldStruc
25,영풍,K1000052,장형진,영풍,27,상호출자제한집단,일반,0,NaN,NaN,고려아연,0,0,etc.
26,하림,K3000121,김홍국,하림지주,55,상호출자제한집단,일반,1,2.0,"[하림지주, 엔에스쇼핑]",팬오션,1,0,hldStruc
27,케이씨씨,K1000001,정몽진,케이씨씨,18,상호출자제한집단,일반,0,NaN,NaN,케이씨씨,0,0,etc.
28,넥슨,K3000119,김정주,엔엑스씨,18,상호출자제한집단,일반,0,NaN,NaN,네오플,0,0,etc.
29,넷마블,K3000162,방준혁,넷마블,23,상호출자제한집단,일반,0,NaN,NaN,넷마블,0,0,etc.
30,호반건설,K3000145,김상열,호반건설,42,상호출자제한집단,일반,0,NaN,NaN,호반건설,0,0,etc.
31,SM,K3000134,우오현,티케이케미칼,58,상호출자제한집단,일반,0,NaN,NaN,대한해운,0,1,etc.
32,DB,K1000021,김준기,디비아이엔씨,21,상호출자제한집단,일반,0,NaN,NaN,디비손해보험,0,0,etc.
33,코오롱,K1000059,이웅열,코오롱,36,상호출자제한집단,일반,1,1.0,[코오롱],코오롱인더스트리,1,0,unifiedHldStruc
34,한국타이어,K1000074,조양래,한국앤컴퍼니,21,공시대상기업집단,일반,1,1.0,[한국앤컴퍼니],한국타이어앤테크놀로지,1,0,unifiedHldStruc
35,오씨아이,K1000024,이우현,오씨아이,18,공시대상기업집단,일반,0,NaN,NaN,오씨아이,0,1,etc.
36,태영,K2000045,윤세영,티와이홀딩스,63,공시대상기업집단,일반,1,1.0,[티와이홀딩스],태영건설,0,0,hld
37,이랜드,K2000038,박성수,이랜드월드,33,공시대상기업집단,일반,0,NaN,NaN,이랜드리테일,0,0,etc.
38,세아,K1000041,이순형,세아홀딩스,29,공시대상기업집단,일반,1,2.0,"[세아홀딩스, 세아제강지주]",세아베스틸,1,0,hldStruc
39,중흥건설,K3000139,정창선,중흥건설,37,공시대상기업집단,일반,0,NaN,NaN,중흥토건,0,1,etc.
40,태광,K1000060,이호진,태광산업,19,공시대상기업집단,일반,0,NaN,NaN,흥국생명보험,0,1,etc.
41,동원,K1000025,김재철,동원엔터프라이즈,26,공시대상기업집단,일반,1,1.0,[동원엔터프라이즈],동원엔터프라이즈,1,0,unifiedHldStruc
42,한라,K1000076,정몽원,한라홀딩스,15,공시대상기업집단,일반,1,1.0,[한라홀딩스],만도,1,0,unifiedHldStruc
43,아모레퍼시픽,K1000062,서경배,아모레퍼시픽그룹,14,공시대상기업집단,일반,1,1.0,[아모레퍼시픽그룹],아모레퍼시픽,1,0,unifiedHldStruc
44,IMM인베스트먼트,K3000171,지성배,아이엠엠인베스트먼트,94,공시대상기업집단,일반,1,1.0,[에코매니지먼트코리아홀딩스],카보드,0,0,hld
45,삼천리,K2000025,이만득,삼천리,42,공시대상기업집단,일반,0,NaN,NaN,삼천리,0,0,etc.
46,금호석유화학,K3000140,박찬구,금호석유화학,15,공시대상기업집단,일반,0,NaN,NaN,금호석유화학,0,0,etc.
47,다우키움,K3000156,김익래,키움증권,45,공시대상기업집단,일반,0,NaN,NaN,키움증권,0,0,etc.
48,장금상선,K3000144,정태순,장금상선,19,공시대상기업집단,일반,0,NaN,NaN,시노코페트로케미컬,0,1,etc.
49,동국제강,K1000020,장세주,동국제강,11,공시대상기업집단,일반,0,NaN,NaN,동국제강,0,0,etc.
50,애경,K2000035,장영신,에이케이홀딩스,37,공시대상기업집단,일반,1,1.0,[에이케이홀딩스],제주항공,1,0,unifiedHldStruc
51,반도홀딩스,K3000158,권홍사,반도홀딩스,28,공시대상기업집단,일반,1,1.0,[반도홀딩스],반도홀딩스,1,0,unifiedHldStruc
52,유진,K3000161,유경선,유진기업,52,공시대상기업집단,일반,0,NaN,NaN,유진투자증권,0,0,etc.
53,하이트진로,K1000067,박문덕,하이트진로홀딩스,18,공시대상기업집단,일반,1,1.0,[하이트진로홀딩스],하이트진로,1,0,unifiedHldStruc
54,삼양,K1000033,김윤,삼양홀딩스,11,공시대상기업집단,일반,1,1.0,[삼양홀딩스],삼양사,1,0,unifiedHldStruc
55,대방건설,K3000189,구교운,대방건설,43,공시대상기업집단,일반,0,NaN,NaN,대방건설,0,0,etc.
56,현대해상화재보험,K3000198,정몽윤,현대해상화재보험,21,공시대상기업집단,일반,0,NaN,NaN,현대해상화재보험,0,0,etc.
57,엠디엠,K3000184,문주현,엠디엠,22,공시대상기업집단,일반,0,NaN,NaN,엠디엠플러스,0,0,etc.
58,아이에스지주,K3000167,권혁운,아이에스지주,46,공시대상기업집단,일반,1,1.0,[아이에스지주],아이에스동서,1,0,unifiedHldStruc
59,중앙,K2000062,홍석현,중앙홀딩스,56,공시대상기업집단,일반,1,1.0,[제이콘텐트리],메가박스중앙,1,0,unifiedHldStruc

In [118]:
dfOwn.head()

,firmid,fid,ultown,avpos,sd,steps,loop,lastcontrol,central,grpname2
0,5086.0,1.0,0.003715,4.142763,3.0,NaN,0.0,8.0,0.163265,유진
1,102640.0,2.0,0.103584,3.275612,3.0,NaN,0.0,29.0,0.755102,유진
2,165401.0,3.0,0.388302,2.172676,2.0,NaN,0.0,38.0,1.551020,유진
3,166364.0,4.0,1.000000,1.000000,1.0,NaN,0.0,100.0,1.632652,유진
4,202487.0,5.0,0.125871,3.012328,2.0,NaN,0.0,29.0,0.000000,유진

In [119]:
dfChaebol21.head()

,unityGrupNm,unityGrupCode,smerNm,repreCmpny,sumCmpnyCo,invstmntLmtt,entrprsCl,hldExist,nHld,hldCmpnyList,coreAffilNm,hldStruc,loopExist,ownStrucType
0,삼성,K1000032,이재용,삼성전자,59,상호출자제한집단,일반,0,NaN,NaN,삼성생명보험,0,0,etc.
1,현대자동차,K3000027,정의선,현대자동차,53,상호출자제한집단,일반,0,NaN,NaN,현대자동차,0,1,etc.
2,에스케이,K1000050,최태원,에스케이,148,상호출자제한집단,일반,1,4.0,"[에스케이이노베이션, 에스케이, 에스케이디스커버리, 에스케이씨에프티홀딩스]",에스케이하이닉스,1,0,hldStruc
3,엘지,K1000051,구광모,엘지,70,상호출자제한집단,일반,1,1.0,[엘지],엘지전자,1,0,unifiedHldStruc
4,롯데,K1000027,신동빈,롯데지주,86,상호출자제한집단,일반,1,1.0,[롯데지주],롯데쇼핑,1,0,unifiedHldStruc

In [124]:
lOwnershipInput = []
for grp in dfChaebol21['unityGrupNm'].unique():
    df = pd.read_excel(f"../data/almeida/2021/in/{grp}/{grp}2021raw.xlsx")
    lOwnershipInput.append(df)
dfOwnershipInput = pd.concat(lOwnershipInput)
print(len(dfOwnershipInput))
dfOwnershipInput.head()

6795

,금융비금융,grpname2,grpname,grpcode,firmname,firmid,type,own,own2,ownername,ownerid
0,비금융회사,삼성,samsung,511,멀티캠퍼스,145888,0,0.000000,0.001270,NaN,NaN
1,비금융회사,삼성,samsung,511,멀티캠퍼스,145888,1,0.472432,0.472432,삼성에스디에스,820717.0
2,비금융회사,삼성,samsung,511,멀티캠퍼스,145888,1,0.151580,0.151580,삼성경제연구소,814130.0
3,비금융회사,삼성,samsung,511,멀티캠퍼스,145888,99,0.374719,0.374719,NaN,NaN
4,비금융회사,삼성,samsung,511,미라콤아이앤씨,173255,0,0.000000,0.007189,NaN,NaN

In [130]:
dfVr = pd.DataFrame(dfOwnershipInput[dfOwnershipInput['type'] != 99.].groupby("firmid")['own2'].sum()).reset_index()
dfVr.columns = ['firmid', 'vr']
dfVr.head()

   firmid        vr
0    1821  0.500000
1    5086  0.359533
2    6687  0.207526
3    7080  1.000000
4    7131  1.000000

In [131]:
dfOwn.head()

,firmid,fid,ultown,avpos,sd,steps,loop,lastcontrol,central,grpname2
0,5086.0,1.0,0.003715,4.142763,3.0,NaN,0.0,8.0,0.163265,유진
1,102640.0,2.0,0.103584,3.275612,3.0,NaN,0.0,29.0,0.755102,유진
2,165401.0,3.0,0.388302,2.172676,2.0,NaN,0.0,38.0,1.551020,유진
3,166364.0,4.0,1.000000,1.000000,1.0,NaN,0.0,100.0,1.632652,유진
4,202487.0,5.0,0.125871,3.012328,2.0,NaN,0.0,29.0,0.000000,유진

In [132]:
dfChaebol21.head()

,unityGrupNm,unityGrupCode,smerNm,repreCmpny,sumCmpnyCo,invstmntLmtt,entrprsCl,hldExist,nHld,hldCmpnyList,coreAffilNm,hldStruc,loopExist,ownStrucType
0,삼성,K1000032,이재용,삼성전자,59,상호출자제한집단,일반,0,NaN,NaN,삼성생명보험,0,0,etc.
1,현대자동차,K3000027,정의선,현대자동차,53,상호출자제한집단,일반,0,NaN,NaN,현대자동차,0,1,etc.
2,에스케이,K1000050,최태원,에스케이,148,상호출자제한집단,일반,1,4.0,"[에스케이이노베이션, 에스케이, 에스케이디스커버리, 에스케이씨에프티홀딩스]",에스케이하이닉스,1,0,hldStruc
3,엘지,K1000051,구광모,엘지,70,상호출자제한집단,일반,1,1.0,[엘지],엘지전자,1,0,unifiedHldStruc
4,롯데,K1000027,신동빈,롯데지주,86,상호출자제한집단,일반,1,1.0,[롯데지주],롯데쇼핑,1,0,unifiedHldStruc

In [134]:
dfCcVr = dfOwn.merge(dfChaebol21[['unityGrupNm', 'loopExist', 'ownStrucType']], how='left',\
                     left_on='grpname2', right_on='unityGrupNm').drop(columns=['unityGrupNm']).merge(dfVr,
                                                                                                     on='firmid', how='left')
dfCcVr.head()

,firmid,fid,ultown,avpos,sd,steps,loop,lastcontrol,central,grpname2,loopExist,ownStrucType,vr
0,5086.0,1.0,0.003715,4.142763,3.0,NaN,0.0,8.0,0.163265,유진,0,etc.,0.359533
1,102640.0,2.0,0.103584,3.275612,3.0,NaN,0.0,29.0,0.755102,유진,0,etc.,1.000000
2,165401.0,3.0,0.388302,2.172676,2.0,NaN,0.0,38.0,1.551020,유진,0,etc.,1.000000
3,166364.0,4.0,1.000000,1.000000,1.0,NaN,0.0,100.0,1.632652,유진,0,etc.,1.000000
4,202487.0,5.0,0.125871,3.012328,2.0,NaN,0.0,29.0,0.000000,유진,0,etc.,1.000000

In [135]:
dfFam1 = pd.DataFrame(dfOwnershipInput[dfOwnershipInput['type'] == 0]\
                      .groupby("firmid")['own'].sum()).reset_index()
dfFam1.columns = ['firmid', 'fam1']
dfFam1.head()

   firmid      fam1
0    1821  0.000000
1    5086  0.000000
2    6687  0.000515
3    7080  1.000000
4    7131  0.511611

In [140]:
dfCcVrFam1 = dfCcVr.merge(dfFam1, on='firmid', how='left')
dfCcVrFam1.head()

,firmid,fid,ultown,avpos,sd,steps,loop,lastcontrol,central,grpname2,loopExist,ownStrucType,vr,fam1
0,5086.0,1.0,0.003715,4.142763,3.0,NaN,0.0,8.0,0.163265,유진,0,etc.,0.359533,0.0
1,102640.0,2.0,0.103584,3.275612,3.0,NaN,0.0,29.0,0.755102,유진,0,etc.,1.000000,0.0
2,165401.0,3.0,0.388302,2.172676,2.0,NaN,0.0,38.0,1.551020,유진,0,etc.,1.000000,0.0
3,166364.0,4.0,1.000000,1.000000,1.0,NaN,0.0,100.0,1.632652,유진,0,etc.,1.000000,1.0
4,202487.0,5.0,0.125871,3.012328,2.0,NaN,0.0,29.0,0.000000,유진,0,etc.,1.000000,0.0

In [141]:
dfAffil = pd.DataFrame(dfOwnershipInput[dfOwnershipInput['type'] == 1].groupby("firmid")['own'].sum()).reset_index()
dfAffil.columns = ['firmid', 'affil']
dfAffil.head()

   firmid     affil
0    1821  0.500000
1    5086  0.359320
2    6687  0.200003
3    7158  0.339500
4    7960  0.804752

In [142]:
dfCcVrFam1Affil = dfCcVrFam1.merge(dfAffil, on='firmid', how='left')
dfCcVrFam1Affil.head()

,firmid,fid,ultown,avpos,sd,steps,loop,lastcontrol,central,grpname2,loopExist,ownStrucType,vr,fam1,affil
0,5086.0,1.0,0.003715,4.142763,3.0,NaN,0.0,8.0,0.163265,유진,0,etc.,0.359533,0.0,0.35932
1,102640.0,2.0,0.103584,3.275612,3.0,NaN,0.0,29.0,0.755102,유진,0,etc.,1.000000,0.0,1.00000
2,165401.0,3.0,0.388302,2.172676,2.0,NaN,0.0,38.0,1.551020,유진,0,etc.,1.000000,0.0,1.00000
3,166364.0,4.0,1.000000,1.000000,1.0,NaN,0.0,100.0,1.632652,유진,0,etc.,1.000000,1.0,NaN
4,202487.0,5.0,0.125871,3.012328,2.0,NaN,0.0,29.0,0.000000,유진,0,etc.,1.000000,0.0,1.00000

In [143]:
dfCcVrFam1Affil['wedge1'] = (dfCcVrFam1Affil['lastcontrol'] / 100) - dfCcVrFam1Affil['ultown']
dfCcVrFam1Affil['wedge2'] = dfCcVrFam1Affil['vr'] - dfCcVrFam1Affil['ultown']

In [144]:
dfCcVrFam1Affil.head()

,firmid,fid,ultown,avpos,sd,steps,loop,lastcontrol,central,grpname2,loopExist,ownStrucType,vr,fam1,affil,wedge1,wedge2
0,5086.0,1.0,0.003715,4.142763,3.0,NaN,0.0,8.0,0.163265,유진,0,etc.,0.359533,0.0,0.35932,0.076285,0.355818
1,102640.0,2.0,0.103584,3.275612,3.0,NaN,0.0,29.0,0.755102,유진,0,etc.,1.000000,0.0,1.00000,0.186416,0.896416
2,165401.0,3.0,0.388302,2.172676,2.0,NaN,0.0,38.0,1.551020,유진,0,etc.,1.000000,0.0,1.00000,-0.008302,0.611698
3,166364.0,4.0,1.000000,1.000000,1.0,NaN,0.0,100.0,1.632652,유진,0,etc.,1.000000,1.0,NaN,0.000000,0.000000
4,202487.0,5.0,0.125871,3.012328,2.0,NaN,0.0,29.0,0.000000,유진,0,etc.,1.000000,0.0,1.00000,0.164129,0.874129

In [145]:
dfCcVrFam1Affil.to_excel("../data/ownership-report/ownershipStructure2021.xlsx")