In [1]:
import sys
sys.path.append('../scripts')

from os import path
from utils import cleanCmpnyNm, getGrpCmpnyDict, convertCmpnyNm
import numpy as np
import pandas as pd

# 2019

In [27]:
year = 2019
dfCmpnySumry = pd.read_excel(f'../data/cmpnySumry/cmpnySumry{year}Kor.xlsx')
dfCmpnySumry.head()

,공개년월,회계년,기업집단명,소속회사명,대표자,설립일,계열편입일,업종코드,영위업종,종업원수,...,자산총액,부채총액,자본총액,자본금,매출액,당기순이익,구분,법인등록번호,year2,rcmgCode
0,201905,2018,DB,디비생명보험(주),이태운,1989/04/14,1997/01/03,K65,보험 및 연금업,563,...,"10,887,144","10,296,289","590,855","193,331","2,180,825","24,637",금융보험업,1101110623606,2019,821420.0
1,201905,2018,DB,디비금융서비스(주),황원기,2014/01/13,2014/03/01,K66,금융 및 보험관련 서비스업,30,...,"6,057","2,460","3,597","14,001","13,311","-2,499",금융보험업,1101115314474,2019,23044292.0
2,201905,2018,DB,디비에프아이에스(주),강운식,2014/12/01,2018/06/01,J62,"컴퓨터 프로그래밍, 시스템 통합 및 관리업",217,...,"47,579","5,854","41,725","1,000","47,269","12,063",일반회사,1101115576727,2019,24038019.0
3,201905,2018,DB,디비금융투자(주),고원종,1982/12/20,1982/12/20,K66,금융 및 보험관련 서비스업,892,...,"5,428,689","4,794,353","634,336","212,232","725,156","46,854",금융보험업,1101110339956,2019,821640.0
4,201905,2018,DB,디비인베스트(주),최경진,2009/11/16,2010/01/04,M71,전문 서비스업,1,...,"14,912","17,943","-3,031","306,500",933,-267,일반회사,1101114220359,2019,16003715.0

In [33]:
dfCmpnySumry['매출액Val'] = dfCmpnySumry['매출액']
dfCmpnySumry['매출회사id'] = dfCmpnySumry['rcmgCode'] 
dfCmpnySumry['매입회사id'] = dfCmpnySumry['rcmgCode']

In [34]:
dfCmpnySumry['매출회사'] = cleanCmpnyNm(dfCmpnySumry['소속회사명'])
dfCmpnySumry['매입회사'] = cleanCmpnyNm(dfCmpnySumry['소속회사명'])

In [35]:
dfCmpnySumry[dfCmpnySumry['rcmgCode'].isna()]

,공개년월,회계년,기업집단명,소속회사명,대표자,설립일,계열편입일,업종코드,영위업종,종업원수,...,당기순이익,구분,법인등록번호,year2,rcmgCode,매출액Val,매출회사id,매입회사id,매출회사,매입회사
1962,201905,2018,네이버,(주)락스퀘어,조성환,2017/04/28,2018/03/01,J58,출판업,30,...,"-2,170",일반회사,1101116389757,2019,NaN,0,NaN,NaN,락스퀘어,락스퀘어

In [36]:
dfCmpnySumry.head()

,공개년월,회계년,기업집단명,소속회사명,대표자,설립일,계열편입일,업종코드,영위업종,종업원수,...,당기순이익,구분,법인등록번호,year2,rcmgCode,매출액Val,매출회사id,매입회사id,매출회사,매입회사
0,201905,2018,DB,디비생명보험(주),이태운,1989/04/14,1997/01/03,K65,보험 및 연금업,563,...,"24,637",금융보험업,1101110623606,2019,821420.0,"2,180,825",821420.0,821420.0,디비생명보험,디비생명보험
1,201905,2018,DB,디비금융서비스(주),황원기,2014/01/13,2014/03/01,K66,금융 및 보험관련 서비스업,30,...,"-2,499",금융보험업,1101115314474,2019,23044292.0,"13,311",23044292.0,23044292.0,디비금융서비스,디비금융서비스
2,201905,2018,DB,디비에프아이에스(주),강운식,2014/12/01,2018/06/01,J62,"컴퓨터 프로그래밍, 시스템 통합 및 관리업",217,...,"12,063",일반회사,1101115576727,2019,24038019.0,"47,269",24038019.0,24038019.0,디비에프아이에스,디비에프아이에스
3,201905,2018,DB,디비금융투자(주),고원종,1982/12/20,1982/12/20,K66,금융 및 보험관련 서비스업,892,...,"46,854",금융보험업,1101110339956,2019,821640.0,"725,156",821640.0,821640.0,디비금융투자,디비금융투자
4,201905,2018,DB,디비인베스트(주),최경진,2009/11/16,2010/01/04,M71,전문 서비스업,1,...,-267,일반회사,1101114220359,2019,16003715.0,933,16003715.0,16003715.0,디비인베스트,디비인베스트

In [37]:
dfAppnGroupSttus = pd.read_excel(f"../data/grpSumry/appnGroupSttus/appnGroupSttus{year}.xlsx")
dfAppnGroupSttus = dfAppnGroupSttus[dfAppnGroupSttus['smerNm'].str.len() <= 3]
dfAppnGroupSttus = dfAppnGroupSttus.reset_index().drop(columns=['index'])
dfAppnGroupSttus['repreCmpny'] = cleanCmpnyNm(dfAppnGroupSttus['repreCmpny'])
dfAppnGroupSttus

,unityGrupNm,unityGrupCode,smerNm,repreCmpny,sumCmpnyCo,invstmntLmtt,entrprsCl
0,삼성,K1000032,이재용,삼성전자,62,상호출자제한집단,일반
1,현대자동차,K3000027,정몽구,현대자동차,53,상호출자제한집단,일반
2,에스케이,K1000050,최태원,에스케이,111,상호출자제한집단,일반
3,엘지,K1000051,구광모,엘지,75,상호출자제한집단,일반
4,롯데,K1000027,신동빈,롯데지주,95,상호출자제한집단,일반
5,한화,K1000082,김승연,한화,75,상호출자제한집단,일반
6,지에스,K3000076,허창수,지에스,64,상호출자제한집단,일반
7,현대중공업,K3000052,정몽준,한국조선해양,31,상호출자제한집단,일반
8,신세계,K1000042,이명희,신세계,40,상호출자제한집단,일반
9,한진,K1000081,조원태,한진칼,32,상호출자제한집단,일반
10,씨제이,K1000055,이재현,씨제이,75,상호출자제한집단,일반
11,두산,K1000026,박정원,두산,23,상호출자제한집단,일반
12,부영,K2000060,이중근,부영,24,상호출자제한집단,일반
13,엘에스,K3000062,구자홍,엘에스,53,상호출자제한집단,일반
14,대림,K1000011,이준용,디엘,26,상호출자제한집단,일반
15,미래에셋,K3000093,박현주,미래에셋캐피탈,38,상호출자제한집단,일반
16,현대백화점,K1000087,정지선,현대백화점,28,상호출자제한집단,일반
17,효성,K1000086,조석래,효성,57,상호출자제한집단,일반
18,한국투자금융,K3000110,김남구,한국투자금융지주,30,상호출자제한집단,일반
19,영풍,K1000052,장형진,영풍,24,상호출자제한집단,일반
20,하림,K3000121,김홍국,하림지주,53,상호출자제한집단,일반
21,교보생명보험,K3000065,신창재,교보생명보험,14,상호출자제한집단,일반
22,금호아시아나,K1000008,박삼구,금호건설,27,상호출자제한집단,일반
23,코오롱,K1000059,이웅열,코오롱,41,상호출자제한집단,일반
24,오씨아이,K1000024,이우현,오씨아이,19,상호출자제한집단,일반
25,카카오,K3000137,김범수,카카오,71,상호출자제한집단,일반
26,에이치디씨,K2000057,정몽규,에이치디씨,24,상호출자제한집단,일반
27,케이씨씨,K1000001,정몽진,케이씨씨,15,상호출자제한집단,일반
28,SM,K3000134,우오현,티케이케미칼,65,공시대상기업집단,일반
29,중흥건설,K3000139,정창선,중흥건설,34,공시대상기업집단,일반
30,한국타이어,K1000074,조양래,한국앤컴퍼니,25,공시대상기업집단,일반
31,세아,K1000041,이순형,세아홀딩스,24,공시대상기업집단,일반
32,태광,K1000060,이호진,태광산업,23,공시대상기업집단,일반
33,이랜드,K2000038,박성수,이랜드월드,29,공시대상기업집단,일반
34,셀트리온,K3000135,서정진,셀트리온홀딩스,10,공시대상기업집단,일반
35,DB,K1000021,김준기,디비아이엔씨,20,공시대상기업집단,일반
36,호반건설,K3000145,김상열,호반건설,33,공시대상기업집단,일반
37,네이버,K3000138,이해진,네이버,42,공시대상기업집단,일반
38,태영,K2000045,윤세영,태영건설,53,공시대상기업집단,일반
39,넥슨,K3000119,김정주,엔엑스씨,21,공시대상기업집단,일반
40,동원,K1000025,김재철,동원엔터프라이즈,24,공시대상기업집단,일반
41,한라,K1000076,정몽원,한라홀딩스,15,공시대상기업집단,일반
42,아모레퍼시픽,K1000062,서경배,아모레퍼시픽그룹,13,공시대상기업집단,일반
43,삼천리,K2000025,이만득,삼천리,20,공시대상기업집단,일반
44,동국제강,K1000020,장세주,동국제강,12,공시대상기업집단,일반
45,유진,K3000161,유경선,유진기업,54,공시대상기업집단,일반
46,금호석유화학,K3000140,박찬구,금호석유화학,11,공시대상기업집단,일반
47,하이트진로,K1000067,박문덕,하이트진로홀딩스,17,공시대상기업집단,일반
48,넷마블,K3000162,방준혁,넷마블,23,공시대상기업집단,일반
49,애경,K2000035,장영신,에이케이홀딩스,40,공시대상기업집단,일반
50,다우키움,K3000156,김익래,키움증권,57,공시대상기업집단,일반

In [38]:
for grp in dfAppnGroupSttus['unityGrupNm']:
    dfTrans = pd.read_excel(f"../data/transactions/{year}/{grp}.xlsx")
    dfTrans['매출액총계'] = dfTrans['국내매출액'] + dfTrans['해외매출액']
    dfTrans['year2'] = year
    dfTrans['year'] = year - 1
    dfTrans['grpname2'] = grp
    
    
    if grp in ['엘에스', '미래에셋', '태영', 'DB', 'KG']:
        transactions = convertCmpnyNm(transactions, grp)
    
    dfTrans.merge(dfCmpnySumry[['매출회사']])
    
    break

In [ ]:
dfTrans = pd.read_excel(f"../data/transactions/{year}/")

In [17]:
# merge cmpnySumry
lCmpnySumry = []
for year in range(2020, 2022):
    df = pd.read_excel(f'../data/cmpnySumry/cmpnySumry{year}Kor.xlsx')
    lCmpnySumry.append(df)
    print(len(list(df.columns)))
dfCmpnySumry = pd.concat(lCmpnySumry, axis=0)
dfCmpnySumry.head()

23
23

,공개년월,회계년,기업집단명,소속회사명,대표자,설립일,계열편입일,업종코드,영위업종,종업원수,...,자산총액,부채총액,자본총액,자본금,매출액,당기순이익,구분,법인등록번호,year2,rcmgCode
0,202005,2019,넥슨,(유)가승개발,서춘식,2016/01/21,2016/01/21,R91,스포츠 및 오락관련 서비스업,3,...,"15,208","6,064","9,144",100,0,-465,일반회사,1345140003989,2020,1.802408e+09
1,202005,2019,지에스,(유)가승개발,서춘식,2016/01/21,2016/04/01,R91,스포츠 및 오락관련 서비스업,3,...,"15,208","6,064","9,144",100,NaN,-465,일반회사,1345140003989,2020,1.802408e+09
2,202005,2019,카카오,(유)매디슨카운티의다리,이명한,2016/11/16,2020/02/03,R90,"창작, 예술 및 여가관련 서비스업",0,...,11,28,-17,10,3,2,일반회사,1101140192605,2020,1.803409e+09
3,202005,2019,엘에스,(유)빌드윈문경태양광발전,김선철,2018/12/11,2019/02/01,D35,"전기, 가스, 증기 및 공기 조절 공급업",1,...,331,0,331,331,0,0,일반회사,1754140000582,2020,2.102105e+09
4,202005,2019,엘에스,(유)빌드윈인동태양광발전,김선철,2018/12/11,2019/02/01,D35,"전기, 가스, 증기 및 공기 조절 공급업",1,...,"4,883","4,140",743,756,0,-13,일반회사,1760140002014,2020,2.102105e+09

In [18]:
dfCmpnySumry.shape

(4896, 23)

In [19]:
dfCmpnySumry.columns

Index(['공개년월', '회계년', '기업집단명', '소속회사명', '대표자', '설립일', '계열편입일', '업종코드', '영위업종',
       '종업원수', '결산기일', '결산주총일', '기업공개일', '자산총액', '부채총액', '자본총액', '자본금', '매출액',
       '당기순이익', '구분', '법인등록번호', 'year2', 'rcmgCode'],
      dtype='object')

In [20]:
len(dfCmpnySumry.columns)

23

In [22]:
dfCmpnySumry.columns = ['publicYm', 'fisclYr', 'unityGrupNm', 'entrprsNm', 'rprsntvNm', 'fondDe',\
                          'grinil', 'indutyCode', 'indutyNm', 'ordtmEmplyCo', 'stacntDudt', 'beforeBsnsStacntDe',\
                          'entrprsOthbcDe', 'assetsTotamt', 'debtTotamt', 'caplTotamt', 'caplAmount', 'selngAmount', 'thstrmNtpfAmount',\
                          'reconstrctur', 'jurirno', 'year2', 'rcmgCode']

In [23]:
dfCmpnySumry['entrprsNm'] = cleanCmpnyNm(dfCmpnySumry['entrprsNm'])
dfCmpnySumry['entrprsNm'].nunique()

2833

In [8]:
dfCmpnySumry.to_excel(f'../cmpnySumry2001-2021Eng.xlsx')

In [10]:
dfCmpnySumry.columns

Index(['publicYm', 'fisclYr', 'unityGrupNm', 'entrprsNm', 'rprsntvNm',
       'fondDe', 'grinil', 'indutyCode', 'indutyNm', 'ordtmEmplyCo',
       'stacntDudt', 'beforeBsnsStacntDe', 'entrprsOthbcDe', 'assetsTotamt',
       'debtTotamt', 'caplTotamt', 'caplAmount', 'selngAmount',
       'thstrmNtpfAmount', 'reconstrctur', 'jurirno', 'year2', 'rcmgCode'],
      dtype='object')

In [ ]:
dfCmpnySumry.columns = ['publicYm', 'fisclYr', 'unityGrupNm', 'entrprsNm', 'rprsntvNm', 'fondDe',\
                        'grinil', 'indutyCode', 'indutyNm', 'ordtmEmplyCo', 'stacntDudt', 'beforeBsnsStacntDe',\
                        'entrprsOthbcDe', 'assetsTotamt', 'debtTotamt', 'caplTotamt', 'caplAmount', 'selngAmount', 'thstrmNtpfAmount',\
                        'reconstrctur', 'jurirno', 'year2']

# 2019